<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
{% include "components/head.html" %}	
		<title>Кельтская новь – Список прозвучавших мелодий и песен</title>
	</head>
	<body>
{% include "components/header.html" %}
{% include "components/menu.html" %}
		<div class="content">
			<div class="center">
				<img src="/images/celtic.png" width="800px" height="268px" alt=""/>
			</div>
			<h1>Список прозвучавших мелодий и песен (выпуски 1–42)</h1>
			<div style="text-align: left;">
				Alambic - Ballotage favorable<br/>
				Alan Munde – The girl I left behind<br/>
				Alan Stivell – Terre de vivants<br/>
				Alexandre Desplat – Stunt Expo 2004<br/>
				Alison Krauss – Down in the river to pray<br/>
				Altan – Jug of punch<br/>
				Altan – The king of Meenasillagh / Lamey's / The high fiddle reel<br/>
				Andy M. Stewart – Hey how Johnie Lad<br/>
				Andrea Capezzuoli e Compagnia – Brave soldat / Reel Arthur<br/>
				Andrea Capezzuoli e Compagnia – Garçon Marinier<br/>
				Andrea Capezzuoli e Compagnia – Polka chinoise<br/>
				Andrea Capezzuoli e Compagnia – Reel Saint Jean<br/>
				Angelo DiPippo – Balla la nonna<br/>
				Angelo DiPippo – Come facette mammeta<br/>
				Angelo DiPippo – Foto polka<br/>
				Angelo DiPippo – Godfather mazurka<br/>
				Angelo DiPippo - La piu` bella mazurca<br/>
				Angelo DiPippo – Qadriglia saltarello<br/>
				Angelo DiPippo – Sicilian tarantella<br/>
				Angelo DiPippo – Tarantella allegra<br/>
				Angelo DiPippo – Tarantella cosentina<br/>
				Angelo DiPippo – Tarantella mafiosa<br/>
				Angelo DiPippo – Tarantella napoletana<br/>
				Amestoy Trio – La valse twiste<br/>
				Ar Re Yaouank – An toul<br/>
				Ari Pulkkinen – Snake, oh it's snake!<br/>
				Arizona Smoke Revue – Grandfather's clock<br/>
				Ashley Hutchings – Long odds / Mister Cosgills delight<br/>
				Avis Dei – Running footman<br/>
				Avis Dei – Saltarello 2<br/>
				Bare Necessities – Prince William<br/>
				Bare Necessities – The female saylor<br/>
				Becky Taylor – Rattle the cash<br/>
				Becky Tailor – The lady's cup of tea<br/>
				Béla Fleck – Double play<br/>
				Béla Fleck – Chopin: Mazurka in F-sharp minor, op. 59, no. 3<br/>
				Bobby Gardiner – Jigs: Maid on the spinning wheel / Do you want any more<br/>
				Bobby Gardiner – Reels: Mountain road / West along the road<br/>
				Bill Monroe – Rocky road blues<br/>
				Brian Finnegan, Kan – Noble<br/>
				Buena Vista Social Club – Amor de loca jventud<br/>
				Buena Vista Social Club – Buena Vista Social Club<br/>
				Buena Vista Social Club – El carretero<br/>
				Buena Vista Social Club – Orgullecida<br/>
				Buena Vista Social Club – Viente anos<br/>
				Cheryl Ann Fulton – Romanesca<br/>
				Chris Dewhurst, Sue Stapledon – Newcastle<br/>
				Chris Dewhurst, Sue Stapledon – Spanish jigg<br/>
				Clann Lir – Black is the colour<br/>
				Clann Lir – Cân crwtyn y gwartheg (Cowboi)<br/>
				Clann Lir – Colm cille na feile<br/>
				Clann Lir – Hornpipes<br/>
				Clann Lir – Kemp’s jig<br/>
				Clann Lir – My son in Americay<br/>
				Clannad – An gabhar bán<br/>
				Clannad – By chance it was<br/>
				Clannad – Chuaigh mé na rosann<br/>
				Clannad – Coinleach glas an fhómhair<br/>
				Clannad – Dhéanainn súgradh<br/>
				Clannad – Eleanor Plunkett<br/>
				Clannad – Fairly shot of her<br/>
				Clannad – Gaoth barra na dtonn<br/>
				Clannad – Rince briotánach<br/>
				Clannad – Rince Philib a'cheoil<br/>
				Clannad – Teidhir abhaile riú<br/>
				Cliar – Bruce's reels<br/>
				Cliar – Cailleach an Airgid / Rachainn a shuiridh air Oighrig<br/>
				Cliar – Ingy's jigs<br/>
				Corona Borealis – La rotta<br/>
				Country Gazette – Saint Anne's reel<br/>
				Crasdant – Jigiau'r goron<br/>
				Crasdant – Nos Sadwrn bach (Not yet Saturday)<br/>
				Crasdant – Pibddawns trefynwy<br/>
				Christina Pluhar, L'arpeggiata – El guapo<br/>
				Christina Pluhar, L'arpeggiata – Fandango<br/>
				Christina Pluhar, L'arpeggiata – Moresca<br/>
				Christina Pluhar, L'arpeggiata – Pizzicarella mia<br/>
				Christina Pluhar, L'arpeggiata – Tarantella calabrese<br/>
				Dalla – Ann Tremallan / Farewell maidens all<br/>
				Dalla – Maggie May<br/>
				Dalla – Seventeenth comes Sunday<br/>
				Dancing Willow – Sally gardens<br/>
				Dead Can Dance – Saltarello<br/>
				Die Streuner – Dans les prisons de Nantes<br/>
				Die Streuner – The glenside polka<br/>
				Die Streuner – Tourdion<br/>
				Die Streuner – Trink ich Wein oder Bier<br/>
				Die Streuner – Wein, Weib und Gesang<br/>
				Daniel Olsén - March of the Ilomilos<br/>
				David Arnold, Michael Price – Deeper into Baskerville<br/>
				Djal – L'école des lucioles<br/>
				Donovan – Lord of the dance<br/>
				Dorothée Wortelboer, Accademia Amsterdam – Gigue pour une femme seul<br/>
				Dorothée Wortelboer, Accademia Amsterdam – La mariée<br/>
				Drolls – Kalenda maya<br/>
				Drolls – Miragres fremosos<br/>
				Drolls – Pase el aqua<br/>
				Drolls – Saltarello #3<br/>
				Drolls – Tourdion<br/>
				Duerna – Les coples<br/>
				Duo Absynthe – Albiztur<br/>
				Eddie Izzard – Being for the benefit of Mr. Kite<br/>
				El Son Entero – Desame mucho<br/>
				Elliot Goldenthal – The journey<br/>
				Ensemble Buon Tempo – Daphne<br/>
				Ensemble Kapsberger – Canarios (composed by Santiago de Murcia)<br/>
				Ensemble Kapsberger – Tarantella II (composed by Santiago de Murcia)<br/>
				Felix Dima Cuartero – Marieta<br/>
				Fernhill – Cowboi<br/>
				Fernhill – March glas<br/>
				Fernhill – Wasod<br/>
				Field Music – Suzanne<br/>
				Fisherman's Friends – Bully in the alley<br/>
				Fisherman's Friends – Sailor ain't a sailor<br/>
				Flook – E flat reels<br/>
				Francine Lancelot, Ris et Danseries – Contredanse<br/>
				Francine Lancelot, Ris et Danseries – Sarabande<br/>
				Franzl Lang - Ein Tiroler wollte jagen<br/>
				Gillian Welch, Alison Krauss, Emmylou Harris – Didn't leave nоbody but the baby<br/>
				Gustav Leonhardt – Galliard<br/>
				Gustav Leonhardt – Sonata No. 4 in C: Giga<br/>
				Hille Perl, Lee Santana – Aire<br/>
				Hille Perl, Lee Santana – Chaconne<br/>
				Hille Perl, Lee Santana – Feste champetre<br/>
				Hille Perl, Lee Santana – Folies d'Espagne<br/>
				Hille Perl, Lee Santana – Gigue la chicane<br/>
				Hille Perl – Suite in D: I. Ouverture<br/>
				Hotel Palindrone – Ländler / Alpine muineira / Matavenero I<br/>
				Hotel Palindrone – Ländler / Alpine muineira / Matavenero II<br/>
				Ian Anderson – Old black cat<br/>
				Ian Whitcomb, The White Star Orchestra – The merry widow waltz (composer unknown)<br/>
				Jethro Tull – God rest ye merry gentlemen<br/>
				John Rutter, The Cambridge Singers – Ding dong merrily on high<br/>
				John Whelan – Polkas: Flirting with the edge; Rockaway beach; Emmett's revenge<br/>
				John Whelan – Reels: January's journey; DD's car<br/>
				John Whelan – Riverboat set: Denis Dillon's / Square dance polka / Dancing on the riverboat<br/>
				Jordi Savall, Hesperion XXI – Istampitta: La manfredina<br/>
				Jordi Savall, Hesperion XXI – Istampitta: Saltarello I<br/>
				Jordi Savall, Hesperion XXI – Saltarello<br/>
				Jordi Savall, Le Concert des Nations – Allegro from Concerto Brandenbourgeois en re majeur<br/>
				Jordi Savall, Le Concert des Nations – Chaconne des scaramouches, trivelins et arlequins<br/>
				Jordi Savall, Le Concert des Nations – Les nimphes de la Grenouillere<br/>
				Jordi Savall, Le Concert des Nations – Passacaille from “Armide”<br/>
				Jordi Savall – Couplets de Folies<br/>
				Jordi Savall – Folia para quien crie cabellos<br/>
				Jordi Savall – Folia (composed by Rodrigo Martinez)<br/>
				Jordi Savall – Miss Sally Hunter of Thurston jig<br/>
				Jordi Savall – The cup of tea<br/>
				Jordi Savall – The musical priest / Scotch Mary<br/>
				Keith Smith, Green Ginger – Clutha<br/>
				Keith Smith, Green Gigner – La poule from first set of quadrilles<br/>
				Kevin Burke, Johnny Cunningham, Christian Lemaitre – Hector the hero<br/>
				Kitus – Adèle Blanc-Sec / Badinerie / 25C Rue Moreil Ladeuil<br/>
				Komred – Para lo lop / Cinq garçons<br/>
				Komred - Polka du quartier<br/>
				La bandina – La sueca de conforcos / La polca<br/>
				La bandina – Muñeira<br/>
				La bandina l'tombo – Mul.leirosu<br/>
				La bandina l'tombo – Valbon<br/>
				La machine – Tes histoires / Les cartes<br/>
				Lawrence Nugent – Hector the hero<br/>
				Leipziger Barockorchester – Entrée pour une femme – Forlane<br/>
				Leipziger Barockorchester – La forlana<br/>
				Leonard Cohen – Lullaby<br/>
				Les brayauds - La valse a Dede<br/>
				Les round baleurs - A Bordeaux<br/>
				Les round baleurs - C'était une jeune fille<br/>
				Loituma – Ievan pollka<br/>
				Los Gaiteros de Moscu – A ruada / A pequerrecha<br/>
				Los Gaiteros de Moscu – Marcha do Entrelazado de Allariz / Muiñeira de Tomaleo<br/>
				Los Gaiteros de Moscu – Miña maruxa<br/>
				Los Gaiteros de Moscu – Rond a Lois Ruellan / Rond a Froncois Lefeufre / Rond a Ploeuc<br/>
				Los Gaiteros de Moscu – Valse picado<br/>
				Los Herederos – Que rico son<br/>
				Loudon Wainwright III – Carrickfergus<br/>
				Luc Arbogast – Tarantella<br/>
				Ludovic Bource – Imagination<br/>
				Lúnasa – Island Paddy: Rathlin island / Sporting Paddy<br/>
				Lúnasa – Mí na nollag: Kerfunten / Eddie Kelly's / Give us a drink of water<br/>
				Lúnasa – Morning nightcap<br/>
				Lúnasa – Spoil the dance: Cillian's midnight dip / Tuttles reel / Spoil the dance<br/>
				Lúnasa – Taylor bar, 4am / Ceol na mara<br/>
				Lúnasa – The shore house: Inverness country reel / The beauty spot / The shore house reel<br/>
				Marc Minkowski – Air des matelots<br/>
				Mark Gilston – Drive the cold winter away<br/>
				Marnen Laibow-Koser– London Polka Quadrilles – Final (composer unknown)<br/>
				Matt Molloy, Sean Keane – Sword in the hand / The providence reel / The old bush<br/>
				Mervent – Ev sistr<br/>
				Mervent – Gwerz<br/>
				Mervent – Kimmage<br/>
				Mervent – Teñval eo an noz<br/>
				Mervent – Tri martolod<br/>
				Milladoiro – Foliada de berducido<br/>
				Milladoiro – Muiñeira de vilanoya<br/>
				Musica Antiqua Köln – Les folies d'Espagne (composed by Jean-Baptiste Lully)<br/>
				Naragonia – -17° C<br/>
				Naragonia - Anne's wals<br/>
				Naragonia – Kijkverdriet<br/>
				Naragonia Quartet – Batiska<br/>
				Naragonia Quartet – The Cherrytree / Le train / Copain planché<br/>
				Norman Blake – Big Rock Candy mountain<br/>
				Of Monsters and Men – Little talks<br/>
				Ogam – Em jigs<br/>
				Ogam – Sky boat song<br/>
				Ogam – Star of the County Down<br/>
				Old Horned Sheep – Astridin waltz<br/>
				Old Horned Sheep – Scotish G<br/>
				Old Horned Sheep – Seam Ryan's polka<br/>
				Old Horned Sheep – The blackbird<br/>
				Old Horned Sheep – The girl I left behind me<br/>
				Ossian – Lude's supper<br/>
				Ossian – Spootaskerry / The willow kishie / Simon's wart<br/>
				Paul Romero, Rob King, Steve Baca – Floating across water<br/>
				Peter Sarstedt – Where do you go to my lovely?<br/>
				Peter, Paul and Mary – The times they are a-changin'<br/>
				Peter, Paul and Mary – Gilgarra mountain<br/>
				Peter, Paul and Mary – Going to the zoo<br/>
				Peter, Paul and Mary – If I had a hammer<br/>
				Peter, Paul and Mary – Leaving on a jet plane<br/>
				Peter, Paul and Mary – Lemon tree<br/>
				Peter, Paul and Mary – Man come into Egypt<br/>
				Peter, Paul and Mary – Mon vrai destin<br/>
				Peter, Paul and Mary – Puff, the magic dragon<br/>
				Peter, Paul and Mary – San Francisco bay blues<br/>
				Peter, Paul and Mary – The marvelous toy<br/>
				Peter, Paul and Mary – The times they are a-changin'<br/>
				Peter, Paul and Mary – This land is your land<br/>
				Pipes and Drums – British grenadiers<br/>
				Planxty – Arthur McBride<br/>
				Planxty – Cunla<br/>
				Planxty – Jolly beggar<br/>
				Planxty – Kellswater<br/>
				Planxty – Polkas: Dennis Murphy's polka / The £42 cheque / John Ryan's polka<br/>
				Planxty – The blacksmith<br/>
				Planxty – The good ship Kangaroo<br/>
				Planxty – The rambling siúler<br/>
				Planxty – Thousands are sailing<br/>
				Planxty – Time will cure me<br/>
				Plethyn – Can y melinydd<br/>
				Plethyn – Pant-y-pistyll<br/>
				Plethyn – Ton ton ton!<br/>
				Plethyn – Y ceidwad<br/>
				Plethyn – Y deryn du a'i blufyn sidan<br/>
				Plethyn – Ymryson canu<br/>
				Reelroadъ – Valse a Ollu<br/>
				Reelroadъ – Kesh / Swallowtail / Kesh<br/>
				Reelroadъ – Mazurka<br/>
				Reelroadъ – Sweeney's / Mick Coen's<br/>
				Reelroadъ – А в нашем садочке<br/>
				Reelroadъ – На дворе дождь<br/>
				Reelroadъ – Со балтийского со взморья<br/>
				Richard Greene – Charleston<br/>
				Richard Greene – Pipehorn hornpipe<br/>
				Richard Greene – You are my sunshine<br/>
				Rüdiger Oppermann – Emerald forest<br/>
				Sarah, Hanna &amp; Leah Peasall – In the highways<br/>
				Sileas – Margaret's waltz / The dark island<br/>
				Silly Wizard – Donald McGillavry<br/>
				Silly Wizard – Jenny Gray's whiskey<br/>
				Silly Wizard – The blackbird of sweet Avondale<br/>
				Silly Wizard – The ferryland sealer<br/>
				Silly Wizard – The queen of Argyll<br/>
				Silly Wizard – Wha'll be king but Charlie?<br/>
				Silly Wizard – When summer ends<br/>
				Silly Wizard – Willie Archer<br/>
				Sharon Shannon – A costa de Galicia<br/>
				Sharon Shannon – Anarchie Gordon<br/>
				Sharon Shannon – Born again polka<br/>
				Sharon Shannon – Hillbilly Lilly / Buffalo Benji<br/>
				Sharon Shannon – On the banks of the old Ponchertrain<br/>
				Sherwood – Tarantella<br/>
				Skeduz – Laruen (ton double plinn)<br/>
				Skeduz – Tequila pourlet<br/>
				Skolvan – Polkas bognolaises<br/>
				Skolvan – Trip to Skye<br/>
				Skylark – Molly Malone<br/>
				Skylark – Whiskey in the jar<br/>
				Slovak Philarmonic Orchestra – Estudiantina<br/>
				Slovak Radio Symphony Orchestra – Nikolai quadrille on russian themesx<br/>
				Slua Sí – Belharbour / Bonaparte's March / Peacock's Reather<br/>
				Slua Sí – Goodbye, Mick<br/>
				Solas – Primrose lass / Molly from Longford / The four kisses<br/>
				Solas – Wind that shakes the barley<br/>
				Spare Parts – Bonnie highland laddie<br/>
				Spare Parts – Cally polka<br/>
				Spare Parts – Endearing young charms<br/>
				Spare Parts – La Native<br/>
				Spare Parts – Sautese in Dm F (composer unknown)<br/>
				Spare parts – Soldier's joy / College hornpipe<br/>
				Spare Parts – Sussex waltz<br/>
				Spiro – Florinda<br/>
				Spiro – Mr. Keys<br/>
				Spiro – Pop<br/>
				Spiro – Prussia cove<br/>
				Spiro – Rose engine<br/>
				Spiro – Shaft<br/>
				Spiro – The city and the stars<br/>
				Spiro – The mezzotint<br/>
				Spiro – The radio sky<br/>
				Spiro – Yellow noise<br/>
				Stille Volk – Le roi des animaux<br/>
				Talar – De 6 a 7 (ridees)<br/>
				Terry Scott Taylor – The Neverhood theme<br/>
				Téada – Poitín march / Devlin's / Basket of oysters / Croty's glory<br/>
				Téada – The crock of gold / Johnny's gone to France / The tailor's thimble<br/>
				Téada – The russians are coming/The miller's daughter/The Boston-Sligo reel<br/>
				Téada – Tom Roddy's / The old firm jig / The maid at the well<br/>
				Tipico Oriental Cubano – Hasta Siempre Comandante<br/>
				The Assembly Players – Joy after sorrow<br/>
				The Baltimore Consort – A trip to Kilburn<br/>
				The Baltimore Consort – Alemande de Liege<br/>
				The Baltimore Consort – Baila, nena<br/>
				The Baltimore Consort – Galliard d'escosse<br/>
				The Baltimore Consort – J'ai vu le loup<br/>
				The Baltimore Consort – Laroque galliard<br/>
				The Baltimore Consort – Pretty maid milking her cow<br/>
				The Baltimore Consort – The fairy dance<br/>
				The Baltimore Consort – The irish jig or night ramble<br/>
				The Baltimore Consort – The joviall broome man<br/>
				The Baltimore Consort – The old year now away is fled<br/>
				The Beatles – All you need is love<br/>
				The Beatles – Oh! Darling<br/>
				The Beatles – Rock'n'roll music<br/>
				The Broadside Band – Greensleeves<br/>
				The Broadside Band – La bourree<br/>
				The Broadside Band – White-Hall minuett<br/>
				The Bushwackers – Billy of tea<br/>
				The Bushwackers – Waltzing Matilda<br/>
				The Chieftains – Ev chistr 'ta Laou!<br/>
				The Chieftains – I saw three ships a sailing<br/>
				The Chieftains – Sonny Brogan’s mazurkas<br/>
				The Chieftains – Tribute to Bunting<br/>
				The Dartz – Johnny Muffin<br/>
				The Dartz – Some say the devil is dead<br/>
				The Dartz – Дети собирают землянику<br/>
				The Dartz – Исландский мох<br/>
				The Dartz – Катти Сарк<br/>
				The Dartz – Колядка<br/>
				The Dartz – Потому что мы играем фолк<br/>
				The Dartz – Я принес тебе вино<br/>
				The Early Music Consort of London – Guillaume de Machaut: Lasse! comment oublieray<br/>
				The Early Music Consort of London – Harp: metal strung, gut strung<br/>
				The Early Music Consort of London – Francesco Landini: La bionda treçça<br/>
				The Early Music Consort of London – Scaramella va alla guerra<br/>
				The Early Music Consort of London – Spagnoletta<br/>				
				The Irish Rovers – Down among the bushes of Jerusalem<br/>
				The Irish Rovers – Goodbye Mick and goodbye Pat<br/>
				The Irish Rovers – Kitty, the rose of Kilrea<br/>
				The Irish Rovers – McDonald's raiders<br/>
				The Irish Rovers – New York gals<br/>
				The Irish Rovers – Rare old mountain dew<br/>
				The Irish Rovers – Song of Antrim coast<br/>
				The Irish Rovers – The best of friends must part<br/>
				The Irish Rovers – The Christmas traveler<br/>
				The Irish Rovers – The drunken sailor<br/>
				The Irish Rovers – The last of "The Irish Rover"<br/>
				The Irish Rovers – We wish you a merry Christmas<br/>
				The Irish Rovers – Will you come and marry me?<br/>
				The Playfords – Fa una canzone<br/>
				The Playfords – Ríu, ríu, chíu<br/>
				The Playfords – So ben mi chi ha buon tempo<br/>
				The Playfords – Voltate in ça, do bella donzelina / Voltate in ça Rosina<br/>
				The Racoons – Augustin<br/>
				The Racoons – Molly Malone<br/>
				The Racoons – Spanish lady<br/>
				The Soggy Bottom Boys – I am a man of constant sorrow<br/>
				The Toronto Consort – Bellamira / Emperor of the Moon<br/>
				The Toronto Consort – O, mistris mine<br/>
				The Turtles – Happy together<br/>
				The Weavers – Fi-li-mi-oo-re-ay<br/>
				The Weavers – Fight on<br/>
				The Weavers – Greenland whale fisheries<br/>
				The Weavers – Greensleeves<br/>
				The Weavers – Guantanamera<br/>
				The Weavers – If I had a hammer<br/>
				The Weavers – Marching to Pretoria<br/>
				The Weavers – On top of old smokey<br/>
				The Weavers – San Francisco Bay blues<br/>
				The Weavers – The frozen logger<br/>
				The Weavers – The roving kind<br/>
				Tradirrationnel - Frat<br/>
				Tradirrationnel - Pas si près s'y pisse<br/>
				Tri Yann – Cad e sin don te sin<br/>
				Tri Yann – Tri martelod<br/>
				Unknown Performer – A theme from Patrician III<br/>
				Unknown Performer – National anthem of Ireland<br/>
				Unknown Performer – La Marseillaise<br/>
				Vangelis – Movement 2<br/>
				Vince Giordano, The Nighthawks – Darktown strutters ball<br/>
				Welladay – Galliarde<br/>
				Welladay – Greensleeves<br/>
				William Christie, Les Arts Florissants – All'armi from “Amor vince ogni cosa”<br/>
				William Christie, Les Arts Florissants – Dance for fairies<br/>
				William Christie, Les Arts Florissants – Sarabande from “Keyboard suite in D minor”<br/>
				Yann-Fañch Kemener – &lt;An dei'ell penn ur bern plouz&gt;<br/>
				Yann Tiersen – La valse d'Amelie<br/>
				Yann Tiersen – La valse des monstres<br/>
				Аквариум – Аригато<br/>
				Аквариум - Дед Мороз блюз<br/>
				Аквариум – День радости<br/>
				Аквариум – Капитан Беллерофонт<br/>
				Аквариум – Марш священных коров<br/>
				Аквариум – Назад в Архангельск<br/>
				Аквариум – Рождественская ночь<br/>
				Аквариум – Стаканы<br/>
				Аквариум – Что нам делать с пьяным матросом?<br/>
				Анатолий Крупнов – Плещут холодные волны<br/>
				Аукцыон – Полдень<br/>
				Аукцыон – Хомба<br/>
				Борис Гребенщиков – Весна на Заречной улице<br/>
				Дмитрий Курцман – Весенние песни<br/>
				Дмитрий Шостакович – Symphony №4 (Italian): Saltarello<br/>
				Ирина Богушевская, Андрей Усачёв, Александр Пинегин – Вечный двигатель (Выдвигается на Нобелевскую премию)<br/>
				Ирина Богушевская, Андрей Усачёв, Александр Пинегин – Кукарача<br/>
				Ирина Богушевская – Злые духи<br/>
				Ирина Богушевская – Оловянное сердце<br/>
				Запрещенные барабанщики – Немецкий вальс<br/>
				Зимовье зверей – Баранья джига<br/>
				Зимовье зверей – Всегда готов к рок-н-роллу<br/>
				Зимовье зверей – Выпадая из окна<br/>
				Зимовье зверей – Дворники<br/>
				Зимовье зверей – Дом на сваях<br/>
				Зимовье зверей – Корабли<br/>
				Зимовье зверей – Лестница, полночь, зима<br/>
				Зимовье зверей – Одиссей и Навсикая<br/>
				Зимовье зверей – Свидетели<br/>
				Кэп &amp; Ко – Гавоты<br/>
				Кэп &amp; Ко – Енька<br/>
				Леонид Фёдоров – Душа<br/>
				Минус Трели - Duelling violins<br/>
				Минус трели – KingCORE<br/>
				Мельница – Тарантелла<br/>
				Отава Ё – Иванушка рачек<br/>
				Отава Ё – Торжествуйте, веселитесь<br/>
				Пелагея – Любо, братцы, любо (акустическая версия)<br/>
				Сергей Старостин, Леонид Федоров, Андрей Котов, Владимир Волков – Заведу я компанью<br/>
				Сергей Старостин, Леонид Федоров, Андрей Котов, Владимир Волков – Псалом №1<br/>
				Сергей Старостин – Жавранёночек<br/>
				Сергей Старостин – Наигрыш<br/>
				Улица радио – На концах удлиненных рей<br/>
			</div>
			<hr/>
			<div class="center">			
					<a href="/celtic.html">Список передач</a>
			</div>
		</div>
	</body>
</html>
