<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
{% include "components/head.html" %}
		<title>.руЛевые — Не люблю</title>
	</head>
	<body>
{% include "components/header.html" %}
{% include "components/menu.html" %}
		<div class="center">
			<img src="/images/icons/dislike.svg" width="100px" height="100px" style="margin: 10px;" alt=""/>
			<h1>Не люблю:</h1>
			<div class="content">
				<ul>
					<li>Кино, которое я могу смотреть меньше десяти минут;</li>
					<li>Бессмысленные вещи;</li>
					<li>Когда громко;</li>
					<li>Когда шумно;</li>
					<li>Швейные машинки;</li>
					<li>Пластмассу;</li>
					<li>Опаздывать;</li>
					<li>Когда ты говоришь мне «вы»;</li>
					<li>Читать буклетики от музыкальных изданий;</li>
					<li>Телевизоры;</li>
					<li>Микроволновые печи;</li>
				</ul>
				<div class="center">			
					<hr/>
					<div class="navigate">
						<a href="/other/like.html" class="navigate" title="Люблю">
							<img src="/images/icons/like.svg" width="24px" height="24px" alt="[Люблю]"/>
						</a>			
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
