<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
	{% include "components/head.html" %}	
		<title>.руЛевые — Обо мне</title>
	</head>
	<body>
	{% include "components/header.html" %}	
	{% set menuItem = "about" %}
	{% include "components/menu.html" %}
		<div class="content">
			<h1>Обо мне</h1>
			<p>Здравствуйте!</p>
			<p>Это — я:</p>
			<div class="center">
				<a href="/images/self.jpg">
					<img src="/images/self_preview.jpg" width="619px" height="500px" alt=""/>
				</a>
			</div>
			<p>Я — Юрий Алексеевич Чернышов, автор этого проекта. В данный момент я — закончил специалитет факультета ВМК МГУ и поступаю в аспирантуру. Мне интересно то, чем занимается «Студия Артемия Лебедева», «Яндекс», "Google", "Adobe" и ещё два десятка других людей и организаций. Поэтому и появился этот проект. А также многие другие мои проекты.</p>
			<p>Мне вообще нравится заниматься теми вещами, которые мне интересны. Так уж устроен человек. Чем больше вещей мне интересны, тем меньше времени остаётся на неинтересные (обязательные) вещи, которыми мне заниматься совсем не хочется. Так уж устроена жизнь.</p>
			<p>Всякие вещи, так или иначе связанные со мною:</p>
			<ul>
				<li>
					<a href="http://georg-the-great.livejournal.com" rel="me" class="image_link">
						<img src="/images/icons/livejournal.svg" alt="" width="24px" height="24px"/>
						<span>Бред сизой кобылы;</span>
					</a>
				</li>
				<li>
					<a href="http://dcdnet.ru/users/georg/" rel="me" class="image_link">
						<img src="/images/icons/dcdnet.svg" alt="" width="24px" height="24px"/>
						<span>Спасите наши уши;</span>
					</a>
				</li>
				<li>
					<a href="mailto://georgthegreat@gmail.com" class="image_link">
						<img src="/images/icons/mail.svg" alt="" width="24px" height="24px"/>
						<span class="action">Заказное ценное, пожалуйста;</span>
					</a>
				</li>
				<li>
					<a href="http://folkradio.ru" class="image_link">
						<img src="/images/icons/radio.svg" alt="" width="24px" height="24px"/>
						<span>Вещаю на тёплом ламповом ФолкРадио;</span>
					</a>
				</li>
				<li>
					<a href="/other/like.html" class="image_link">
						<img src="/images/icons/like.svg" alt="" width="24px" height="24px"/>
						<span>Люблю;</span>
					</a>
				</li>
				<li>
					<a href="/other/dislike.html" class="image_link">
						<img src="/images/icons/dislike.svg" alt="" width="24px" height="24px"/>
						<span>Не люблю;</span>
					</a>
				</li>
				<li>
					<a href="https://facebook.com/georgthegreat" class="image_link">
						<img src="/images/icons/facebook.svg" alt="" width="24px" height="24px"/>
						<span>Фейсбучу;</span>
					</a>
				</li>
				<li>
					<a href="https://vk.com/georgthegreat" class="image_link">
						<img src="/images/icons/vk.svg" alt="" width="24px" height="24px"/>
						<span>Контактирую;</span>
					</a>
			</ul>
		</div>
	</body>
</html>
