            <table>
				<tr>
					<td></td>
					<td class="epigraph">
						Посвящается себе, любимому.
					</td>
				</tr>
			</table>
            <p>Проект появился в 2008 году. Автор высказывает свое мнение по поводу некоторых интересных ему проблем и задач. Параграфы исправляются в соответствии с жизненной позицией автора.</p>
            <p>Параграфы, очевидно, не дают готовых рецептов для дизайна. За готовыми рецептами автор рекомендует сходить <a href="http://livecookbook.ru/">сюда</a>.</p>
            <p>Читать параграфы следует сверху вниз, слева направо, в соответствии с  правилами русской орфографии и пунктуации.</p>
            <p>При чтении параграфов вслух рекомендуется придерживаться правил русской орфоэпии.</p>
            <p>Автор будет благодарен читателям за любое сообщение об обнаруженных ошибках. Обнаруживший ошибку будет вознагражден пятьюдесятью единицами опыта, звездочкой и зельем, перманентно увеличивающим ловкость на 1. Об ошибках необходимо сообщать мне на <a href="mailto: georgthegreat@gmail.com">почту</a></p>
            <p>Проект, безусловно, является ответом (вопросом?) на «Ководство» Артемия Лебедева.</p>
            <p>Я сказал «Поехали!» – и взмахнул рукой.</p> 
