			<table>
				<tr>
					<td></td>
					<td class="epigraph">
						Money, get away.<br/>
						<span class="signature">Pink Floyd</span>
					</td>
				</tr>
			</table>
			<p>Все знают, как выглядит знак доллара:</p>
			<div style="font-size: 250%;" class="center">$</div>
			<p>На самом деле он выглядит немного не так, но об этом далее. Если постараться, то вы назовете еще несколько валют, также имеющих официальные знаки:</p>
			<div style="font-size: 250%;" class="center">£ ¥ €</div>
			<p>Все эти знаки имеют схожие черты: в качестве основы взято изображение некоторой буквы, которая перечеркнута нельколькими прямыми линиями. Такие обозначения имеют многие валюты. Кроме российского рубля.</p>
			<p>Итак, немного истории. 13 октября 1492 года Христофор Колумб высаживается на безымянном острове, которые впоследствии будет назван Сан-Сальвадором (ныне Уотлинг, один из Багамских островов к северу от Гаити). Вскоре начинается массовая военная кампания, которая приводит к массовому вывозу золота из Нового Света. Золото, вывозилось в слитках. На слитках, перевозимых в Испанию ставилась буква "S" (от названия страны - Spain). Когда слитки прибывали в метрополию, буква зачеркивалась одиночной вертикальной чертой. Когда слитки вновь прибывали в другую испанскую колонию (тогда Испанская Колониальная Империя была разбросана практически по всему свету), ставилась еще одна черта. По другой версии этот знак образовался в результате наложения буквы «U» на букву «S». В любом случае, правильный знак доллара выглядит так:</p>
			<div class="center">
				<img src="/images/paragraphs/001.dollar.png" height="95px" width="62px" alt="$"/>
			</div>
			<p>Который, впрочем, впоследствии превратился в перечеркнутую букву S.</p>
			<p>Наверняка, похожие истории стоят и за обозначениями английских фунтов и японских иен. Евро, как молодая валюта, вряд ли имеет такую глубокую историю. Две черты — дань, во-первых, слову Европа, а во-вторых, традиции перечеркивать чего-нибудь. Некоторые люди задумываются над тем, а не придумать ли такой знак для родного рубля. Спрашивается: нахрена козлу гармонь? Чем вам не нравится такие общепринятые обозначения:</p>
			<div style="font-size: 250%;" class="center">руб.&emsp;RUR&emsp;р.</div>
			<p>Моя любимая студия Артемия Лебедева предлагает такое обозначение:</p>
			<div class="center">
				<img src="/images/paragraphs/001.rouble.png" height="89px" width="61px" alt=""/>
			</div>
			<p>Авторы доказывают эстетическую красоту этого обозначения. Они забыли ответить лишь на один важный вопрос: зачем? Российскому рублю не нужно никакого специального знака. По крайней мере сейчас, когда рубль является свободно конвертируемым только на части территорий бывшего СССР.</p>
			<p>Мне одному чудится запах нафталина?</p>
			<p>Тем не менее, <a href="http://www.artlebedev.com/mandership/159/rouble.otf">здесь</a> можно скачать шрифт, содержащий этот знак для нескольких шрифтов. Символы находятся на прописных латинских буквах. Начиная с 16 февраля 2009 года я начинаю использовать в своих работах знак рубля.</p>
