            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                        Ё-маё, ну прям как дети.
                    </td>
                </tr>
            </table>
            <p>Буква «Ё» — седьмая буква русского и белорусского алфавитов. Была введена в 1783 году, впервые появилась в печати в 1795 году. Известной буква стала благодаря Николаю Михайловичу Карамзину, которые долгое время считался её автором. Буква «Ё» всегда испытывала трудности распространения. До советской реформы алфавита она являлась лишь желательной к употреблению.</p>
            <p>В «Правилах русской орфографии и пунктуации» говорится, что обязательной к употреблению буква «Ё» является лишь в следующих случаях:</p>
            <ol>
                <li>Когда необходимо предупредить неверное чтение и понимание слова (например <span style="font-style: italic;">узнаём</span> вместо <span style="font-style: italic;">узнаем</span>);</li>
                <li>В учебниках орфоэпии, школьных букварях, словарях и так далее;</li>
                <li>Когда необходимо указать произношение малоизвестного слова (село <span style="font-style: italic;">Дебёсы</span>);</li>
            </ol>
            <div class="lyrics">
                Если верить Википедии, то Рентген на самом деле Рёнтген (по-немецки Röntgen), Депардье — Депардьё (по-французски Depardieu).<br/>
                Шведский город Мальме на самом деле — Мальмё (Malmö, если по-шведски).<br/>
                Тем не менее, все знают, что Гете — Гёте, а Басе — Басё. 
            </div>
            <p>Во всех остальных случаях употребление буквы «Ё» является необязательным. Я считаю, что употреблять её вместо «Е» можно лишь в вышеупомянутых случаях.</p>
            <p>Fuck ё:</p>
            <div class="center">
            	<img src="/images/paragraphs/002.yourgame.png" height="90px" width="263px" style="margin: 10px" alt=""/>
            	<img src="/images/paragraphs/002.station.jpg" height="120px" width="214px" style="margin: 10px" alt=""/>
            	<img src="/images/paragraphs/002.yourmagazine.jpg" height="70px" width="247px" style="margin: 10px" alt=""/>
            </div>
