            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                        Мне, пожалуйста, один кофе. И один булка.<br/>
                        <span style="float: right;">Анекдот</span>
                    </td>
                </tr>
            </table>
            <p>Кофе (от арабского qahwa, «возбуждающий напиток») — напиток, изготавливаемый из зерен кофейного дерева. Название происходит от названия области Каффа в Эфиопии, где, согласно одной из версий, были впервые открыты тонизирующие свойства этого растения.</p>
            <p>В Россию кофе попал из Европы. Изначально напиток назывался «кофий» или «кофей»</p>
            <p>По нормам современного русского языка (являющегося государственным языком Российской Федерации), кофе — несклоняемое существительное мужского рода.</p>
            <div class="lyrics">
                Слово «виски» (по-шотландски — «whisky», по-ирландски — «whiskey») по нормам современного русского языка может быть как мужского, так и среднего рода. Хотя я считаю, что шотландское виски — такой же абсурд, как и черное кофе.
            </div>
            <p>Черный крепкий кофе в зернах. <img src="/images/paragraphs/003.bean.png" height="23px" width="20px" alt=""/></p>
