			<table>
				<tr>
					<td></td>
					<td class="epigraph">
							— Земля, капитан!<br/>
							— Придурок, мы еще не отплыли.<br/>
						<span style="float: right;">Анекдот</span>
					</td>
				</tr>
			</table>
			<p>Интернет, как известно, появился в качестве проекта Министерства обороны США в 1969 году. В 1989 году Тим Бернерс-Ли высказал идею Всемирной Паутины. Он же разработал протокол HTTP, язык HTML и идентификаторы URL. </p>
			<p>Сейчас на дворе 2008 год и структура сайтов постоянно усложняется — всем хочется разместить как можно больше информации о самом себе или о своей компании. Поэтому каждому человеку, попавшему на ваш сайт, вы должны предоставить возможность легко узнать в какой части сайта он сейчас находится. Для этого существуют следующие возможности:</p>
			<ol>
				<li>Разместить заголовок на странице</li>
				<li>Добавить название раздела к названию страницы</li>
				<li>Поместить на видном месте сайта строку навигации</li>
			</ol>
			<p>С другой стороны, пользователь должен иметь возможность попасть в основные разделы вашего сайта с любой страницы. Для этого умные люди придумали меню. Распологать его нужно на одном и том же месте на всех страницах. В меню обязательно должна быть ссылка на главную страницу сайта. Но поскольку степень значимости страниц для разных людей различна, то на ссылке не должно быть слова «Главная» вообще. Лучше напишите основную тему сайта.</p>
			<div class="lyrics">
				Корабли не плавают. Плавает говно. Корабли ходят.
			</div>
			<p>На сайте <a href="http://vkontakte.ru">vkontakte.ru</a> помещено целых три ссылки на главную страницу:</p>
			<div class="center">
				<img src="/images/paragraphs/004.vkontakte.png" height="70px" width="352px" alt=""/>
			</div>
			<p>Другой пример. На сайте <a href="http://gramota.ru">gramota.ru</a> я очень долго искал, как же попасть из текущего раздела на главную страницу. Можно попасть на страницы всех проектов сайта. А ссылка на главную страницу - вот она:</p>
			<div class="center">
				<img src="/images/paragraphs/004.gramota.png" height="235px" width="451px" alt=""/>
			</div>
			<p>Надпись прописными зелеными буквами вверху сайта ссылкой не является.</p>
			<p>Думайте. Иначе ваш корабль далеко не уйдет.</p>
