            <table>
                 <tr>
                     <td></td>
                     <td class="epigraph">
                         Иногда сигара – это просто сигара.<br/>
                         <span style="float: right;">Зигмунд Фрейд</span>
                     </td>
                 </tr>
            </table>
            <p>Символизм – одно из крупнейших направлений в искусстве, достигшее наибольшего развития на рубеже XIX и XX веков, прежде всего во Франции, Бельгии и России. Символисты радикально изменили не только различные виды искусства, но и само отношение к нему. Их экспериментаторский характер, стремление к новаторству, космополитизм и обширный диапазон влияний стали образцом для большинства современных направлений искусства.</p>
            <p>Любое произведение, нацеленное на массовую аудиторию, должно содержать в себе некую идею. Желательно оригинальную. Но если идеи нет, то автор начинает выдумывать ее. Здесь ему на помощь нередко приходит язык символов. Если символа нет – автор берет первое, что ему попалось в голову.</p>
            <div class="lyrics">
                <p>Александр Блок в своей поэме «Двенадцать» использовал образ Иисуса Христа, хотя произведение было написано в 1918 году, после прихода к власти большевиков. Блок говорил, что не знает другого символа чистоты и невинности, кроме Христа. Цитата из поэмы:</p>
                <p class="poetry">
                	«.&thinsp;.&thinsp;.Так идут державным шагом,<br/>
                	Позади – голодный пес,<br/>
                	Впереди – с кровавым флагом,<br/>
            		И за вьюгой невидим,<br/>
                	И от пули невредим,<br/>
                	Нежной поступью надвьюжной,<br/>
                	Снежной россыпью жемчужной,<br/>
                	В белом венчике из роз –<br/>
                	Впереди – Исус Христос»<br/>
                </p>
            </div>
            <p>Рассмотрим несколько примеров:</p>
            <div class="center">
                <img src="/images/paragraphs/005.Student01.jpg" height="134px" width="200px" style="margin: 10px" alt="Студенческий билет МГУ"/>
                <img src="/images/paragraphs/005.Student02.jpg" height="140px" width="200px" style="margin: 10px" alt="Корочка для студенческого"/>
                <img src="/images/paragraphs/005.Student03.png" height="126px" width="200px" style="margin: 10px" alt="Социальная карта москвича"/>
            </div>
			<p>Видимо, другого символа студенчества, отличного от Главного здания МГУ, придумать невозможно.</p>
            <div class="lyrics">
                <img src="/images/paragraphs/005.Mercedes.png" height="98px" width="138px" style="margin: 10px" alt="Mercedes-Benz"/>
                <img src="/images/paragraphs/005.Mitsubishi.png" height="107px" width="125px" style="margin: 10px" alt="Mitsubishi.png"/><br/>
                Однажды лебедь, рак и щука.&thinsp;.&thinsp;.
            </div>
            <p>Вы знаете, почему символом христианства является крест? Потому что на нем был распят Иисус Христос. Теперь внимание:</p>
            <div class="center">
            	<img src="/images/paragraphs/005.Latin cross.png" height="133px" width="100px" style="margin: 10px" alt="Латинский крест"/>
            	<img src="/images/paragraphs/005.Orthodox cross.png" height="149px" width="100px" style="margin: 10px" alt="Православный крест"/>
            </div>
            <p>Левый крест – символ Католической Церкви, правый – Православной. Ни на одном из этих крестов человека распять нельзя.</p> 
