			<table>
				<tr>
					<td></td>
					<td class="epigraph">
						Присутствует еще смешенье языков: <br/>
						Французского с нижегородским?<br/>
						<span class="signature">Александр Грибоедов</span>
					</td>
				</tr>
			</table>
			<p>Знаете, что такое мертвый язык? Это язык, не имеющий носителей, для которых он являлся бы родным. Так, коптский язык был заменен арабским, а множество американских языков были вытеснены французским, английским, испанским и португальским.</p>
			<p>На территории современной России, самой многонациональной страны, также существуют языки, фактически мертвые:</p>
			<ul>
				<li>Карельский</li>
				<li>Коми</li>
				<li>Удмуртский</li>
				<li>Марийский</li>
				<li>Башкирский</li>
				<li>Мордовский</li>
			</ul>
			<p>Тем не менее, органы местного самоуправления продолжают вести борьбу за реставрацию национального языка. Борьба эта ведется странными методами:</p>
			<div class="center"><img src="/images/paragraphs/006.Udmurt1.jpg" height="132px" width="372px" alt=""/></div>
			<p>Русское название русской деревни переведено на удмуртский язык. Получилось криво. С этим правильно поступать примерно так:</p>
			<div class="center"><img src="/images/paragraphs/006.Udmurt2.jpg" height="128px" width="372px" alt=""/></div>
			<p>В Ижевске названия автобусных остановок тоже продублированы, в общественном транспорте остановки объявляются на двух языках. В некоторых школах тоже начали изучать удмуртский язык. Я сомневаюсь, что это приведет к поголовному знанию удмуртского и его возрождению.</p>
			<div class="lyrics">
				Дай Бог здоровья тем бабушкам, которые еще лепят пельмени вручную, а не покупают их в магазинах.
			</div>
			<p>Вывод: для решения задачи выбирайте методы, которые имеют хотя бы незначительные шансы на успех.</p>
