            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                    	about:blank
                    </td>
                </tr>
            </table>
            <p>Что такое бланк, знают все. Всем неоднократно приходилось писать различные заявления.</p>
            <p>Каждая уважающая себя фирма стремится иметь свой собственный фирменный стиль для всего: почтовые конверты, ручки и подставки под канцелярские принадлежности.</p>
            <div class="lyrics">
                        Слово "blank" в переводе с английского имеет следующие значения:
                        <ul>
                            <li>белый, бледный, бесцветный</li>
                            <li>пустой, чистый, неисписанный</li>
                            <li>бессодержательный</li>
                            <li>безуспешный</li>
                        </ul>
            </div>
            <p>Как оформить бланк? Можно, например, так:</p>
            <div class="center">
            	<img src="/images/paragraphs/007.Bad.png" height="645px" width="384px" alt=""/>
            </div>
            <p>Это плохой бланк. Он перегружен элементами (логотип и название) и, что самое главное, эти элементы однозначно задают ориентацию бланка: это называется книжный формат (когда короткая сторона сверху). Сегодня я хочу нарисовать что-нибудь романтическое:</p>
            <div class="center">
                <img src="/images/paragraphs/007.Horse.png" height="250px" width="600px" alt=""/>
            </div>
            <p>Неправильно расположенный текстовый бланк явно помешал бы творческому процессу.</p>
            <p>Вывод: не нужно делать из чистого и незаполненного нечто бессодержательное и безуспешное. Правильный бланк должен выглядеть так:</p>
            <div style="width: 420px; height: 297px; border: solid 1px #000000;">
            </div>
            <p>Для исполнения прекрасно подойдет чистый белый неисписанный лист.</p>
