			<table>
				<tr>
					<td></td>
					<td class="epigraph">
						Это уже было в Симпсонах.<br/>
						<span style="float: right;">«Южный Парк»</span>
					</td>
				</tr>						 	
			</table>
			<p><span style="font-style: italic;">Клонирование</span> — тиражирование организма или другого объекта в биологии.</p>
			<p>Все чаще приходится сталкиваться с клонированием в дизайне. Недавно мне на глаза попалась следующая этикетка:</p>
			<div class="center">
				<img src="/images/paragraphs/008.Clone.jpg" height="333px" width="612px" alt=""/>
			</div>
			<p>Найдите десять отличий с этикеткой более известного продукта:</p>
			<div class="center">
				<img src="/images/paragraphs/008.Aqua Minerale.jpg" height="341px" width="598px" alt=""/>
			</div>
			<p>Дома жилого комплекса «Шуваловский», расположенного рядом с кварталом МГУ по оформлению напоминают Главное Здание, Сталинскую высотку, построенную в 1953 году. Слева — высотка, справа — жилой дом:</p>
			<div class="center">
				<img src="/images/paragraphs/008.MSU.jpg" height="429px" width="440px" alt=""/>
				<img src="/images/paragraphs/008.Shuvalovsky.jpg" height="429px" width="400px" alt=""/>
			</div>
			<div class="lyrics">
				19 февраля 2005 года Организация Объединенных Наций призвала страны-члены ООН принять законодательные акты, запрещающие все формы клонирования, так как они «противоречат достоинству человека и выступают против защиты человеческой жизни». Декларация ООН о клонировании человека содержит призыв к государствам-членам организации запретить все формы клонирования людей в такой мере, в какой они несовместимы с человеческим достоинством и защитой человеческой жизни.
			</div>
			<p>Иногда клонирование приводит к очень плачевным результатам. Вот один из логотипов ОАО «Российские железные дороги»:</p>
			<div class="center">
				<img src="/images/paragraphs/008.RZD.png" height="163px" width="237px" alt=""/>
			</div>
			<p>Извините, но здесь, по моему, пахнет нацизмом. Орел Третьего Рейха:</p>
			<div class="center">
				<img src="/images/paragraphs/008.Reich.png" height="197px" width="292px" alt=""/>
			</div>
			<p>Вывод: если вы делаете хорошую вещь, делайте ее самостоятельно. Кража идеи — занятие неблагодарное, но приемлимое. Клонирование же противоречит морально-этическим нормам.</p> 
