            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                        Поэзия — та же добыча радия.<br/>
                        В грамм добыча — в годы труды.<br/>
                        <span style="float: right;">Владимир Маяковский</span>
                    </td>
                </tr>
            </table>
    		<p>Вот пример действительно хорошего графического дизайна.</p>
    		<div class="center">
    			<img src="/images/paragraphs/009.Good.jpg" height="400px" width="283px" alt=""/>
    		</div>
