			<table>
				<tr>
					<td></td>
					<td class="epigraph">
						Вырастет из сына свин.<br/>
						<span class="signature">Владимир Маяковский</span>
					</td>
				</tr>
			</table>
	   		<p>Вот пример действительно плохого дизайна.</p>
	   		<div class="center">
	   			<img src="/images/paragraphs/010.Bad.jpg" height="250px" width="512px" alt=""/>
	   		</div>
	   		<p>Во-первых, изначально неверна идея. Удмуртия, как государственное образование, появилось в 1920 году, то есть через 350 лет после своего добровольного вхождения в состав России.</p>
	   		<p>Во-вторых, какое отношение имеют Андрей Федорович Дерябин (основатель оружейного завода на Иже и города Ижевска) и Михаил Илларионович Кутузов к событиям четырехвeковой давности? Патриотизм, конечно, у нас прет изо всех щелей.</p>
	   		<p>В-третьих: посмотрите на нижеследующую картинку. На ней изображена армия Наполеона, Le Grande Armée.</p>
	   		<div class="center">
	   			<img src="/images/paragraphs/010.French.jpg" height="427px" width="300px" alt=""/>
	   		</div>
	   		<p>Напоминает ли она вам кого-то? Заметьте, что убитый солдат на картинке носит русскую форму.</p>
	   		<p>У нас всегда были и остаются проблемы с изучением истории. Желательно не выставлять это напоказ. Или хотя бы выучить историю.</p>
