            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                        К черту!
                    </td>
                </tr>
            </table>
       		<p>Существует три вида горизонтальных черточек, которые по совместительству являются еще и знаками препинания:</p>
       		<ul>
       			<li>
       				<span style="font-style: italic;">Дефис</span>, он же <span style="font-style: italic;">минус</span> употребляется в сложных существительных и прилагательных, пишущихся через дефис, а также в некоторых математических выражениях. Для того, чтобы поставить дефис нужно нажать на кнопку справа от кнопки с цифрой ноль на клавиатуре.
       			</li>
       			<li>
       				<span style="font-style: italic;">Тире</span>  ставится:
       				<ul>
           				<li>
           					Между подлежащим и сказуемым, выраженным существительным в именительном падеже. Например: «Дуб – дерево. Роза – цветок». Обратите внимание, что перед частицей «не» дефис не ставится: «Машина не роскошь».
           				</li>
           				<li>
           					Перед <span style="font-style: italic;">это, то есть, это значит, вот</span> если сказуемое выраженное существительным в именительном падеже присоединяется посредством этих слов к подлежащему.
           				</li>
           				<li>
           					Перед обобщающим словом, стоящим после перечисления. Например: «Надежду и пловца – все море поглотило». 
           				</li>
           				<li>
           					Между двумя сказуемыми и между двумя независимыми предложениями, если во втором из них содержится неожиданное присоединение или резкое противопоставление по отношению к первому. Например: «Хотел объехать целый свет – и не объехал сотой доли».
           				</li>
           			</ul>
           		И еще в некоторых случаях. В электронных документах тире принято выделять пробелами. В языке разметки html (xhtml) тире 		можно поставить, написав в коде разметки «&amp;ndash;». Такое тире имеет ширину, равную ширине буквы N.
       			</li>
       			<li>
       				<span style="font-style: italic;">Длинное тире</span> ставится перед прямой речью, если последняя начинается с абзаца. Для того, чтобы поставить длинное тире, нужно написать в разметке «&amp;mdash;». Длинное тире отделяется от текста справа одним пробелом. Такое тире, как вы уже догадались, имеет ширину, равную ширине буквы M.
       			</li>
       		</ul>
       		<p>Пишите правильно. На правильно и красиво написанный текст всегда приятнее смотреть.</p>
