            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                        Тунеядство, пьянство, блядство.<br/>
                        <span style="float: right;">Крематорий</span>
                    </td>
                </tr>
            </table>
            <p>Как известно, существует множество законов построения композиции. Все они основаны на законах восприятия изображений человеком. Я расскажу вам о трех из них: законе контраста, законе ритма и законе целостности.</p>
            <p>Закон контраста прост: самое контрастное место композиции является ее смысловым (и совсем не обязательно геометрическим) центром. Знаете почему все считают улыбку Моны Лизы такой загадочной? Вот фрагмент картины Леонардо да Винчи:</p>
            <div class="center">
            	<img src="/images/paragraphs/012.MonaLisa.jpg" height="400px" width="367px" alt="Мона Лиза. Фрагмент"/>
            </div>
       		<p>Ритмом картины называются некоторые законы, в соответствии с которыми чередуются и взаимодействуют друг с другом отдельные элементы картины.	Эти законы могут подчиняться требованиям жанра, ограничениям техники и замутненному разуму творца.</p>
       		<p>Закон ритма говорит, что ритм должен быть одинаков во всей картине. То есть в работе не должно присутствовать элементов, геометрически выпадающих из общей	композиции.</p>
       		<div class="lyrics">
                Никогда не подчиняйтесь стандартным законам организации композиции. Размещение солнца в углу изображения является верным признаком невежества автора. Да и выглядит, если честно, хреново.
            </div>
       		<p>Закон целостности гласит: «На месте любого цветового пятна в изображении может стоять любое цветовое пятно той же яркости. При этом замена не ухудшит восприятия». Очень хорошо поняли этот закон авангардисты. Вашему вниманию предоставляются три работы Каземира Малевича:</p>
       		<div class="center">
            	<img src="/images/paragraphs/012.Black.jpg" height="250px" width="248px" style="margin: 10px;" alt="Черный квадрат"/>
            	<img src="/images/paragraphs/012.Red.jpg" height="250px" width="248px" style="margin: 10px;" alt="Красный квадрат"/>
            	<img src="/images/paragraphs/012.Supermatizm.jpg" height="250px" width="247px" style="margin: 10px;" alt="Суперматизм"/>
            </div>
            <p>Эти три закона являются своего рода нейро-лингвистическим программированием изобразительного искусства. Действую в соответствии с ними, можно создавать работы, на которые можно смотреть, не отрываясь.</p>
