            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                        3,1415926535897932384626433832795<br/>
                        <span style="float: right;">
                        	Microsoft® Калькулятор
                        </span>
                    </td>
                </tr>
            </table>
            <p>С числами мы встречаемся каждый день. Везде. Пишем мы их тоже достаточно часто. В этом параграфе я выскажу точку зрения на некоторые правила написания имен числительных.</p>
            <ul>
            	<li>У <span style="font-style: italic;">десятичных дробей</span> целая часть отделяется от дробной запятой, а не точкой. Написание в этом месте точки — традиция европейской (и, как следствие, американской) типографики. Поэтому во всех языках программирования приходится, как это ни прискорбно, писать точку. Главное — не превращать необходимость в привычку.</li>
            	<li><span style="font-style: italic;">Даты</span> состоят из трех (реже — из двух) чисел. Эти группы отделяются друг 
            	от друга точкой (наверное, для того, чтобы не путать их с десятичными дробями). Числа следует писать в порядке день-месяц-год. В иностранной типографике числа отделяются друг от друга косой чертой и следуют в порядке месяц-день-год. Это сделано для того, чтобы люди могли отпраздновать день числа пи.</li>
            	<li>У <span style="font-style: italic;">длинных чисел</span> для повышения читаемости можно разделять запись на группы по три цифры. В иностанной типографике для этого используется апостроф. Я предлагаю использовать для этого узкий пробел. Число шесть миллиардов семьсот восемьдесят шесть миллионов двести тридцать пять тысяч сто пятнадцать правильно писать так: 6&thinsp;786&thinsp;235&thinsp;115</li>
            	<li><span style="font-style: italic;">Номера телефонов</span> правильно писать в международном формате (начинающимися со знака 
            	«+»). Код города нужно брать в скобки. Код города отделяется от остальных цифр узкими пробелами (&amp;thinsp;). Сам номер телефона (как правило, от пяти до семи цифр) нужно разделять на группы по две или три цифры для повышения удобства чтения. Группы цифр отделяются друг от друга дефисами. Правильно написанный номер телефона, на мой взгляд, должен выглядеть так: +7&thinsp;(495)&thinsp;926-18-00.</li>
            	<li>При написании <span style="font-style: italic;">времени</span> следует отделять часы от минут двоеточием. У часов, в отличие от минут, не стоит указывать ведущие нули. Секунды следует отделять от минут двойным двоеточием (чтобы можно было отличить два часа и тридцать минут от двух минут и тридцати секунд). Миллисекунды пишутся по правилам написания дробей. В России используется (если кто-то еще не заметил) двадцатичетырехчасовой формат времени. Два часа, две минуты, сорок четыре секунды и двести тридцать миллисекунд нужно писать так: 2:02::44,230</li>
            </ul>
