			<table>
				<tr>
					<td></td>
					<td class="epigraph">
						Сяпала Калуша с Калушатами по напушке.<br/>
						<span style="float: right;">
							Людмила Петрушевская
						</span>
					</td>
				</tr>
			</table>
			<p>Идеологическая составляющая данного параграфа принадлежит не мне, а <a href="http://nordisk.pp.ru/design/">anti</a>. Данный текст публикуется с его разрешения с некоторыми исправлениями.</p>
			<p>Представьте себе, что в один день Билайн и МТС сменили свои логотипы на следующие:</p>
			<div class="center">
				<img src="/images/paragraphs/015.brands.png" width="397px" height="296px" alt=""/>
			</div>
			<p>— Как вы думаете, какая из этих картинок является новым логотипом Билайна, а какая принадлежит компании МТС? — такой вопрос был задан некоторому количеству людей, после чего полученные результаты были проанализированы.</p>
			<p>Давно известен и описан феномен сопоставления человеком бессмысленных слов бессмыссленным фигурам согласно их форме. Как вы думаете, что из этого Малума, а что - Такете?</p>
			<div class="center">
				<img src="/images/paragraphs/015.maluma.png" width="326px" height="153px" alt=""/>
			</div>
			<p>Вольфганг Келлер (Wolfgang Köhler) выяснил, что большинство людей называют правую фигуру Малума, а левую — Такете. Это означает, что у людей есть механизмы возникновения стойких ассоциаций между словами и фигурами, независимо от их смысла. А раз так, просто необходимо эти механизмы использовать.</p>
			<p>Вспомните экранизации книг, которые были прочитаны вами до выхода фильма в свет. Как вы представляли себе того или иного героя книги? Совпали ли ваши представления с образом на экране. Если да, то вы, автор книги и создатели фильма видели этот образ оджинаково. Притом образ этот был создан только на основе словесного описания героя писателем.</p>			
			<p>Исследования показали, что при смене языка ассоциативный ряд, как правило, не меняется. Так англоговорящие люди достаточно правильно 
			рассортировали слова перуанского языка, являющиемся названиями рыб и птиц. Другое исследование выявило, что взрослые и дети двух-трех лет сопоставляют округлые фигуры словам, в которые преобладают гласные и глухие согласные, а угловатые формы — словам с обилием звонких согласных звуков.</p>
			<p>Поскольку мы выяснили, что данный феномен работает, мы можем применять его в различных сферах дизайна. Например, так:</p>
			<div class="center">
				<img src="/images/paragraphs/015.game.png" width="600px" height="90px" alt=""/>
			</div>
			<p>Вполне логично, что при существовании возможности правильного и хорошего использования этого феномена, возможно также и неправильное его использование. Вот пример заведомо отталкивающего логотипа:</p>
			<div class="center">
				<img src="/images/paragraphs/015.cacao.png" width="127px" height="80px" alt=""/>
			</div>
			<p>МТС и Билайн имеют достаточно четкие образы в головах людей. Тем не менее, вот все, что у них есть в плане формы:</p>
			<div class="center">
				<img src="/images/paragraphs/015.brands2.png" width="415px" height="200px" alt=""/>
			</div>
			<p>Если вас до сих пор интересует ответ на вопрос, заданный в самом начале, то справа был изображен логотип Билайна. По крайней мере именно так ответили 80% опрошенных.</p>
