            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                    	Повторение – мать учения.<br/>
                        <span style="float: right;">
                        	Пословица.
                        </span>
                    </td>
                </tr>
            </table>
            <p>Я ненавижу словесные клише. Ненавижу, когда при мне произносят дурацкие пословицы. Сейчас, чтобы не казаться голословным, я попробую объяснить, 
            почему я нахожу их применение неприемлимым.</p>
            <p>Пословицы – некоторые более или менее устоявшиеся выражения языка, которые красиво и понятно описывают некотрое явление человеческой психики («Гром не грянет – мужик не перекрестится»). Как правило, эти пословицы сложились достаточно давно и являются произведениями народного творчества. Встледсвие своей старости, пословицы уже перестали описывать человеческую психику, поскольку общество и человек в нем меняются, а пословицы оставются неизменными. Так, например, ни одна образовательная программа основанная только на повторении пройденного материала не будет одобрена Министерством Образования Российской Федерации. Потому что, повторяя некоторые фундаментальные знания, никто никогда не научится применять их на практике.</p>
            <div class="lyrics">
                Путь в тысячу ли начинается с одного шага.<br/>
                Путь в десять тысяч ли начинается с одного шага.<br/>
                Путь в сто тысяч ли тоже начинается с одного шага.<br/>
                Кто-нибудь еще будет утверждать, что самое главное в любом деле – начало?
            </div>
            <div class="lyrics">
                Поисковая система <a href="http://nigma.ru">Nigma</a> выдает следующее количество результатов:
                <ul>
                	<li>«Молодая, динамично развивающаяся компания» – 73&thinsp;348</li>
                	<li>«Как я провел лето» – 15&thinsp;065&thinsp;560</li>
                	<li>«Вся контекстная реклама» – 6&thinsp;061&thinsp;291</li>
                </ul>
            </div>
            <p>Люди часто употребляют пословицы и утверждают, что поскольку пословица является творчеством многих людей, то она не может быть ошибочной. Пример ошибки уже приведен выше. Так что всякое утверждение народного творчества необходимо подкреплять более существенными аргументами.</p> 
            <div class="lyrics">
                Стоит заметить, что скороговорки я обожаю. Потому что они прекрасно выполяют свою основную функцию: скороговорки были придуманы для развития речевого аппарата у детей. Скороговорки не несут в себе абсолютно никакого смысла и ничего не пытаются объяснить. Примеры моего скороговорочного творчества вы можете найти в <a href="../blog.html">моем блоге</a>.<br/>
                От топота копыт пыль по полю летит.
            </div>
            <p>Слепое преклонение перед предметами народного творчества глупо и бессмысленно. Почему, скажите мне, пожалуйста, кто-то осуждает кощунство и святотатство студии Артемия Лебедева?</p>
            <div class="center">
            	<img src="images/016.georgius.png" width="261px" height="363px" alt="Фрукты побеждены"/>
            </div>
            <p>И почему при этом никого не коробит кощунство Министерства Финансов Российской Федерации?</p>
            <div class="center">
            </div>
