            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                    	&copy;
                    </td>
                </tr>
            </table>
            <p>Авторское право придумали очень умные люди.</p>
            <p>Основным предназначением авторского права является наделение автора определенными привилегиями по отношению к его произведению.</p>
            <p>Авторское право не может и не должно приносить прибыль. Прибыль приносит производство продукции, которая может быть защищена авторским правом. Чем выгоднее вы произведете продукт, тем больший доход вы получите при его продаже (логично, правда?).</p>
            <p>К сожалению, очень многие пытаются извлечь материальную выгоду из авторского права. Вот пример такого поступка:</p>
            <div class="center">
            	<img src="/images/paragraphs/017.fucktheredoctober01.jpg" width="485px" height="395px" alt="Вкус барбариса"/>
            	<img src="/images/paragraphs/017.fucktheredoctober02.jpg" width="483px" height="395px" alt="Мята"/>
            </div>
            <p>Прости меня, пожалуйста, «Красный Октябрь®».</p>
