			<table>
				<tr>
					<td></td>
					<td class="epigraph">
						 А роза упала на лапу Азора.
					</td>
				</tr>
			</table>
			<p>Орнаменты ужасны. Симметрия невыносима.</p>
			<div class="center">
				<img src="/images/paragraphs/018.Wave.png" width="552px" height="15px" alt="" />
			</div>
			<p>Дизайнеры считают, что орнаменты являются чем-то оригинальным, напоминают о фольклоре и стиле модерн.</p>
			<div class="center">
				<img src="/images/paragraphs/018.Wave.png" width="552px" height="15px" alt="" />
			</div>
			<p>Модерн прекрасен. В эпоху технического переворота и торжества новых технологий он возвращал искусство к его истокам — народному творчеству. Но художник вооружился компьютером и превратился в кого-то другого. Всякий предмет в руках человека является лишь инструментом. То есть это не палка-копалка превратила обезьяну в человека, но труд обезьяны, для которого палка была лишь вспомогательным предметом.</p>
			<div class="center">
				<img src="/images/paragraphs/018.Wave.png" width="552px" height="15px" alt="" />
			</div>
			<p>Орнаменты ужасны. Симметрия невыносима.</p>
			<div class="center">
				<img src="/images/paragraphs/018.Wave.png" width="552px" height="15px" alt="" />
			</div>
			<p>Не следует возводить Photoshop в ранг учителя. При помощи любых графических редакторов очень просто создаются рациональные изображения. Орнаменты появились как элемент народного творчества, и поэтому создавались они вручную, а элементы, схожие внешне, были различны друг от друга. Орнаменты, созданные в графическом редакторе, часто рациональны, поскольку получены операцией «Копировать — вставить».</p>
			<div class="center">
				<img src="/images/paragraphs/018.Wave.png" width="552px" height="15px" alt="" />
			</div>
			<p>Орнаменты ужасны. Симметрия невыносима.</p>
			<div class="center">
				<img src="/images/paragraphs/018.Wave.png" width="552px" height="15px" alt="" />
			</div>
			<p>Иррационализируйте.</p>
