			<table>
				<tr>
					<td></td>
					<td class="epigraph">
						В Казани он — татарин,<br/>
						В Алма-Ате — казах.<br/>
						<span class="signature">
							Самуил Маршак
						</span>
					</td>
				</tr>
			</table>
			<p>На русском сайте все должно быть написано по-русски. А на английском — по-английски. Дело в том, что слово «Алматы» отсутствует в русском языке. Точно также, как слово «Москва» отсутствует в английском или французском языках. Англичане вместо этого говорят "Moscow". Что говорят в этом случае вы можете узнать у них самих.</p>
			<p>В России, стоит заметить, никому не придет назвать город Нью-Йорк Новым Йорком. Потому что города Новый Йорк нет на карте.</p>
			<p>И только казахи умудрились додуматься навязывать свой язык инакоговорящим людям. За что их никак нельзя похвалить. Правильно называть город следует Алма-Ата.</p>
			<p>То же самое можно сказать и про фамилии. Поэтому правильно писать следует: оговорка по Фрейду (не по Фрёйду), Жерару Депардье (а не Депардьё) Мирей Матье (а никакую, мать ее, не Матьё).</p>
			<p>Я уважаю право наций на самоопределние. Но не стоит превращать это право в националистическую идею.</p>
