            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                    	Чрезмерное употребление пива вредит вашему здоровью.<br/>
                    	<span style="float: right;">Предупреждение Минздрава</span>
                    </td>
                </tr>
            </table>
            <p>Социальной называется реклама, побуждающая гражданина к совершению действий, изменяющих общество в целом: отказу от алкоголя, помощи сиротам, переводу бабушек через дорогу. Действия, рекламируемые в социалке не связаны с увеличением доходов какой-либо из компаний.</p>
            <p>Как правило, в основе социальной рекламы лежит некое достаточно простое утверждение, которое нужно донести до человека: «Курение вредно», «Наркоман не осознает реальность» и так далее.</p>
            <p>Способов донесения смысла утверждения существует наверное много, но все их можно разделить на два типа: первые говорят «Заниматься спортом полезно», а вторые утверждают «Не заниматься спортом вредно». Здесь, на мой взгляд таится основная ошибка создателей плохой социальной рекламы.</p>
            <div class="lyrics">
                В СПИДе, как таковом, нет опасности, именно потому, что он неизлечим – остановить его сегодня невозможно. Остановить можно только его дальнейшее распространение. Поэтому, на мой взгляд, два плаката ниже, призывают к невозможному:
                <div class="center" style="margin: 10px;">
                	<img src="/images/paragraphs/020.aids_bad_01.jpg" width="517px" height="214px" alt="Stop AIDS (First)" style="margin-right: 20px;"/> 
                	<img src="/images/paragraphs/020.aids_bad_02.jpg" width="284px" height="214px" alt="Stop AIDS (Second)"/> 
                </div>
                Остановить заразу можно, если каждый человек будет предпринимать некоторые меры защиты. Поскольку принятие мер подразумевает некое действие, много логичнее было бы написать "Stop to AIDS". Или можно бороться с распространением так:
                <div class="center">
                	<img src="/images/paragraphs/020.aids_good.jpg" width="300px" height="198px" alt="Stop the chain of AIDS"/>
                </div>
				Именно остановив распространение болезни человечеству удалось окончательно ислечиться от черной оспы в 1980 году (о чем с гордостью было заявлено на Ассамблее Всемирной Организации Здравоохранения).
            </div>
            <p>Один из немногих примеров логичного утверждения можно увидеть на сигаретных пачках:</p>
            <div class="center">
            	<img src="/images/paragraphs/020.smoke_warning.png" alt="Smoke causes gangrene" width="584px" height="188px"/>
            </div>
            <p>Большинству плакаты с радостными людьми и надписями «Живи без наркотиков» кажутся глупыми только потому, что так оно и есть. Потому что сама по себе жизнь без наркотиков не дает радости или каких-либо дополнительных ощущений. Однако жизнь на героине не позволяет чувствовать жизнь во всей полноте. Это еще один пример сомнительного утверждения.</p>
            <p>Вывод: прежде чем утвержать нечто, следует найти этому логичное объяснение.</p>
