            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                    	Да воздаст Господь идущим со мною,<br/>
                        А на тех, кто останется, я не озлоблюсь.<br/>
                    	<span style="float: right;">Песнь о моем Сиде</span>
                    </td>
                </tr>
            </table>
            <p>Всякое произведение, будь то повесть, логотип или песня, неотделимо от событий, в контексте которых оно создавалось. Для литературных произведений таким контекстом являются социальные процессы, происходившие в те или иные времена. Толстой написал «Войну и мир» потому, что жил в эпоху, явившуюся следствием наполеоновских войн и кампании 1812 – 1813 годов. Для программного обеспечения таким контекстом может являться техническое задание. Никому не интересна программа, умеющая решать какие-то задачи, если она не может решить задачу, изначально перед ней поставленную.</p> 
            <div class="lyrics">
                <p>Пабло Пикассо, безусловно, великий художник.</p>
                <p>Сейчас середина апреля 2010 года и в Пушкинском проходит привезенная выставка его работ. Люди выстаивают огромные очереди, чтобы увидеть ее. Большей частью люди идут на Пикассо потому, что имя его является сегодня довольно престижным брендом.</p>
                <p>Человек подоходит к работам, рассматривает, читает название, рассматривает еще в течение некоторого времени, после чего проходит дальше.</p>
                <p>В это же самое время на стенах висят постеры, повествующие о том или ином творческом или жизненном (что всегда взаимосвязано) периоде жизни художника. Из этих постеров можно уяснить контекст создания картин или скульптур.</p>
                <p>Как правило, эти постеры читают не более десятой части посетителей выставки.</p>
                <div class="center">
                	<img src="/images/paragraphs/021.guernica.jpg" alt="«Герника» Пабло Пикассо" width="903px" height="402px"/>
                </div>
                <p>Не интересно просто так смотреть на «Гернику». Интересно смотреть на нее, сознавая что Герникой назывался город на севере Испании, полностью уничтоженный фашистами. Косвенно, это событие привело к созданию сепаратистской организации E.&thinsp;T.&thinsp;A.</p>
            </div>
            <p>Произведение неотделимо от своего контекста. Поэтому на выставках вешают постеры с исторической справкой, а первый пункт каждой страницы портфолио Студии Артемия Лебедева озаглавлен «Задача».</p>
            <div class="center">
                <img src="/images/paragraphs/021.spain.png" alt="" width="150px" height="100px"/>
            </div>
