            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
                    	Простое число — это натуральное число, <br/>
                    	которое имеет ровно два различных <br/>
                    	натуральных делителя.
                    	<span style="float: right;">Википедия</span>
                    </td>
                </tr>
            </table>
            <p>Любой интерфейс тем понятнее, чем проще. Если в системе есть всего одна кнопка и пользователю необходимо совершить какое-то действие, ему не приходится задумываться над тем, на какую из кнопок нажимать.</p>
            <p>Сегодня всем приходится ездить в лифтах. Подниматься и спускаться. Вверх и вниз. В всех лифтах если двери. Они могут находиться в четырех состояниях (или же положениях): они открыты или закрыты, или открываются, или закрываются. Когда двери закрыты, лифт, как правило, находится в движении и открывать эти двери, поверьте, не стоит. </p> 
            <p>Еще в лифтах есть кнопки. Разные. Много. В частности, в лифтах есть кнопки открывания и закрывания дверей. Притом мне совершенно непонятно, зачем этих кнопок нужно было делать две.</p>
            <p>Вот, например, панель из лифта в Главном Здании МГУ:</p>
            <div class="center">
            	<img src="/images/paragraphs/022.panel.jpg" width="520px" height="400px" alt=""/>
            </div>
            <p>Очевидно, нельзя открыть открытые или открывающиеся двери. Также невозможно закрыть двери, которые уже закрываются. То есть в любой момент времени с дверьми можно совершить не более одного действия.</p>
            <p>Совершенно естественно сделать в этому случае ровно одну кнопку.</p>
            <p>— Подождите! — кричит милая дама в бежевом пальто. Вы нажимаете на кнопку, и для знакомства уже не нужно начинать разговор о том, какая сегодня прекрасная погода.</p>
			<p>Другим примером излишнего усложнения и засорения пространства являются лишние слова, слова не несущие смысла. В качестве примера можно привести слово «оптово-розничный». Всякая торговля бывает оптовой или розничной (или и то, и другое). Третьего не дано. Хватит!</p>
            <p>Однако, во всем нужно знать меру. Так, например, существуют лифты, в которых нет кнопок для открывания (тем более, для закрывания) дверей. В таких лифтах, как правило, приходится подавать сигнал к раздвижению руками, всунутыми меж створками. Чертовски страшные устройства!</p>
