			<table>
				<tr>
					<td></td>
					<td class="epigraph">
				   		Два человека остановились<br/>
				   		против подъезда, над которым<br/>
				   		золотом и лазурью было выведено:<br/>
				   		«КЛООП»
						<span style="float: right;">Илья Ильф и Евгений Петров</span>
					</td>
				</tr>
			</table>
	   		<p>Жить в эпоху свершений, имея возвышенный нрав, к сожалению, трудно.</p>
	   		<p>На дворе 2011 г. и мы совершенно потеряли любовь к красоте речи.</p>
	   		<p>Единственная функция разговора, сохраняющаяся до сих пор — передача информации от одного человека к другому (такой способ передачи	сообщения называется вербальным — прим. ред.).</p>
	   		<p>Для экономии времени люди стали использовать различные сокращения: г., до н. э., м. р., др. греч. и т. д.</p>
	   		<div class="lyrics">
	   			Если завести себе твиттер, всякое событие в жизни можно будет уместить в 140 символов.
	   		</div>
	   		<p>Всякое сжатие информации, как известно, уменьшает нагрузку на канал передачи (сетевой кабель, бумагу или воздух), но повышает нагрузку для принимающей стороны. Короче! Чем сильнее вы сокращаете текст, тем сложнее человеку его восстановить и прочитать.</p>
	   		<p>Особенно полезны в деле расшифровки написанного могут оказаться словари сокращений, такие как <a href="http://sokr.ru/">sokr.ru</a> 
	   		Студии Артемия Лебедева или иноязычный <a href="http://www.acronymfinder.com/">Acronym Finder</a>. Словари, как известно, придуманы для	нескольких целей:</p>
	   		<ul>
	   			<li>Для людей, занимающих исследованием в области языка и литературы;</li>
	   			<li>Для иностранцев, не понимающих язык словаря;</li>
	   			<li>Для носителей языка, которые не могут правильно говорить</li>
	   		</ul>
	   		<p>Думаю, что ни к одной из этих категорий рядовой читатель не относится. Не надо издеваться над людьми. Говорите по-русски, правильно, грамотно, полными развернутыми предложениями. Не стоит экономить буквы. Бумага все стерпит. Тем более — монитор.</p>
