			<table>
				<tr>
					<td></td>
					<td class="epigraph">
				   		В деревню, к тетке, в глушь, в Саратов!
						<span style="float: right;">Александр Грибоедов</span>
					</td>
				</tr>
			</table>
	   		<p>В этом параграфе я расскажу про ссылку.</p>
			<p>Ссылка — один из важнейших элементов на веб-странице. Ведь именно она позволяет эту страницу покинуть.</p>
			<p>Кроме этого, страницу бывает возможно покинуть при помощи кнопки. Но об этом — чуть позже.</p>
			<p>Ссылкой называется некоторый текст, который указывает на некоторый адрес в интернете. Кстати, адреса в интернете указываются в формате <a href="http://ru.wikipedia.org/wiki/Uri">URI</a>. Поэтому при нажатии на всякую ссылку должен происходить переход именно на ту страницу, на которую она указывает. К сожалению, это не всегда так — все дело в том, что при помощи URI можно адресовать не только веб-страницы, но и, например, адреса электронной почты. Поскольку при нажатии на ссылку с адресом электронной почты перехода не просходит (происходит открытие почтового клиента, если такой есть), такие ссылки должны отличаться от обычных ссылок. К тому же разряду относятся сслыки вроде skypeto, magnet и несколько других.</p>
			<p>Самым популярным способов выделения ссылок является их подчеркивание и выделение цветом. Со времен первого веба, кстати, осталась традиция различать посещенные ссылки и непосещенные. Сейчас всякий браузер имеет историю посешений, поэтому такое различие на сайте не нужно.</p>
			<p>Наконец, поговорим о кнопках. Не всякое действие, не всякий переход можно адресовать при помощи URI. Например, такой адрес не позволяет отослать на сервер данные формы, заполненной пользователем. Решение в этом случае просто: нужно использовать javascript, однако ни в коем случае нельзя устанавливать такой обработчик на ссылку, необходимо воспользоваться кнопкой. Все дело в том, что при наведении на ссылку с статусной строке высвечивается адрес, на который ссылка указывает, и пользователь может понять, что произойдет после нажатия на ссылку.</p>
			<p>Вывод: ссылки — для переходов и некоторого набора предопределенных действий. Кнопки — для всего остального.</p>
			<p>Спасибо.</p>			
