			<table>
				<tr>
					<td></td>
					<td class="epigraph">
				   		Синоним слова «легко». 
						<span class="signature">Сайт <a href="http://lurkmore.to">lurkmore.to</a></span>
					</td>
				</tr>
			</table>
			<p>Добрый день.</p>
			<p>В этом параграфе я хотел бы продолжить тему, которую я начал развивать в <a href="004.html">четвёртом параграфе</a>.</p>
			<p>Утверждение, которое я хочу донести до вас в этом параграфе звучит банально: до любого раздела сайта пользователь должен добираться за несколько кликов. Чем меньше будет максимальное расстояние между двумя страницами — тем лучше. На этом сайте для того, чтобы добраться из одного раздела в другой, читателю нужно сделать не более двух кликов.</p>
			<div class="lyrics">
				Если четвертый параграф рассказывал об удобстве для пользователя, незнакомого со структурой сайта, то этот параграф подразумевает, что пользователь знает, куда он хочет попасть и как туда добраться.
			</div>
			<p>Для того, чтобы оценить максимальное расстояние, преодолеваемое пользоватем по пути из одного конца сайта в другой, можно построить граф, в котором вершинами являются страницы (или группы страниц), а ориентированными рёбрами — ссылки. После этого необходимо измерить диаметр этого графа.</p>
