            <table>
                <tr>
                    <td></td>
                    <td class="epigraph">
						Ёклмн! Ёпрст!
                    	<span style="float: right;">Народная мудрость</span>
                    </td>
                </tr>
            </table>
			<div class="lyrics">
				Смысл этого параграфа противоречит суждениям, высказанным автором во <a href="002.html">втором параграфе</a>. Автор настоятельно рекомендует изучить ранее изложенные доводы.
            </div>
			<p>В этом параграфе я хочу донести до вас одну простую мысль: «Хватит стыдиться букв». Буква в составе длинного текста не несёт в себе никакой нагрузки, кроме выражения мысли автора, поэтому не стоит дополнительно ограничивать её употребление.</p>
			<p>Буква «Ё» имеет, согласитесь, нелёгкую судьбу. Все подряд хотят ограничить её употребление и заставить писать вместе неё букву «Е», мотивируя такое ограничение лишь схожестью графических изображений да несколькими правилами русского языка (кстати говоря, обозначенными, как необязательные к употреблению).</p>
			<div class="lyrics">
				С другой стороны, не стоит насильственно насаждать употребление вновь обретенного символа. Бросание из крайности в крайность редко кого доводило до благоприятного окончания.
            </div>
			<p>В своё время я тоже выступал против употребления буквы «Ё». Сейчас я осознаю, что во многом такое воинственное отношение было вызвано отсутствием приятных глазху начертаний этой буквы. Теперь, после появление некоторых новых шрифтовых семейств, подобной проблемы не стоит.</p>
			<p>Отныне я начинаю употреблять все буквы русского алфавита, не руководствуясь какими-либо предрассудками и помня лишь о правилах великого и могучего русского языка.</p>
			<p>Спасибо.</p>
