<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
	{% include "components/head.html" %}
		<title>.руЛевые — Люблю</title>
	</head>
	<body>
	{% include "components/header.html" %}
	{% include "components/menu.html" %}
		<div class="center">
			<img src="/images/icons/like.svg" width="100px" height="100px" style="margin: 10px;" alt=""/>
			<h1>Люблю:</h1>
			<div class="content">
				<ul>
					<li>Вещи;</li>
					<li>Стихи;</li>
					<li>Звук и музыку;</li>
					<li>Кино, которое я могу смотреть больше десяти минут;</li>
					<li>Бумажные книги;</li>
					<li>Исторические танцы;</li>
					<li>Делать что-то руками;</li>
					<li>Бессмысленные последовательности слов;</li>
					<li>Цейлонский черный листовой чай;</li>
					<li>Когда вещь сделана с любовью;</li>
					<li>Музыку на компакт-дисках (чтобы с буклетиком и все такое)</li>					
					<li>Хорошие иллюстрации</li>					
					<li>Трагедии Шекспира</li>
					<li>Хорошие иллюстрации в бумажных книгах;</li>
					<li>Книги по типографике;</li>
					<li>Смотреть «Что? Где? Когда?»;</li>
					<li>Филигранные подстаканники;</li>
				</ul>			
				<div class="center">			
					<hr/>
					<div class="navigate">
						<a href="/other/dislike.html" class="navigate" title="Не люблю">
							<img src="/images/icons/dislike.svg" width="24px" height="24px" alt="[Не люблю]"/>
						</a>			
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
