<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
	{% include "components/head.html" %}
		<title>.руЛевые — Тестирующая система</title>
	</head>
	<body>
	{% include "components/header.html" %}
	{% include "components/menu.html" %}
		<div class="content">
			<h1>Тестирующая система</h1>
			<p>Мною был создан интерфейс для проведения тестирований для студентов МФЮА:</p>
			<div class="center">
				<img src="/images/other/testing.png" width="777px" height="664px" alt=""/>
			</div>
			<p>Во время прохождения тестирования ссылки вовне убраны для того, чтобы не отвлекать внимание студента.</p>
			<p>Активно используется цветовое кодирование для лучшего восприятия информации.</p>
			<br/>
			<p>Также был создан интерфейс по редактированию сопутствующей системе базы вопросов для тестирования:</p>
			<div class="center">
				<img src="/images/other/creation.png" width="777px" height="616px" alt=""/>
			</div>			
		   	<p>Экран для создания тестирования. Все удобно и, что главное, понятно. Для отображения базы вопросов используем древовидные 
		   	структуры.</p>
		   	<p>Чтобы увидеть систему в действии нужно пойти учиться в МФЮА.</p>
		</div>
	</body>
</html>
