<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
{% include "components/head.html" %}	
		<title>.руЛевые – 404</title>
	</head>
	<body>
{% include "components/header.html" %}	
{% include "components/menu.html" %}
		<div class="content">
			<h1>Произошла ошибка номер</h1>
			<h1 style="font-size: 1989%;">404.</h1>
			<h1>Это значит, что запрашиваемая вами страница, увы, не найдена.</h1>
			<h1>Меню навигации находится сверху. Спасибо.</h1>
			<hr/>
		</div>
	</body>
</html>
