			<p>Здравствуйте!</p>
			<p>Сегодня я хочу рассказать вам о кельтской арфе.</p>		
			<p class="song">Sileas — Margaret's waltz / The dark island</p>
			<p>Это были сестры Пэтси Шелдон и Мэри Макмейстер, составляющие дуэт Sileas. Пэтси играет на электрической арфе, Мэри — на арфе с металлическими струнами. Sileas — шотландский дуэт и, музыка, ими исполняемая относится к шотландской традиции. Однако применение кельтской арфы не ограничивается этим регионом: признанным мастером кельтской арфы является бретонец Алан Стивелл.</p>
			<p class="song">Alan Stivell — Terre de vivants</p>
			<p>Немец Rüdiger Oppermann известен своим экспериментальным подходом к народной музыке. Он играет на гэльской арфе, называемой clairseach, которая была изготовлена специально для	него. Вот как она звучит.</p>
			<p class="song">Rüdiger Oppermann — Emerald forest</p>
			<p>Стоит сказать, что кельтская арфа ничем принципиально не отличается от других арф. Этот	инструмент был известен еще в средние века, хотя и значительно эволюционировал за 700 с	лишним лет. Одна из самых древних народных арф, сохранившихся до наших времен, относится к 1400 году. А вот так звучала средневековая придворная арфа.</p>
			<p class="song">The Early Music Consort of London — Harp: metal strung, gut strung</p>
			<p>Вот и боги народной музыки, группа The Chieftains (Вожди), не обошла вниманием кельтскую арфу.</p>
			<p class="song">The Chieftains — Tribute to Bunting</p>
			<p>Притом не просто не обошла вниманием, а еще и записала целый альбом с названием The Celtic Harp. Несколько композиций на этом альбоме полнены ими с целым оркестром арфистов.</p>
			<p class="song">The Chieftains — Sonny Brogan’s mazurkas</p>
			<p>Сегодня в России также есть несколько исполнителей, играющих на кельтской арфе. Татьяна Струнина иногда играет в московской группе Mervent.</p>
			<p class="song">Mervent — Gwerz</p>
			<p>Кроме Татьяны Струниной, на арфе играет еще и Наталья О’Шей, более известная под	псевдонимом Хелависа. Основным проектом Натальи является группа Мельница и ее я вам	ставить сегодня не буду. Кроме Мельницы, Хелависа имеет обширную сольную дискографию, а также успела поучаствовать в проектах Clann Lir и Romanesque. Одну из композиций проекта Clann Lir я вам и поставлю.</p>
			<p class="song">Clann Lir — Black is the colour</p>
			<p>Не стоит, однако, думать, что арфой у кельтов принято выражать выражать лишь негативные эмоции. Как контрпример, я поставлю вам еще одну композицию группы Clann Lir — народный танец Kemp’s jig.</p>
			<p class="song">Clann Lir — Kemp’s jig</p>
			<p>Большое спасибо за внимание.</p>
			<p>До следующего выпуска.</p>
			<p>Удачи!</p>
