			<p>Здравствуйте!</p>
			<p>В 1492 году Христофор Колумб открыл Америку.</p>
			<p>И понеслось...</p>
			<p class="song">Los Gaiteros de Moscu — Marcha do Entrelazado de Allariz / Muiñeira de Tomaleo</p>
			<p>Сначала в Америку плыли испанцы. Потом англичане. Потом французы. Потом все остальные. Естественно, такие массовые людские передвижения не могли не затронуть кельтские народы, разбросанные по всей Европе.</p>
			<p class="song">Planxty — Thousands are sailing</p>
			<p>Для большинства путешествие на запад было неплохой перспективой решить финансовые проблемы — уезжали в основном бедные люди или люди, имевшие серьезные проблемы с законом, поэтому в Америке до довольно недавнего времени был высок уровень преступности. Эту тему очень любит обыгрывать в своих фильмах Мартин Скорсезе.</p>
			<p class="song">Angelo DiPippo — Godfather mazurka</p>
			<p>Все национальные культуры, прибывшие в Америку из-за океана, были кинуты в котел и накрыты крышкой. Смесь получилась дикая. Из котла впоследствии можно было достать	музыку стилей джаз, блюз и кантри, но об этом я расскажу вам как-нибудь попозже.</p>
			<p class="song">The Irish Rovers — Goodbye Mick and goodbye Pat</p>
			<p>Не стоит забывать и о других любителях легкой наживы. Часть народа решила перестать трудиться честно и отправилась грабить морские суда, перевозившие золото и серебро из Южной Америки. Корабли шли, в основном, по течению Гольфстрим, поэтому острова	Карибского залива стали отличным прибежищем для пиратов.</p>
			<p class="song">Улица радио — На концах удлиненных рей</p>
			<p>Люди плыли и открывали все новые и новые земли. Вскоре было заселено восточное
			побережье Соединенных Штатов и Канаду. Новоприбывшие двинулись на запад.</p>
			<p class="song">The Irish Rovers — New York gals</p>
			<p>Прошло некоторое время. Индейцы были большей частью уничтожены, остатки — загнаны в резервации, из Африки были привезены негры-рабы, а белые стали хозяевами континента.	Но не могут люди, у которых путешествия кипят в крови, сидеть, сложа руки, у себя на ранчо и выращивать кукурузу. В Соединенных Штатах Америки началась борьба за освобождение от английского владычества, а вскоре после освобождения — гражданская война.</p>
			<p class="song">Spare parts - Soldier's joy / College hornpipe</p>
			<p>Эпоха великого переселения за океан закончилась. Штаты освободились от английской короны и от рабства. Ирландские переселенцы обосновались в Нью-Йорке и других крупных
			городах и совсем позабыли про свою родину.</p>
			<p class="song">Clann Lir — My son in Americay</p>
			<p>Кажется, то, что варилось в заветном котле музыкальных культур уже, что называется, дошло до готовности. Можно приоткрывать крышку!</p>
			<p class="song">The Soggy Bottom Boys — I am a man of constant sorrow</p>
			<p>Кстати, не только в Америке на переселенческий огонь был поставлен музыкальный котелок. Смешение культур не обошло стороной и Австралию.</p>
			<p class="song">The Bushwackers — Waltzing Matilda</p>
			<p>Вот и подошел к концу мой рассказ о путешествиях.</p>
			<p>Спасибо вам.</p>
			<p>До встречи!</p>
