			<p>Здравствуйте!</p>
			<p>Сегодня мы будем слушать то, что было народной музыкой когда-то очень-очень давно.</p>
			<p class="song">Jordi Savall, Le Concert des Nations – Les nimphes de la Grenouillere</p>
			<p>В энциклопедии написано буквально следующее: Возрождение — эпоха в истории культуры Европы, пришедшая на смену культуре средневековья и предшествующая культуре нового времени. Примерные хронологические рамки эпохи — начало XIV— последняя четверть XVI веков, а в некоторых случаях — первые десятилетия XVII века. Отличительной чертой этой эпохи является антропоцентризм.</p>
			<p class="song">The Toronto Consort – O, mistris mine</p>
			<p>Ученые из энциклопедий выделили четыре периода итальянского возрождения. Кроме Италии, почти не оказывавшей влияния на другие европейские страны, выделяют северное Возрождение, которое характерно для Франции, Германии и Нидерландов. Но обо всем по порядку.</p>
			<p class="song">The Baltimore Consort – Galliard d'escosse</p>
			<p class="song">The Baltimore Consort – Laroque galliard</p>
			<p class="song">The Baltimore Consort – Alemande de Liege</p>
			<p>Раннее возрождение в Италии отличается влиянием готического искусства. Именно поэтому значение религии еще довольно велико. Большинство музыки писалось для церковных служб. Известным деятелем итальянского проторенессанса, эпохи ars nova, был Франческо Ландини.</p>
			<p class="song">The Early Music Consort of London – Francesco Landini: La bionda treçça</p>
			<p>Видным деятелем эпохи нового искусства был еще и француз Гийом де Машо.</p>
			<p class="song">The Early Music Consort of London – Guillaume de Machaut: Lasse! comment oublieray</p>
			<p>Чуть позже музыка стала более светской, вышла из лона церкви. Наиболее значительные произведения той эпохи сочетали в себе «книжную» культуру с культурой народной. Франсуа Вийон, первый французский лирик, не гнушался описанием мещанской жизни.</p>
			<p class="poetry">
				Я – Франсуа, чему не рад,<br/>
				Увы, ждет смерть злодея,<br/>
				И сколько весит этот зад,<br/>
				Узнает скоро шея.<br/>
			</p>
			<p class="song">Dead Can Dance – Saltarello</p>
			<p>Время шло. В Германии был изобретен печатный станок. Распространение новых идей вспыхнуло с доселе невиданной силой. Если раньше письменностью владели только монахи в монастырях, которые и занимались хранением знаний, то теперь умение писать и читать стало непременным атрибутом культурного человека.</p>
			<p class="song">Drolls – Tourdion </p>
			<p>Не стоит забывать и об Англии. Ренессанс в этой стране знаменит правлением двух монархов: Генриха VIII и Елизаветы I. Музыка елизаветинской эпохи заслуживает более детального рассмотрения, а вот песню, авторство которой приписывают Генриху VIII,   я поставлю прямо сейчас.</p>
			<p class="song">The Broadside Band – Greensleeves</p>
			<p>Я, кажется, совсем позабыл об одном регионе Европы. Испания совсем недавно сбросила гнет арабского ига. Реконкиста дала мощный толчок в науке и искусстве. Именно на волне освобождения испанцам удалось открыть, а впоследствии и колонизировать Новый Свет.</p>
			<p class="song">Alfonso X el Sabio – Saltarello (performed by Jordi Savall, Hesperion XXI)</p>
			<p>Однако и в солнечной Испании не все было гладко. Тогда в Испании правила династия Габсбургов, и территории современной Бельгии и современных Нидерландов целиком находилась под их властью. Жители северных стран не могли понять жителей южных и наоборот. В 1581 году в нескольких испанских провинциях вспыхнуло восстание, в результате которого Нидерланды стали самостоятельным государством.</p>
			<p class="song">The Early Music Consort of London – Scaramella va alla guerra</p>
			<p>Что испанская, что французская, что голландская  церкви не могли не подвергнуться влиянию идеи «творчества для народа». Чтобы не растерять последователей окончательно, церковь вынуждена была измениться. В 1589 году увидела свет книга Туано Арбо «Орхезография», трактат в форме диалога, из которого каждый может легко научиться благородному искусству танца. Книга отделяла танцы, достойные культурного человека, от танцев необразованной толпы.</p>
			<p class="song">Welladay – Galliarde</p>
			<p>Так закончилась эпоха возрождения Европы после мрачного средневековья. Началась эпоха барокко. О ней — как-нибудь в другой раз.</p>
			<p>Спасибо вам.</p>
