			<p>Здравствуйте!</p>
			<p>Поздравляю вас с наступлением осени. Небо стало серым, и кажется, что солнце надолго скрылось за облаками. А нам остается лишь радоваться естественному ходу событий.</p>
			<p class="song">Angelo DiPippo – Tarantella allegra</p>
			<p>Тарантелла – старинный итальянский танец, известный еще с 15 века. Ритмически танец очень похож на сальтарелло – их мы с вами достаточно послушали в прошлый раз. Название танца происходит, кстати, от названия южного итальянского города Таранто.</p>
			<p class="song">Luc Arbogast – Tarantella</p>
			<p>Тарантелла за свою продолжительную историю успела обрасти множеством легенд.  Если верить одной такой старинной итальянской легенде, станцевав тарантеллу, можно было исцелиться от тарантизма – недуга, вызванного укусом паука-тарантула. Знаете, я давно догадывался, что меня укусил какой-то паук.</p>
			<p class="song">Angelo DiPippo – Balla la nonna</p>
			<p>Недавно началась осень, и школьники пошли в школу. Как же не рассказать о том, что к музыке тарантеллы неоднократно обращались классические композиторы: Берлиоз писал, Шопен сочинял, Лист придумывал, Россини и Бизе не могли нарадоваться этой музыке. Не нарадуемся же и мы.</p>
			<p class="song">Дмитрий Шостакович – Symphony №4 (Italian): Saltarello (composed by Jakob Ludwig Felix Mendelssohn Bartholdy)</p>
			<p>Нельзя не упомянуть об огромном влиянии итальянской тарантеллы на музыку современной нам Ирландии и Шотландии. Тарантелла, претерпев многие изменения, превратилась в популярный танец – джигу. Понеслась душа в рай!</p>
			<p class="song">Lúnasa – Mí na nollag: Kerfunten / Eddie Kelly's / Give us a drink of water</p>
			<p>Но, вернемся к нашим тарантеллам.</p>
			<p>Не знаю как вам, а мне кажется, что тарантеллы – настоящий запас солнечной энергии. При правильном их применении можно вылечить не только тарантизм, но и мигрень, хандру, депрессию и даже другие серьезные и более опасные болезни.</p>
			<p class="song">Angelo DiPippo – Come facette mammeta</p>
			<p>Мне известно несколько случаев чудесного действия тарантеллы. Так, итальянская "Corriere della Sera" писала в выпуске от 14 июля 2008 года:</p>
			<p>«Птичий грипп успешно побежден в одной из отечественных фармакологических лабораторий. Ученым удалось синтезировать антитела, которые при определенных условиях уничтожают вирус. Более того, ученым удалось установить, что организм человека сам начинает вырабатывать подобные антитела, как только услышит музыку тарантеллы» – конец цитаты.</p>
			<p class="song">Sherwood – Tarantella</p>
			<p>А вот еще одна, много более интересная цитата:</p>
			<p>«28 сентября во время похорон Жизели Антони произошел случай, не имеющий известных нам аналогов. Траурная процессия шла по улицам Марселя. Уличные итальянские музыканты заиграли тарантеллу, и Жизель, покинувшая, как считалось, мир живых, встала и пошла танцевать. Как только удивленные музыканты прекратили игру, Жизель остановилась, и, так и не произнеся ни слова, упала замертво, теперь уже навсегда» – пишет французская "L'Humanite" в своем выпуске от 31 сентября 2006 года.</p>
			<p class="song">Angelo DiPippo – Tarantella napoletana</p>
			<p>По словам Игоря Можейко (известного также под псевдонимом Кир Булычев), известного советского историка, тарантелла была завезена в Италию греками и, очевидно, носила ритуальный характер. Танец этот посвящался Аполлону и Дионису, богам здорового образа жизни древних греков.</p>
			<p class="song">Мельница – Тарантелла</p>
			<p>Тарантелла в древности была не просто ритуальным танцем. Как вам, наверное, известно, серьезную опасность для жителей Сицилии представлял вулкан Этна. До нас доходят неопровержимые доказательства того, что древние сицилийцы для того, чтобы успокоить чрезмерно опасную деятельность вулкана, поднимались к его вершине, где приносили в жертву животных. Это мракобесие сопровождалось музыкой и, возможно, танцами обнаженных жриц. Ни одного свидетельства о жанре исполняемой музыки мне найти не удалось, но догадаться, как мне кажется, совсем не сложно.</p>
			<p class="song">Angelo DiPippo – Sicilian tarantella</p>
			<p>А если быть серьезным, то тарантелла, по-моему, обладает лишь одним действием. Она наполняет душу слушателя радостью и каким-то мистическим теплом.</p>
			<p class="song">Drolls – Saltarello #3</p>
			<p>Да так ли это важно, друзья, какими чудодейственными свойствами обладает определенная музыка?</p>
			<p class="song">Angelo DiPippo – Tarantella cosentina</p>
			<p>Еще раз поздравляю вас с наступлением осени. До новой встречи через неделю, когда мы с вами услышим что-то совсем другое... </p>
			<p class="song">Angelo DiPippo – Tarantella mafiosa</p>
