			<p>Здравствуйте!</p>
			<p>Сегодня, как я и обещал, мы будем слушать что — то совсем необычное: я собираюсь окунуться в волшебный мир народных сказок Англии, Ирландии, Шотландии и вообще.</p>
			<p class="song">The Baltimore Consort  —  J'ai vu le loup</p>
			<p>В царствование доброго короля Артура в графстве Корнуэлл, на мысу Лэндс — энд жил крестьянин, и был у этого крестьянина единственный сын по имени Джек. Джек был ловкий парень с таким быстрым и живым умом, что никто и ни в чем не мог с ним потягаться.</p>
			<p>В те дни на острове, именуемом Корнуэллская гора, обитал страшный великан  —  Корморен. Ростом он был с хороший дом, или замок, в обхват толще самого толстого дерева, а лицом  —  страшилище да и только. Был он так свиреп и грозен, что все окрестные города и села дрожали перед ним. Жил Корморен в пещере, в самом центре горы, а когда ему хотелось есть, он брел по воде на большую землю и хватал все, что попадалось под руку. Завидев его, люди покидали свои дома и разбегались кто куда. Великан ловил их скот  —  ему было нипочем утащить на спине полдюжины быков за раз, а овец и свиней он просто нанизывал себе на пояс, как связку сальных свечей. Многие годы он был грозой всего Корнуэлла.</p>
			<p class="song">Dalla  —  Seventeenth comes Sunday</p>
			<p>Но вот в городской ратуше созвали совет, чтобы решить, как бороться с великаном. И туда зашел Джек. И Джек спросил:</p>
			<p>— А какую награду получит тот, кто убьет Корморена?</p>
			<p>— Все сокровища великана!  —  ответили Джеку.</p>
			<p>— Тогда поручите это дело мне!  —  сказал он. Раздобыл он себе рожок, кирку и заступ и, как только спустился темный зимний вечер, добрался до Корнуэллской горы и принялся за работу.</p>
			<p class="song">Slua Sí  —  Belharbour / Bonaparte's March / Peacock's Reather</p>
			<p>Не успело настать утро, а Джек уже вырыл яму, в которой мог поместиться целый дом с курятником. Потом покрыл ее длинными ветками и соломой, а сверху еще землей присыпал, чтобы казалось, будто это ровное место. Уселся Джек на край ямы, подальше от жилища великана, и, когда занялся день, приложил к губам свой рожок, и заиграл веселый галоп. Великан проснулся и с криком выбежал из пещеры:</p>
			<p>— Ах ты негодяй! Как посмел ты нарушить мой покой? Я этого не потерплю! Вот погоди, поймаю тебя да изжарю себе на завтрак!</p>
			<p>Но не успел великан выкрикнуть эти угрозы, как бухнулся в яму, от чего Корнуэллская гора даже вздрогнула.</p>
			<p>— Что, великан, попался?  —  крикнул ему Джек.  —  Ну, а как же теперь насчет того, чтобы изжарить меня на завтрак? Может, лучше что другое съешь? Зачем тебе бедный Джек?</p>
			<p>Поиздевавшись над великаном, Джек ударил его со всего размаха тяжелой киркой по макушке и убил наповал. Потом засыпал яму землей и отправился искать пещеру Корморена. Нашел пещеру, а в ней  —  груду сокровищ!</p>
			<p>Городской магистрат узнал о подвиге Джека и объявил всем, что отныне Джека следует величать:</p>
			<p>Джек  —  победитель великанов.</p>
			<p class="song">Dalla  —  Ann Tremallan / Farewell maidens all</p>
			<p>Весть о победе Джека вскоре разнеслась по всей Западной Англии. Дошла она и до другого великана, Бландебора, и тот поклялся при первой же встрече отомстить Джеку. Бландебор владел заколдованным замком, что стоял посреди дремучего леса.</p>
			<p>И вот месяца четыре спустя Джек отправился в Уэльс и проходил по опушке этого леса. Он очень устал и присел отдохнуть возле веселого ручейка, да и заснул крепко. А пока он спал, к ручью пришел за водой сам Бландебор, увидел Джека, прочитал надпись на его поясе и сразу узнал, что это Джек  —  победитель Великанов. Недолго думая, великан взвалил Джека на плечи и потащил в свой замок.</p>
			<p>Дорогой пришлось ему пробираться через чащу, и шум ветвей разбудил Джека. С ужасом Джек понял, что попал в лапы великана. Но самое страшное было впереди!</p>
			<p class="song">Fernhill  —  Cowboi</p>
			<p>Бландебор дошел до своего замка, отнес бедного Джека в огромную комнату и запер там, а сам пошел за другим великаном  —  своим братом, который жил в том же лесу,  —  чтобы вместе с ним полакомиться юношей.</p>
			<p>Джек подождал — подождал, потом подошел к окну и увидел вдали двух великанов.</p>
			<p class="song">Plethyn  —  Can y melinydd</p>
			<p>«Ну,  —  подумал Джек,  —  сейчас я либо умру, либо спасусь!» Тут он заметил, что в углу комнаты лежат крепкие веревки. Вот Джек взял две веревки, завязал на конце каждой надежную петлю и, пока великаны отпирали железную дверь замка, накинул им петли на шею, а концы веревок перебросил через балку и что было силы потянул вниз. Великаны и задохнулись. Джек отпустил веревки, выхватил свой меч и пронзил обоих братьев. Потом взял ключи Бландебора и отпер все комнаты замка. В комнатах он нашел трех девушек.</p>
			<p>— Прекрасные леди!  —  сказал им Джек.  —  Я умертвил чудовище и его жестокого брата. Вы свободны!</p>
			<p>Тут Джек вручил девушкам все ключи и пошел своей дорогой в Уэльс.</p>
			<p class="song">Crasdant  —  Pibddawns trefynwy</p>
			<p>Джек спешил и шагал очень быстро, но заблудился. Ночь застала его в дороге, а жилья поблизости не было. Наконец он забрел в какую — то ложбину и увидел большой дом. Собрался с духом и постучал в ворота. И тут, к его изумлению, из дома вышел громадный великан о двух головах.</p>
			<p>Однако он казался не таким свирепым, как другие великаны. Это был хитрющий валлийский великан, и людям он причинял зло исподтишка, прикидываясь их другом. Джек попросился переночевать, и великан отвел его в спальню. А посреди ночи Джек услышал, как его хозяин бормочет в соседней комнате:</p>
			<p class="poetry">
				Хоть ты и лег на мою кровать,<br/>
				С нее тебе уже не встать  — <br/>
				По ней дубинка пойдет плясать.<br/>
			</p>
			<p>— Так вот что ты задумал!  —  прошептал Джек.  —  Узнаю твои уэльские шуточки! Но я тебя перехитрю!</p>
			<p class="song">Plethyn  —  Y ceidwad</p>
			<p>Тут Джек вскочил с кровати, положил вместо себя бревно, а сам спрятался в углу. Глухой ночью уэльский великан вошел в комнату и принялся молотить тяжелой дубиной по кровати. Он был уверен, что перемолол Джеку все кости, но Джек наутро вышел из своего угла и, усмехаясь, поблагодарил хозяина за ночлег.</p>
			<p>— Хорошо ли отдохнул?  —  спросил его великан.  —  Может, тебя что–нибудь беспокоило ночью?</p>
			<p>— Да нет!  —  ответил Джек.  —  Вот только крыса какая — то раза два задела меня хвостом.</p>
			<p>Подивился великан. Потом повел Джека завтракать и поставил перед ним пудовую миску мучного пудинга. Джеку не хотелось признаться, что ему столько не съесть. Вот он сунул себе под куртку  большой кожаный мешок и, пока ел, незаметно перекладывал туда пудинг, а после завтрака сказал великану, что сейчас покажет ему чудо. Взял нож и распорол мешок  —  пудинг — то весь и вывалился.</p>
			<p>— Погоди, погоди!  —  вскричал великан.  —  Такое чудо и мы можем тебе показать!</p>
			<p>Схватил нож, вспорол себе брюхо и тут же упал замертво.</p>
			<p class="song">Crasdant  —  Jigiau'r goron</p>
			<p>А случилось это как раз в те дни, когда единственный сын короля Артура попросил у отца кучу денег: он хотел попытать счастья в княжестве Уэльском, где жила красавица, одержимая семью злыми духами. Король всячески отговаривал сына, но тщетно. Наконец пришлось ему уступить, и принц тронулся в путь с двумя конями  —  на одном сам ехал, а на другом мешок с деньгами вез.</p>
			<p>Через несколько дней принц въехал в один уэльский город и увидел на площади большую толпу. Он спросил людей, зачем они собрались, и те ответили, что стерегут покойника  —  не дают его хоронить, потому что он при жизни задолжал им большие деньги. Подивился принц жестокосердию этих людей и сказал:</p>
			<p>— Ступайте похороните его, а потом приходите ко мне  —  я выплачу все его долги сполна.</p>
			<p>Тут принца осадило столько людей, что к вечеру у него осталось всего два пенса.</p>
			<p>А в это время через город проходил Джек  —  победитель великанов. Щедрость принца пришлась ему по душе, и Джек попросился к нему на службу. Принц согласился взять Джека, и наутро они тронулись в путь вместе. Когда они выезжали из города, принца окликнула какая — то старуха. Она сказала:</p>
			<p>— Вот уже семь лет, как покойник взял у меня в долг два пенса. Прошу вас, заплатите мне, как платили другим!</p>
			<p>Принц сунул руку в карман, вытащил последние свои деньги и отдал их женщине. У Джека еще оставалось несколько монет, но путники в тот же день истратили их на обед, и оба оказались без гроша.</p>
			<p>Перед самым заходом солнца королевский сын сказал:</p>
			<p>— Где же нам ночевать, Джек? Ведь денег — то у нас нет.</p>
			<p class="song">Fisherman's Friends  —  Bully in the alley</p>
			<p>Наше время, кажется, уже подходит к концу. Эту совсем не сказочную интригу мы разрешим позже, когда продолжим чтение сказок.</p>
			<p>До встречи через неделю.</p>
