			<p>Привет!</p>
			<p>В этой передаче я хотел рассказать вам про Джорджа Фредерика Генделя. Но у меня ничего не получилось.</p>
			<p class="song">Arizona Smoke Revue – Grandfather's clock</p>
			<p>Итак, сегодня мы вновь приоткрываем крышку американского котелка, в котором, как я уже говорил, в течение пары сотен лет варилось черт его знает что: на американскую музыку оказали влияние все вновь прибывавшие в Новый Свет культуры: здесь и ирландцы, и шотландцы, и итальянцы,  и испанцы. Нельзя забывать и о негритянской музыке.</p>
			<p class="song">Alison Krauss – Down in the river to pray</p>
			<p>Стоит отметить также влияние госпела – религиозных гимнов, которые зародились в негритянских церквях, а потом приглянулись и белому человеку.</p>
			<p class="song">Sarah, Hanna &amp; Leah Peasall – In the highways</p>
			<p>Но, довольно об излишне возвышенном.</p>
			<p>Сегодня в народной музыке Америки выделяют несколько направлений. Во-первых, кантри – это сельская музыка – объединяет в себе ковбойские баллады и музыку белых. Во-вторых, джаз – музыка, выросшая в основном из музыки африканских поселенцев. Ну, и третье, самое замечательно, как мне кажется направление – это блюграсс.</p>
			<p class="song">Country Gazette – Saint Anne's reel</p>
			<p>Это был рил святой Анны в исполнении «Country Gazette». Как вы, наверное, убедились, корни блюграсса уходят в английскую, шотландскую и ирландскую народную музыку. Кроме уже названных культур, на блюграсс оказывали влияние и другие направления народной американской музыки.</p>
			<p>Вспоминая о родине, нельзя не упомянуть первую, наверное, российскую группу, начавшую играть американскую народную музыку – это «Old Horned Sheep». Ее лидер – Александр Дмитриев – широко известен как популяризатор «кельтской» музыки у нас. Недавно у них, кстати, вышел новый альбом. Надеюсь, у меня будет возможность рассказать вам о новых альбомах этой осени. А пока, чтобы вы не скучали...</p>
			<p class="song">Old Horned Sheep – The girl I left behind me</p>
			<p>Правильная музыка стиля блюграсс, как считают ценители, представляет собой коктейль из пяти компонентов – своеобразный пунш. Свое название музыкальный этот музыкальный стиль берет от названия группы Билла Монро «The Blue Grass Boys» – парни синей травы. Не могу точно сказать, что конкретно имел ввиду Билл, но музыка у него получилась замечательная.</p>
			<p class="song">Bill Monroe – Rocky road blues</p>
			<p>Традиционным блюграсом называют музыку, сыгранную на пяти инструментах – тех же самых, на которых играли «The Blue Grass Boys», а это: мандолина, скрипка, контрабас, банджо и гитара. Впрочем, далеко не все соблюдают эту традицию. Такое несоблюдение называется  прогрессивным блюграссом. Музыка, прогрессируя, ничуть не становится хуже.</p>
			<p class="song">Richard Greene – Pipehorn hornpipe</p>
			<p>И, если уж продолжать разговор о наборе музыкальных инструментов, определяющих стиль музыки, называя его «традиционным», или «прогрессивным», разделяя весь мир на черное и белое, никак нельзя не поставить вам что-нибудь этакое. Бела Флек, может, несомненно, считаться прогрессивным музыкантом. То волынка у него в музыке звучит вместе с банджо, то вот, с электричеством балуется. Ух!</p>
			<p class="song">Béla Fleck – Double play</p>
			<p>Чтобы Джорджа Фредерика Генделя все же не очень оскорбляли моя любовь к народной музыке и легкомысленное отношение к барокко, я поставлю чуть более классическую мелодию. Это будет мазурка Шопена, сыгранная на инструментах, родственных американской душе. А вы послушайте, и решите, правда ли народная культура так далека от культуры возвышенной?</p>
			<p class="song">Béla Fleck – Chopin: Mazurka in F-sharp minor, op. 59, no. 3</p>
			<p>Решили? Ну, наверняка хотя бы задумались? А теперь – танцы!</p>
			<p class="song">Richard Greene – Charleston</p>
			<p>Блюграсс, как и кантри, является музыкой простых сельских парней, играемой где придется. Ни один деревенский праздник, как известно, не обходится без музыки. Поэтому нет ничего удивительного, что блюграсс и кантри в деревнях и маленьких городах примерно так же популярны, как и поп-музыка в мегаполисах.</p>
			<p class="song">Sharon Shannon – On the banks of the old Ponchertrain</p>
			<p>По-моему, более искренней, правдивой и живой музыки я давно не встречал. А Джордж Фредерик Гендель удостоится моего внимания как-нибудь в другой раз.</p>
			<p>Удачи! И постарайтесь не забывайте о своих корнях.</p>
			<p class="song">Alan Munde – The girl I left behind</p>
