			<p>Привет, друзья.</p>
			<p>Сегодня мы празднуем день абсурдного торжества современных технологий над здравым смыслом. Подумайте сами: я сейчас нахожусь в Санкт-Петербурге, а передача сама себя записывает и выкладывает в интернет.</p>
			<p>Это ли не парадокс?</p>
			<p class="song">Planxty – Cunla</p>
			<p>Сегодня я хочу продолжить чтение сказки про Джека, которую мы с вами начали читать три передачи назад. Для тех, кто подзабыл, о чем же была речь, напомню, что Джек вместе с сыном короля Артура роздали все свои деньги беднякам и остались без ночлега. Принц спросил:</p>
			<p>- Где же нам ночевать, Джек? Ведь денег-то у нас нет.</p>
			<p>На это Джек ответил:</p>
			<p>— Ночлег найдется, господин мой! В двух милях отсюда живет огромный, страшный великан о трех головах. Ему нипочем сразиться одному с пятьюстами воинами сразу и разогнать их, как мух!</p>
			<p>— Ну, – сказал принц, – тогда нам у него делать нечего! Великан проглотит нас одним махом. Да что там! Ведь мы с тобой в дупле его гнилого зуба уместимся!</p>
			<p>— Пустяки! – возразил Джек. – Я пойду вперед и подготовлю тебе встречу. – Оставайся здесь и жди, пока я не вернусь!</p>
			<p>И Джек во весь опор поскакал дальше.</p>
			<p class="song">Ossian – Lude's supper</p>
			<p>Вот он подъехал к воротам замка и застучал так громко, что стук его отдался от всех окрестных холмов. А великан заревел в ответ, словно гром загремел:</p>
			<p>— Кто там?</p>
			<p>Джек ответил:</p>
			<p>— Это я, твой племянник, разве не узнаешь? Великан спросил:</p>
			<p>— Какие вести принес, мой племянничек?</p>
			<p>— Плохие, дорогой дядюшка! – ответил Джек.</p>
			<p>— Но-но! – сказал великан. – Разве можно приносить мне плохие вести? Ведь я – трехголовый великан. Я, как ты знаешь, выхожу сражаться против пятисот воинов в доспехах, и они разлетаются от меня во все стороны, как солома по ветру.</p>
			<p>— Да, но сюда идет королевский сын с целой тысячей вооруженных воинов! – сказал Джек. – Они хотят убить тебя и уничтожить все твое имущество!</p>
			<p>— Вот как, племянник! – молвил великан. – Ну это и впрямь плохие вести! Я побегу спрячусь, а ты запри меня на замок, на засов и на задвижку да держи ключи при себе, пока принц не уберется отсюда.</p>
			<p class="song">Naragonia – -17° C</p>
			<p>Джек запер великана и поехал за принцем. В замке путники повеселились всласть, а великан лежал и трясся в подземелье.</p>
			<p>Наутро Джек спозаранку запасся золотом и серебром для своего господина и посоветовал ему уехать на три мили вперед – ведь за три мили великан не мог учуять принца. Потом Джек вернулся и выпустил великана из подземелья.</p>
			<p>— Чем тебя наградить за то, что ты спас мой замок от разграбления? – спросил великан.</p>
			<p>— Да что там! – ответил Джек. – Ничего мне не надо. Вот разве отдай мне свою поношенную куртку, шапку да еще старый ржавый меч и ночные туфли, что валяются у тебя под кроватью.</p>
			<p>— Ты не знаешь, чего просишь! – сказал великан. – Ведь это самые драгоценные мои сокровища. Стоит тебе надеть куртку, и ты сразу станешь невидимым. Шапка расскажет обо всем, что ты захочешь узнать. Меч изрубит на куски все, что ты им ударишь. А туфли в один миг унесут тебя, куда только пожелаешь. Но уж так и быть! Ты мне хорошо послужил. Дарю тебе от чистого сердца все, что ты просишь!</p>
			<p>Джек поблагодарил великана, забрал подарки и ушел.</p>
			<p class="song">Lúnasa – Morning nightcap</p>
			<p>Джек быстро нагнал своего господина, и они вместе вернулись ко двору короля Артура. Там Джек за все свои подвиги был посвящен в Рыцари Круглого Стола. По этому случаю в королевском замке устроили большой пир. Но вдруг в самый разгар веселья гонец принес весть, что двухголовый великан Тандерделл услышал о смерти своих родичей и прибыл из северных долин, чтобы отомстить Джеку, он сейчас уже всего в одной миле от замка, и все окрестные жители бегут от него кто куда. Но Джек ничуть не испугался.</p>
			<p>— Попробуй он сюда сунуться, я ему все зубы пересчитаю! А вас, господа, прошу выйти в сад и посмотреть, как будет убит великан Тандерделл!</p>
			<p>Замок стоял на островке, окруженном глубоким И широким рвом. Ров был залит водой, и переходили через него по разводному мосту.</p>
			<p class="song">Sharon Shannon – Hillbilly Lilly / Buffalo Benji</p>
			<p>И вот Джек позвал слуг, чтобы те обрубили мост с боков почти до самой середины. Потом надел куртку-невидимку и выступил против великана с острым мечом в руках. Великан не видел Джека, но учуял его по запаху и закричал:</p>
			<p class="poetry">
				Фи-фай-фо-фут,<br/>
				Дух британца чую тут!<br/>
				Мертвый он или живой<br/>
				Попадет на завтрак мой!<br/>
			</p>
			<p class="song">Andrea Capezzuoli e Compagnia – Brave soldat / Reel Arthur</p>
			<p>— Ах вот как! – молвил Джек. – Ну и обжора ты!</p>
			<p>А великан снова закричал:</p>
			<p>— Так это ты, негодяй, погубил моих родичей? Вот я сейчас растерзаю тебя зубами, высосу из тебя кровь, а кости твои сотру в порошок!</p>
			<p>— Сначала поймай-ка меня! – ответил Джек и сбросил свою куртку-невидимку, чтобы великан его увидел.</p>
			<p>Потом надел туфли-скороходы и побежал прочь. А великан погнался за ним, и чудилось, будто это какой-то замок сдвинулся с места, и сама земля трясется под каждым его шагом.</p>
			<p>Джек долго заставлял великана гоняться за собой – хотелось ему позабавить дам и кавалеров. Потом решил, что пора кончать игру, и легко взбежал на мост. Великан во весь дух мчался за ним с дубинкой в руках. Но не успел он добраться до середины, как мост провалился под тяжелым грузом, и великан рухнул вниз головой прямо в воду и стал ворочаться и барахтаться в ней, словно кит. А Джек стоял возле рва и потешался над ним. Но как ни злился великан, слыша насмешки Джека, как ни метался в воде, не удалось ему выбраться из рва, чтобы рассчитаться с врагом.</p>
			<p>Наконец Джек схватил вожжи, накинул их великану на головы и с помощью упряжки лошадей вытащил его на берег, потом отрубил своим острым мечом обе головы и преподнес их королю Артуру.</p>
			<p class="song">John Whelan – Polkas: Flirting with the edge; Rockaway beach; Emmett's revenge</p>
			<p>Некоторое время Джек провел в празднествах и развлечениях, а потом опять покинул прекрасных дам и рыцарей и отправился на поиски приключений. Через много лесов пробирался Джек, пока наконец не подошел к подножию высокой горы. И там, уже поздней ночью, увидел одинокий дом. Он постучал в дверь, и ему открыл старик, с волосами белыми как снег.</p>
			<p>— Отец, – сказал ему Джек, – пусти переночевать! Я заблудился, и ночь застала меня в дороге.</p>
			<p>— Входи! – ответил старик. – Добро пожаловать в мою убогую хижину.</p>
			<p>Джек вошел, они уселись рядом, и старик повел такую речь:</p>
			<p>— Сын мой, я вижу по надписи на твоем поясе, что ты великий победитель великанов. Так слушай же, сын мой! На вершине этой горы стоит заколдованный замок. Им владеет великан Галлигантюа. С помощью одного старого колдуна великан заманивает к себе рыцарей и дам и волшебными чарами превращает их в разных тварей. Но особенно меня печалит судьба дочери герцога. Они схватили ее в отцовском саду и унесли по воздуху в горящей колеснице, запряженной огнедышащими драконами. В замке ее заперли и превратили в белую лань. Многие рыцари пытались рассеять волшебные чары и освободить девушку, да никому это не удалось – у ворот замка стоят два страшных грифона, они уничтожают каждого, кто к ним приблизится. Но ты, сын мой, пройдешь мимо них невидимо. А на воротах замка ты увидишь высеченную крупными буквами надпись. Она подскажет тебе, как рассеять колдовство.</p>
			<p>Джек поблагодарил старика и обещал, что утром попытается освободить дочь герцога, хотя бы это стоило ему жизни.</p>
			<p>Наутро Джек поднялся, надел куртку-невидимку, волшебную шапку, туфли-скороходы и приготовился к битве.</p>
			<p class="song">Silly Wizard – The queen of Argyll</p>
			<p>Едва он поднялся на вершину горы, как тотчас увидел огнедышащих грифонов. Но он без страха прошел мимо них – ведь он был в куртке-невидимке. На воротах замка на серебряной цепи висел золотой рог, а под ним были высечены слова:</p>
			<p class="poetry">
				Кто в золотой рог заиграет,<br/>
				Тот замок разрушит, но страха не узнает.<br/>
				Колдуна и великана он победит<br/>
				И всех воскресит. А король его наградит.<br/>
			</p>
			<p>Как только Джек прочел эти строки, он задул в рог, и огромный замок затрясся до самого основания, а великана и колдуна охватило великое смятение. Они принялись кусать локти и рвать на себе волосы, чуя, что скоро придет конец их злой власти!</p>
			<p>Великан нагнулся за своей палицей, и тут Джек одним ударом снес ему голову, а колдун поднялся в воздух, и вихрь унес его прочь.</p>
			<p>Злые чары рассеялись. Все, кто был превращен в птиц и зверей, снова стали людьми, а замок исчез в клубах  дыма.</p>
			<p>Джек, как всегда, отправил голову великана ко двору короля Артура, а на другой день и сам поехал туда вместе с рыцарями и дамами, которых он освободил.</p>
			<p>В награду за верную службу король уговорил герцога отдать свою дочь за честного Джека.</p>
			<p>Они обвенчались, и все королевство веселилось на их свадьбе. А потом король подарил Джеку великолепный замок с богатыми угодьями, и Джек прожил там с женой остаток дней своих в любви и согласии.</p>
			<p class="song">Becky Taylor – Rattle the cash</p>
			<p>Так закончилась эта замечательная сказка. Может быть, мы с вами почитаем что-нибудь еще когда-нибудь в будущем. Время покажет.</p>
