				<p>Здравствуйте!</p>
				<p>Сразу должен вам сказать, что Милан Кундера не имеет ни малейшего отношения к этой передаче. Вообще, этот текст рождался в моей голове совсем для других целей, но потом я помог обрасти ему музыкальными композициями и получилось именно то, что вы сейчас слышите.</p>
				<p>Сегодня я вновь попытаюсь убедить себя и вас в том, что все в мире устроено очень просто. Сегодня я буду говорить простыми словами о самом сложном понятии – о любви.</p>
				<p>Начнем мы, пожалуй, с любви к родине.</p>
				<p class="song">La Marseillaise (unknown performer)</p>
				<p>Знаете, сейчас у многих людей в России есть непреодолимое желание уехать из этой страны. Все у нас, видите ли, плохо настолько, что жить здесь просто не хочется: и дороги плохи, и люди глупы, и чиновники на руку нечисты, а решения всех этих проблем нет и в ближайшее время не предвидится. Знаете, у меня есть один-единственный довод для всех желающих сбежать отсюда. Звучит он примерно так: «Друзья! Это ваша родина. Она может быть плохой или хорошей, но всегда она будет вашей».</p>
				<p>Mervent – Kimmage</p>
				<p>Но, двинемся же дальше. Множество кельтских регионов всегда испытывали проблемы недостатка свободы. Подумайте сами: Шотладния и Ирландия находятся под властью англичан, Бретань – часть Франции, Галисия, хоть и автономная, но все же область Испании.</p>
				<p>Нет ничего удивительного, что любовь к свободе широко освещена в народных песнях этих регионов.</p>
				<p class="song">The Irish Rovers – McDonald's raiders</p>
				<p>Собственно, а о любви к свободе от чего поют все эти шотландцы, ирландцы, валлийцы, корнуолльцы, бретонцы, галисийцы и другие, не перечисленные мною народы? Ведь сегодня никто уже не запрещает им мыслить каким-то способом, никто не посягает на их права больше, чем на права других жителей внутри одной страны. А песни все живут и поются, и перепеваются на все возможные мотивы. И почему – не понятно.</p>
				<p class="song">Silly Wizard – Donald McGillavry</p>
				<p>Любовь к богу (слово бог я предпочитаю писать именно так – с маленькой буквы), как мне кажется, объединяет любови к родине, к свободе, к природе, к жизни, к смерти и еще много к чему. Богом, как говорил Фома Аквинский, мы называем самое красивое, самое благородное, самое лучшее, что мы можем себе вообразить.</p>
				<p>И именно об этом нам поет неизвестный герой с зеленой гитарой.</p>
				<p class="song">Donovan – Lord of the dance</p>
				<p>Не только Донован проникся абсолютной любовью к абсолютному существу. В любви к богу неоднократно признавались Джордж Харрисон (о нем мы сегодня, впрочем, еще услышим), Джефри Кейгел (сменивший имя на Кришна Дас) и Кэт Стивенс (сейчас он называет себя Юсуф Ислам). Любовь к богу, как можно видеть, многогранна и безгранична. Признавался в своей любви к богу и Борис Гребенщиков.</p>
				<p class="song">Аквариум – День радости</p>
				<p>Митрополит Антоний Сурожский сказал в одном интервью: «Вера – способность взрослого человека утверждать истинность того, о чем он абсолютно точно знает, что истинным оно не является».</p>
				<p>И наконец, мы подходим к самому простому, что есть в этом мире – к любви между мужчиной и женщиной. О самом простом нам, для начала, споют простые парни из ливерпульской четверки.</p>
				<p class="song">The Beatles – All you need is love</p>
				<p>Вообще музыка шестидесятых годов была богата на признания в любви. Это сегодня мы взгромоздили вокруг себя стены обязательств, моральных принципов, ограничений и запретов. А ведь, если подумать, то нет ничего проще, чем сказать три слова «я люблю тебя».</p>
				<p class="song">Dalla – Maggie May</p>
				<p>Мне вспоминается одна цитата: «Большинство отношений заканчиваются фразой „давай будем друзьями”, хотя именно с этих слов следовало бы начинать». К сожалению, я никак не могу вспомнить автора. Может быть это сказал Терри Пратчетт. А может быть и нет.</p>
				<p>Историю печальной любви, начатую с очень правильной фразы «будь проще» расскажут нам немцы из группы «Танцующая ива».</p>
				<p class="song">Dancing Willow – Sally gardens</p>
				<p>Вот еще одно признание в любви. Достаточно лишь вслушаться, чтобы понять всю силу этого простого чувства: «Ты – мой солнечный свет. Ты делаешь мою жизнь счастливее, когда вокруг пасмурно. Ты даже представить себе не можешь, как я люблю тебя. Пожалуйста, не отнимай у меня этот солнечный свет"</p>
				<p class="song">Richard Greene – You are my sunshine</p>
				<p>Ну, и в самом конце передачи я все же воздам хвалу Милану Кундере, которого я люблю за простоту решения им в своих книгах самых сложных проблем этого мира.</p>
				<p>Вальс на прощание.</p>
				<p class="song">Peter Sarstedt – Where do you go to my lovely?</p>
