			<p>Здравствуйте!</p>
			<p>Должен вам открыть один секрет: далеко не всю свою жизнь я слушаю народную музыку. Детство мое прошло под добрые песни советской эстрады. И вот, на одной из пластинок моего детства была записана песня. В ней были такие слова:</p>
			<p class="poetry">
				Сделать хотел грозу,<br/>
				А получил козу.<br/>
			</p>
			<p>Об этом мы с вами сегодня и поговорим.</p>
			<p class="song">Silly Wizard – The blackbird of sweet Avondale</p>
			<p>Да, да, да!</p>
			<p>Это именно они! Тридцать три богатыря, семь гномов и тринадцать шахматных королей – это глупые волшебники Silly Wizard. Чистая шотландская магия во всех существующих ее проявлениях.</p>
			<p class="song">Silly Wizard – Jenny Gray's whiskey</p>
			<p>Но, оторвемся же от магических фолиантов и обратимся к энциклопедиям.</p>
			<p>Энциклопедии говорят:</p>
			<p>Шотландская народная группа Silly Wizard начала играть музыку в 1970 году — тогда у группы еще не было никакого названия. Сначала в ней было всего два человека — Гордон Джонс и Боб Томас, а иногда с ними еще играл и тринадцатилетний Джонни Каннингем.</p>
			<p class="song">Silly Wizard – Wha'll be king but Charlie?</p>
			<p>Группа становилась все полулярнее и популярнее. В 1972 году пришло время, наконец, выбрать себе название. Не раздумывая долго, Боб Томас вспомнил название книжки сказок, которую он читал в детстве. Так в этом мире и появились Silly Wizard.</p>
			<p class="song">Silly Wizard – The ferryland sealer</p>
			<p>В 1974 году к группе присоединился человек, определивший ее звучание. Им стал золотой голос шотландской музыки, который можно услышать, кажется, на всех альбомах группы. Глубочайшая печаль и величайшая радость, бесконечное одиночество и философская тишь — все отразилось в его голосе. Человека звали Энди Стюарт.</p>
			<p class="song">Silly Wizard – Willie Archer</p>
			<p>Первый альбом группы вышел в 1976 году. В записи альбомов, кроме уже обозначенных ранее музыкантов принимали участие такие легенды шотландской музыки, как Фил Каннингем – младший брат Джона – и Дуг Маклин из группы Tannahill Weavers.</p>
			<p>В своем последнем студийном альбом группа впервые использовала синтезатор, добавив музыке кусочек медитативного стиля new age. Впрочем, до музыки новой эпохи у группы дело так и не дошло — они распались в 1988 году, чтобы больше никогда не играть вместе.</p>
			<p class="song">Silly Wizard – When summer ends</p>
			<p>После распада группы, ее участники продолжили заниматься музыкой — уже сольно. У Джонни Каннингема в 1998 году вышел концертный альбом. Поскольку Джонни не очень любил петь, альбом получился в основном инструментальным, ничуть не потеряв своего тихого волшебства. Джонни Каннингем покинул этот мир в 2003 году.</p>
			<p class="song">Kevin Burke, Johnny Cunningham, Christian Lemaitre – Hector the hero</p>
			<p>У Энди Стюарта все тоже сложилось более или менее хорошо. Он записал еще четыре сольных альбома, хорошо принятых публикой. Особенно по душе всем пришелся альбом песен на стихи шотландского поэта Роберта Бёрнса.</p>
			<p class="song">Andy M. Stewart – Hey how Johnie Lad</p>
			<p>Несмотря на свою печальную историю, группа оказала значительное влияние на всю культуру народной песни. Некоторые из написанных ими вещей стали неимоверно знаменитыми и были спеты другими исполнителями совсем в других аранжировках. Silly Wizard вспыхнул и погас, но музыка их живет в наших сердцах. Такая вот непутевая магия. Спасибо!</p>
			<p class="song">Silly Wizard – The queen of Argyll</p>
