			<p>Привет.</p>
			<p>Есть такая пословица: цыплят по осени считают. Осень у нас уже перешла к своей завершающей стадии, а цыплята до сих пор находятся в неучтенном состоянии. Какая вопиющая несправедливость!</p>
			<p class="song">Аукцыон — Полдень</p>
			<p>Сегодня мы с вами будем говорить о новых альбомах, увидевших свет в 2011 году. И вот первый цыпленок этого года — у Аукцыона вышел новый альбом «Юла». Честно скажу, что не слежу за музыкальным развитием группы, поэтому этот альбом оказался для меня некоторой неожиданностью: вот, оказывается, во что превратился Аукцыон со времени хулиганства и ребячества «Орландины» и «Птицы». Но, пусть музыка скажет вся сама.</p>
			<p class="song">Аукцыон — Хомба</p>
			<p>Кроме того, новый альбом вышел и у группы «Аквариум». Сосед Кухулина, брат Монтесумы и тридцать четвертый богатырь Борис Гребенщиков уже рассказывал о нем в передаче «Аэростат». Но ведь не мог же я пройти мимо столь замечательного альбома. Правильно, не мог.</p>
			<p class="song">Аквариум — Назад в Архангельск</p>
			<p>Архангельск Бориса Борисовича — это всего навсего место, где живут архангелы, и к городу на севере России он отношения не имеет. Остальные вопросы сэнсей комментировать отказался. В музыкальном плане альбом получился очень разноплановым: здесь можно услышать и мотивы музыки рэггей, и тяжелую гитарную музыку, и мюзик-холл и много чего еще.</p>
			<p class="song">Аквариум — Капитан Беллерофонт</p>
			<p>И о других новостях: питерская фолк-рок группа The Dartz выпускает новый альбом. Он появится на полках музыкальных магазинов где-то в конце ноября. Признаюсь, записи с этого альбома мне не удалось раздобыть. Но, как это было с двумя предыдущими альбомами The Dartz, в преддверии чего-то нового и значительного команда выпускает сингл с двумя -тремя песнями, одна из которых входит в состав альбома. Вот ее и послушаем.</p>
			<p class="song">The Dartz — Дети собирают землянику</p>
			<p>Но что это мы все говорим о рок-альбомах? В конце концов, я уже тринадцать выпусков подряд пытаюсь убедить вас в том, что передача эта — о народной музыке западной Европы. Пока, если честно, у меня не очень получается.</p>
			<p>Московская команда Avis Dei, что значит «птица божья» выпустила новый альбом. Но не будем торопиться. Во-первых, альбом датируется 2010 годом, а во-вторых — это совсем не новый альбом, а переиздание первого альбома группы, который никогда официально не издавался, а распространялся только самими музыкантами. Новый альбом называется Early music.</p>
			<p class="song">Avis Dei — Saltarello 2</p>
			<p>Альбом вышел на московском лейбле «Перекресток рекодз» и уже появился в музыкальных магазинах. Вот еще одна музыкальная композиция с нового альбома — английский контрданс «Бегущий пехотинец».</p>
			<p class="song">Avis Dei — Running footman</p>
			<p>Вот и еще одна хорошая новость. У мам и пап питерской фолк-сцены Old Horned Sheep вышел новый альбом. С выхода их предыдущего альбома «Прогнать холодную зиму прочь» прошло без малого шестнадцать лет. Альбом называется «Штормовое предупреждение», и о чем мне говорит это название, я вам, конечно же, не расскажу.</p>
			<p>Новый альбом вышел на финском лейбле «Huili folk», что означает, всего навсего, веселый народ, а совсем не то, что вы подумали.</p>
			<p class="song">Old Horned Sheep — Astridin waltz</p>
			<p>Каждая песня на новом альбоме (как впрочем, и на старом), по моему мнению, настоящий хит. Например, эта:</p>
			<p class="song">Old Horned Sheep — The blackbird</p>
			<p>Вот таких цыплят принес нам 2011 год. Цыплята успешно посчитаны, архивированы и подготовлены к зиме. А что нам принесет грядущий музыкальный год — одному богу известно. Самое главное — не отчаиваться. А напоследок — джиги!</p>
			<p class="song">Аквариум — Марш священных коров</p>
