			<p>Привет.</p>
			<p>Должен вам сказать, что только что услышанная вами фраза про народную музыку западной Европы сегодня объявляется абсолютно несоответствующей действительности. Ура!</p>
			<p class="song">Reelroadъ – Со балтийского со взморья</p>
			<p>Почему это я все время рассказываю вам про европейскую музыку? В конце концов, чем же Россия хуже? Разве не сложилось у нас своей замечательной музыкальной традиции? Что нам ближе — Ирландия или Псковская губерния?</p>
			<p>На все эти вопросы я вам вряд ли отвечу. Но попробовать, наверное, стоит.</p>
			<p class="song">Сергей Старостин, Леонид Федоров, Андрей Котов, Владимир Волков — Псалом №1</p>
			<p>Эта песня — первый псалом царя Давида, переведенный на русский язык. Вопрос, на который у меня до сих пор нет ответа — о чем поет этот человек? Уж точно не о боге, но и не о человеке. Песня эта, как мне кажется, даже не о вере, а о доверии. Или просто — о любви.</p>
			<p class="song">Ирина Богушевская — Оловянное сердце</p>
			<p>Как-то мне довелось участвовать в одном опросе. Нужно было назвать три самые значимые для человека русские песни. Ответы опроса никто не прятал и у меня была возможность их изучить. Вот что меня удивило: все называли песни последних 50, ну, может быть, 70 лет, будто до появления Советского Союза никакой музыки у нас не было вовсе. Мне же кажется, что последние 50 лет популярной нынче русской музыки ознаменованы какой-то борьбой, ведущейся непонятно кем непонятно за что. А если присмотреться и призадуматься — то окажется, что бороться то и не с кем.</p>
			<p class="song">Сергей Старостин — Жавранёночек</p>
			<p>Совсем, кстати, не обязательно, чтобы русские народные песни были написаны до Великой Октябрьской Революции. В последнее время я все более и более убеждаюсь в том, что две традиции — советская популярная песня и подлинная, простая, не обозначенная борьбой кого-то с кем-то традиция народной песни существовали одновременно, чудом умудряясь друг другу не мешать.</p>
			<p class="song">Борис Гребенщиков — Весна на Заречной улице</p>
			<p>Что происходит с народной песней в современном мире?</p>
			<p>Можно, с одной стороны, класть популярные тексты на современную музыку — так делала в свое время группа «Иван-купала». А можно поступать как-нибудь по-другому — например, как группа «Пелагея».</p>
			<p class="song">Пелагея — Любо, братцы, любо (акустическая версия)</p>
			<p>У «Нашего радио» лет пять назад был такой проект «Соль». Современные рок-музыканты брали и записывали русские народные песни. И, может быть, получалось не очень-то по-народному, но получалось круто. Всем, кто еще не слышал музыки этого проекта, советую ее послушать.</p>
			<p>А можно ведь поступать совсем по-другому. Можно самим сочинять народные песни — ведь не абстрактный народ же, в конце концов сочиняет их.</p>
			<p class="song">Отава Ё — Иванушка рачек</p>
			<p>Вот такая вот современная народная песня. Текст ее написан Алексеем Белкиным — лидером групп Отава Ё и Reelroadъ а музыка — традиционная бретонская мелодия. Нам же остается лишь радоваться, что остались еще, как сказал Борис Гребенщиков в одном из своих «Аэростатов», «песни, не ударенные советским мешком по голове».</p>
			<p class="song">Reelroadъ — А в нашем садочке</p>
			<p>Не так уж много, если подумать, известно нам народных песен. Бардовскую или туристскую песню я не могу назвать народной. Нельзя, на мой взгляд, назвать такими и застольные песни - «Ой мороз, мороз» или «Черный ворон». А вот песни Александра Вертинского, наверное, можно.</p>
			<p class="song">Ирина Богушевская — Злые духи</p>
			<p>И может быть, эта передача получилась запутанной и противоречивой — есть темы, которые нужно рассказать, какими бы сложными и запутанными они не представлялись. </p>
			<p>Постарайтесь не болеть и спасибо.</p>
			<p class="song">Сергей Старостин, Леонид Федоров, Андрей Котов, Владимир Волков — Заведу я компанью</p>
