			<p>Ну, здравствуйте!</p>
			<p>Михаил Васильевич Ломоносов писал:</p>
			<p class="poetry">
				Царей и царств земных отрада,<br/>
				Возлюбленная тишина,<br/>
				Блаженство сел, градов ограда,<br/>
				Коль ты полезна и красна!<br/>
				Вокруг тебя цветы пестреют<br/>
				И класы на полях желтеют;<br/>
				Сокровищ полны корабли<br/>
				Дерзают в море за тобою;<br/>
				Ты сыплешь щедрою рукою<br/>
				Свое богатство по земли.<br/>
			</p>
			<p>Вот об этом сегодня и поговорим.</p>
			<p class="song">Planxty – Cunla</p>
			<p>Ирландская фолк-группа Planxty появилась на свет в 1972 году, чтобы пропагандировать, распространять и всячески популяризировать ирландскую народную музыку. Изначально она состояла из Кристи Мура, Донала Линни, Лайама О'Флинна и Энди Ирвайна. Позже к ним присоединились и другие музыканты. Группа чертовски быстро набирала популярность.</p>
			<p class="song">Planxty – The good ship Kangaroo</p>
			<p>Название группы – слово "Planxty” – означает что-то вроде хвалебной песни. Например, "Planxty Irwin" – известная хвалебная песнь в честь полковника Джона Ирвина из Слайго. Впервые это слово появилось в работах Турла О'Кэролана, известного ирландского арфиста эпохи барокко – им написано множество подобных хвалебных песен. Термин "Planxty" – ничто иное, как искаженное произношение гэльского пожелания доброго здравия – это пожелание звучит "sláinte", или как-то так.</p>
			<p class="song">Planxty – Polkas: Dennis Murphy's polka / The £42 cheque / John Ryan's polka</p>
			<p>Итак, группа Planxty собралась в 1972 году, чтобы играть фолк. Стоит вспомнить, что на семидесятые годы пришелся пик популярности прогрессивного рока. Если в Америке в эпоху прогрессива все старое было благополучно забыто, то Европа в это же самое время начала активно обращаться к своим корням.</p>
			<p class="song">Planxty – The rambling siúler</p>
			<p>Но, хотя песни группы и занимали иногда самые высокие позиции в чартах, группа испытывала серьезные финансовые трудности. Кроме того, участникам группы предлагали выступать в других проектах. Группа записала три студийных альбома: "Planxty", "The well below the valley" и "Cold blow and rainy night". После этого, в 1975 году, участники группы приняли решение о распаде.</p>
			<p class="song">Planxty – Time will cure me</p>
			<p>Несмотря на формальный распад группы, ее участники помогали друг другу на записях в студии, иногда выступали вместе. В итоге, в 1979 году группа вновь соединилась и к ней присоединился Мэт Моллой. Группа вновь начала выступать. Осенью 1980 года к ним присоединился клавишник Билл Уэлан. Кстати, клавишника Билла не следует путать с аккордеонистом Джоном. Джон живет в США, и, насколько я понимаю, никакого отношения к Биллу, кроме фамилии, не имеет</p>
			<p class="song">Planxty – The blacksmith</p>
			<p>Вскоре участники группы снова начали заниматься другими проектами. Последний раз оригинальный состав Planxty вышел на сцену 24 августа 1982 года. После этого они разошлись, чтобы вот совсем никогда, ни за какие коврижки не играть вместе.</p>				
			<p class="song">Planxty – Jolly beggar</p>
			<p>Можно по-разному относиться к распадам кумиров публики. Большинство, наверное, скажет, что это не ведет ни к чему хорошему. С другой стороны, вспомните, что случилось с Beatles после распада Beatles. Или что случилось с Аквариумом после распада группы Flook. С другой стороны, нельзя сказать, что Planxty после Planxty собирали стадионы. Но и забыты полностью они, по счастью, не были.</p>
			<p class="song">Planxty – Kellswater</p>
			<p>Впрочем, по манере моего рассказа можно догадаться, что участники Planxty сошлись вместе еще раз. Через двадцать лет Падди Догерти, владелец спа-курорта Лисдунварна вдохновил группу на  несколько совместных концертов. В результате был записан альбом "Live 2004", вышедший на CD и DVD.</p>
			<p class="song">Planxty – Arthur McBride</p>
			<p>Так закончилась история одной замечательной ирландской народной группы. Ни одной оды они, впрочем, там и не спели, хотя название обязывало.</p>
			<p>А я продолжу кормить вас обещаниями. В следующий раз я расскажу про того человека, про которого я обещаю вам рассказать уже месяца, наверное, два.</p>
			<p>Спасибо.</p>
