			<p>Всем привет.</p>
			<p>В конце прошлой передачи, вышедшей, по техническим причинам, только в виде повторов, я обещал рассказать вам про что-нибудь кельтское, а также обещал каким-либо образом обыграть в этой передаче магию цифр.</p>
			<p>Итак, попробую выполнить обещанное.</p>
			<p class="song">Clann Lir – Kemp's jig</p>
			<p>Сегодня у нас 21 января 2012 года. В эфире – двадцать второй выпуск передачи «Кельтская новь». Мне эти цифры ни о чем не говорят. Хотя, если постараться высосать из пальца... Нет, все равно ничего не получается. Придется импровизировать.</p>
			<p class="song">Chris Dewhurst, Sue Stapledon – Spanish jigg</p>
			<p>Сегодня, как мне кажется, отличный день для того, чтобы послушать музыку на 6/8. К такой музыке сегодня будут относиться: ирландские джиги, шотландские джиги, английские джиги, испанские джиги, бретонские джиги и... французские джиги. Впрочем, может быть, к концу передачи я разбавлю этот многонациональный коктейль чем-нибудь совершенно неожиданным.</p>
			<p class="song">Ar Re Yaouank – An toul</p>
			<p>Итак, джига. Сегодня мы с вами, как я уже говорил будем слушать музыку только на 6/8. Не все джиги подходят под этот критерий: кроме простых (одинарных) джиг, бывают еще джиги скользящие (более известные как slip jig), музыкальный размер которых составляет 9/8. Их мы сегодня, как я уже говорил, не услышим.</p>
			<p class="song">Cliar – Ingy's jigs</p>
			<p>Из холодного сырого и туманного Альбиона мы с вами двинемся на юг, в Испанию. Галисия (хвалы которой я уже воспевал неоднократно) тоже является условно-кельтским регионом. И джиги тоже находятся там в большой чести.</p>
			<p class="song">Los Gaiteros de Moscu – Miña maruxa</p>
			<p>Джиги, скорее всего, имеют английское происхождение. Вообще, жига – маленькая английская скрипка, на которой играли танцевальную музыку. Первые джиги известны еще с тринадцатого века (вспомните, например, уже неоднократно звучавшие «Зеленые рукава»).</p>
			<p class="song">Welladay – Greensleeves</p>
			<p>После приобретения популярности в Англии джиги переплыли Ла-Манш в чугунной ванне и попали на север Франции. Великое переселение жиг (во Франции джиги называют жигами – простим им эту страсть к сладозвучию) пришлось как раз на эпоху барокко – помните я про нее рассказывал несколько передач назад. Барочная французская жига звучала как-то так:</p>
			<p class="song">Dorothée Wortelboer, Accademia Amsterdam – Gigue pour une femme seul (André Campra)</p>
			<p>Если верить Википедии, то жиги писали Жан-Филипп Рамо, Антонио Вивальди и Арканджело Корелли. Кроме того, финал пятого Бранденбургского, хотя и не назван жигой, определенно ею является. Вот он.</p>
			<p class="song">Jordi Savall, Le Concert des Nations – Allegro from Concerto Brandenbourgeois en re majeur (composed by Johann Sebastian Bach)</p>
			<p>В течение 18 века жига медленно утрачивает свое значение в профессиональной музыке и теряется где-то в глубине народных масс. Джига вновь появится в классической музыке примерно в середине девятнадцатого века в Соединных Штатах Америки, где к этому моменту будут проживать выходцы из всех перечисленных мною ранее регионов: ирландцы, шотландцы, англичане, испанцы, бретонцы и французы.</p>
			<p class="song">Spare Parts – La Native</p>
			<p>Единственным регионом где джиги никогда не теряли популярности, наверное, были британские острова вместе со всеми подчиненными им территориями.</p>
			<p class="song">Keith Smith, Green Gigner – La poule from first set of quadrilles (composed by John Knowles Paine)</p>
			<p>Не знаю, заметили вы или нет, но я сегодня обошел стороной одну европейскую страну. Я уже как-то рассказывал вам, что итальянские тарантеллы схожи с английскими джигами. Не понятно, чем можно объяснить такое сходство – расстояние от Италии до Англии довольно велико. Наверное, есть что-то в этом ритме такое, что близко всякому человеку. Даже итальянцу.</p>
			<p class="song">Angelo DiPippo – Qadriglia saltarello</p>
			<p>Еще одна популярная итальянская мелодия, чем-то похожая одновременно на сальтарелло, тарантеллу и английскую джигу – это форлана.</p>
			<p class="song">Leipziger Barockorchester – Entrée pour une femme – Forlane(composer unknown)</p>
			<p>Кстати, в заставке «Кельтской нови» этой зимой тоже каким-то необъяснимым образом оказалась ирландская джига «Холод повсюду». И, раз уж я вспомнил про заставку, то, наверное, пришла пора заканчивать эту передачу. В следующий раз мы, как и всегда, услышим что-то совсем необычное. Спасибо вам.</p>
			<p class="song">Téada – Tom Roddy's / The old firm jig / The maid at the well</p>
