			<p>Эй! Есть здесь кто-нибудь?</p>
			<p class="song">Andrea Capezzuoli e Compagnia – Polka chinoise</p>
			<p>Сегодня я посмотрел на календарь и увидел буквально следующее: начался февраль, последний месяц зимы. В эфире двадцать четвертый выпуск «Кельтской нови» и, как мне кажется, пришла пора задуматься.</p>
			<p class="song">The Gulbenkian Orchestra – Minuit: Polka op. 168 (composed by Emile Waldteufel)</p>
			<p>Раз уж у нас сегодня двадцать четвертый выпуск, то я решил вновь обратиться к магии цифр. Сегодня мы будем слушать музыку на 2/4, которые совсем не равны 1/2. Сегодня мы будем слушать польки.</p>
			<p class="song">Angelo DiPippo – Foto polka</p>
			<p>Что-то давненько я не рассказывал вам о новой музыке. Считаю это большим упущением и поэтому исправляюсь. Когда-нибудь (наверное, довольно скоро) я сделаю отдельную передачу, посвященную новым альбомам, вышедшим в 2011 и 2012 году. А пока– держите вам песню с нового альбома немцев "Die Streuner”</p>
			<p class="song">Die Streuner – The glenside polka</p>
			<p>Полька– это не только музыкальная форма, но и танец. Парадокс заключается в том, что слово полька не имеет никакого отношения к полякам (общего у них значительно меньше, чем у испанца и испанки). История происхождения такова: чехи придумали этот танец в подражание полякам где-то в 1830-х или 1840-х годах. Слово полька происходит от чешского půlka, что означает «пол шага», поскольку полька требует от танцора исполнения довольно быстрых и отточенных движений.</p>
			<p class="song">Old Horned Sheep – Seam Ryan's polka</p>
			<p>Полька быстро приобрела популярность не только как народный, но и как бальный танец. В 1841 году она была представлена в Париже, в 1845 году была привезена в Россию. Время с 1840 по 1870 год в бальных залах называют эрой "polka craze", эрой «полечного безумия», потому что популярность полек в это время была чертовски высока.</p>
			<p class="song">Spare Parts – Cally polka</p>
			<p>После спада популярности полек, они продолжили существовать в живой традиции в качестве народных танцев. Так они и дошли до нас.</p>
			<p class="song">Sharon Shannon – Born again polka</p>
			<p>Но что это мы все о танцах, да о танцах? Продолжим разоблачения. Вот любезная Википедия сообщает, что полька – не только танец чешского происхождения, но и: женщина польской национальности, тип стрижки, планировка девятиэтажного панельного дома, и две реки, одна из которых протекает в Рязанской области, а другая– в Ханты-Мансийском автономном округе. Это ли не чудеса?</p>
			<p class="song">John Whelan – Riverboat set: Denis Dillon's / Square dance polka / Dancing on the riverboat</p>
			<p>Большинство народных полек, которые я вам ставил сегодня относятся к народной традиции британских островов, даже если они и сыграны какими-нибудь полуподвальными немцами или заводными итальянцами. Однако же, будем честны: польки являются часть общеевропейской традиции. Например, играют польки в Бретани.</p>
			<p class="song">Skolvan – Polkas bognolaises</p>
			<p>Польки популярны и в Испании. В Испании до сих пор жива традиция маленьких деревенских ансамблей, они называются bandina, которые ездят по деревням и устраивают незамысловатые сельские дискотеки. Польки на сельских испанских дискотеках звучат примерно так.</p>
			<p class="song">La bandina l'tombo – Mul.leirosu</p>
			<p>Следующую музыкальную композицию, думаю, узнает большинство из вас. Ее популярность совсем не связана с популярностью группы, ее исполняющей или с популярностью народной традиции, к которой эта мелодия принадлежит. Ее популярность связана с чем-то совсем другим.</p>
			<p class="song">Loituma – Ievan pollka</p>
			<p>Вот и подошла к концу очередная серия моих музыкальных излияний. Через неделю мы будем отмечать какой-нибудь праздник, оказавшийся у нас на носу, а может быть и нет. Время покажет.</p>
			<p class="song">Marnen Laibow-Koser – London Polka Quadrilles – Final</p>
