			<p>Всем привет.</p>
			<p>С вами снова «Кельтская новь».</p>
			<p class="song">Andrea Capezzuoli e Compagnia – Garçon Marinier</p>
			<p>У нас сегодня, если я не ошибаюсь, одиннадцатое февраля и до Дня святого Валентина остается всего три дня. Именно этому замечательному событию я и решил посвятить сегодняшнюю передачу. Мы с вами будем слушать песни про любовь.</p>
			<p class="song">The Racoons – Spanish lady</p>
			<p>Часть народных песен про любовь посвящена немаловажной проблеме солдата и девушки. Она – его девушка, он – ее солдат. Она дома, он на войне. По вечерам она садится и ждет его у окна, за окном метет пурга. Горит свеча. В руках у нее – какое-нибудь шитье, на коленях – какая-нибудь кошка.</p>
			<p class="song">Ian Anderson – Old black cat</p>
			<p>Ну, а если подумать, то больше всего песен про солдата и девушку, как мне кажется, насчитывает бретонская традиция. Собственно, Игорь Бурмистров из группы Mervent и познакомил меня когда-то давно с этим термином. За что ему большое спасибо.</p>
			<p class="song">Mervent – Teñval eo an noz</p>
			<p>Но, двинемся же дальше. Сегодня я не собираюсь ставить вам фолк-роковых боевиков, поэтому русских песен про солдата и девушку мы сегодня не услышим. Мы сегодня будем слушать старые добрые проверенные временем песни из старой доброй матушки Англии. Вот, например, эту.</p>
			<p class="song">The Irish Rovers – Will you come and marry me?</p>
			<p>Но, вспомним же и о нем. Он, как я уже говорил, солдат или хуже того, матрос. Солдат – человек подневольный, куда направят – туда и пойдет, где поставят – там и стоит, питается, чем придется, спит, где попало. Вокруг него постоянно идет дождь, а под ногами или слякоть, или какое-нибудь непроходимое болото. Ну, а про легкую жизнь благородного матроса я расскажу вам как-нибудь в другой раз.</p>
			<p class="song">Pipes and Drums – British grenadiers</p>
			<p>Забудем на время про солдата и девушку. Неужели, в конце концов, не осталось в мире других достойных мужчин, про которых можно было бы сложить хорошую песню?</p>
			<p class="song">The Playfords – So ben mi chi ha buon tempo (composer unknown)</p>
			<p>Говорят, что эта песенка, вообще-то, посвящена занимательному процессу наставления рогов. Так это или нет, исходя из текста сказать сложно.</p>
			<p>Вот песня совсем из другого времени и совсем с другим подтекстом. Судьба главного героя, надо сказать, тоже довольно незавидна, хотя он и не имеет к армии никакого отношения.</p>
			<p class="song">Sharon Shannon – On the banks of the old Pontchertrain</p>
			<p>Не знаю уж почему, но в этот светлый и замечательный день мне на ум приходят только грустные песни. Впрочем, передача у нас посвящена музыке, а не текстам, поэтому продолжим, пожалуй. Тем более, что у следующей песни музыка самая что ни на есть замечательная.</p>
			<p class="song">Sharon Shannon – Anarchie Gordon</p>
			<p>Солдат идет домой. Он знает, как закончить эту передачу.</p>
			<p class="song">Silly Wizard – Willie Archer</p>
