			<p>Весна пришла!</p>
			<p class="song">Дмитрий Курцман – Весенние песни</p>
			<p>Несмотря на то, что еще держится довольно холодная погода, с уверенностью можно сказать, что весна уже вступает в свои права. И хотя, согласно григорианскому календарю, весна наступит еще только через две недели, многие начали отмечать ее приход заранее.</p>
			<p>Собственно, самые умные люди на этой земле когда-то очень давно и очень, надо сказать, справедливо, заметили, что отмечать приход весны нужно еще зимой, чтобы начало весны по календарю можно было встретить уже в добром здравии. Самыми умными людьми в том самое время оказались, как это не удивительно, древние кельты.</p>
			<p class="song">Reelroadъ – Kesh / Swallowtail / Kesh</p>
			<p>То ли потому, что древние кельты были действительно разумными, то ли потому, что их отношение к природе было значительно ответственней нашего, то ли под влиянием излишне теплого течения Гольфстрим, древние кельты решили, что весна наступает где-то первого февраля.</p>
			<p class="song">Jordi Savall – The musical priest / Scotch Mary</p>
			<p>Итак, первого февраля кельты традиционно отмечают праздник с нехитрым названием Имболк. Первое февраля, надо сказать, находитсяp ровно посередине между зимним солнцестоянием и весенним равноденствием. В этот день кельты обычно едят до отвала, пьют до красноты и танцуют до упаду. Собственно, а когда они этого не делают?</p>
			<p class="song">Téada – The crock of gold / Johnny's gone to France / The tailor's thimble</p>
			<p>Традиционно в Имболк любят погадать, когда же растает этот чертов снег. Существует странная теория о том, что другой известный праздник предсказания погоды – День Сурка – обязан своим происхождением именно Имболку. День Сурка на американском континенте, кстати, отмечается 6 февраля.</p>
			<p class="song">Slua Sí – Belharbour / Bonaparte's march / Peacock's reather</p>
			<p>Кроме скоро схода снегов, все празднующие понимают и близость посевных мероприятий. Кстати, название самого праздника – Имболк – происходит от ирландского "i mbolg", что означает в животе или во чреве. Чрево являлось символом плодородия (не только, кстати, плодово-ягодного) чуть ли не во всех языческих культурах, а оттуда перекочевало и в некоторые монотеистические религии.</p>
			<p class="song">Becky Taylor – The lady's cup of tea</p>
			<p>Впрочем, существуют и родные для христианства традиции встречи весны. Правда, поскольку значительная часть христрианского мира не наблюдает наступления весны где-то до середины апреля, то праздник встречи весны у них отмечается вместе с Пасхой. А уж от Пасхи до лета – совсем рукою подать.</p>
			<p class="song">Drolls – Kalenda maya</p>
			<p>В одной из прошлых передач я уже обращался к скандинавской музыке (тогда это была финская полька, если кто не помнит). И я решил повторить этот замечательный опыт, так уж мне понравилась тогда музыка неунывающих финских парней, которым, наверное, тоже очень хочется наступления весны. Ура!</p>
			<p class="song">Кэп &amp; Ко – Енька</p>
			<p>Нам всем нужно собраться с мыслями. Ведь если чего-то очень сильно захотеть, то вся вселенная будет помогать тебе в этом. Это не я сказал, это Пауло Коэльо. Так вот, нам нужно собраться с мыслями и прогнать холодную зиму прочь.</p>
			<p class="song">Mark Gilston – Drive the cold winter away</p>
			<p>Так давайте же все вместе порадуемся тому, что эта зима скоро закончится, наступит весна, а затем придет лето, и так – до бесконечности.</p>
			<p>Спасибо.</p>
			<p class="song">Аквариум – Аригато</p>
