			<p>Ну, здравствуйте. Вот мы и встретились. Вновь.</p>
			<p class="song">Tri Yann – Tri martelod</p>
			<p>В детстве у меня была книжка Маршака с переводом на русский язык английский народных песенок. Это было, если я не ошибаюсь, начало моего знакомства с народной культурой британских островов. В книге были такие стихи:</p>
			<p class="poetry">
				Три мудреца в одном тазу<br/>
				Пустились по морю в грозу.<br/>
				Будь попрочнее старый таз –<br/>
				Был бы длиннее мой рассказ.<br/>
			</p>
			<p>Вот об этом сегодня и поговорим.</p>
			<p class="song">Аквариум – Что нам делать с пьяным матросом?</p>
			<p>В одной из прошлых передач я обещал рассказать вам о шикарной жизни матроса на корабле. Поскольку совсем недавно с нами случился замечательный праздник 23 февраля, а передачу про солдат я делал буквально на днях, я решил, что сегодня – отличный повод выполнить обещанное. Выполняю.</p>
			<p class="song">The Irish Rovers – The drunken sailor</p>
			<p>Две предыдущие песни (первая явна была написана под влиянием второй) относятся к разряду шанти – песен настоящих моряков. Такие песни выполняли не столько развлекательную, сколько функциональную роль. Эта, например, помогала синхронизировать ритм движений при протяжке канатов. Вот еще один пример шанти – в этот раз – исконно русская.</p>
			<p class="song">Анатолий Крупнов – Плещут холодные волны</p>
			<p>Все, необходимая концентрация грустных и медленных песен, думаю, достигнута. Больше такого не повторится (ну, по крайней мере, в этой передаче).</p>
			<p class="song">Lúnasa – Island Paddy: Rathlin island / Sporting Paddy</p>
			<p>Как известно, в жизни действует правило «что вижу – о том пою».</p>
			<p>Конечно же, вряд ли вы найдете песню про море, например, у монголов. Кстати, занимательный факт: при том, что Монголия не имеет выхода к морю, под ее флагом плавает едва ли не самое большое число кораблей в мире. Тут вся хитрость в том, что плавать, не будучи прикрепленным ни к какому государству корабль не может, а Монголия требует за подобную привязку минимальную сумму.</p>
			<p>Такие вот встречаются чудеса.</p>
			<p class="song">The Irish Rovers – The last of "The Irish Rover"</p>
			<p>Моря, как известно нам из курса школьной географии, занимают около семидесяти процентов земной поверхности. Моря и океаны человек научился преодолевать сравнительно недавно (ну, все в мире, конечно, относительно) – около четырех тысяч лет назад. С тех пор дальность плаваний только увеличивалась.</p>
			<p class="song">Ogam – Sky boat song</p>
			<p>Параллельно с плаваниями людей по морям, слагались и песни об этих плаваниях: притом песни были посвящены не столько процессу плавания, сколько рассказам о далеких землях. Самой ранней известной мне такой песней является Одиссея Гомера.</p>
			<p>Осип Мандельштам писал об этом эпосе:</p>
			<p class="poetry">
				Бессонница. Гомер. Тугие паруса.<br/>
				Я список кораблей прочел до середины:<br/>
				Сей длинный выводок, сей поезд журавлиный,<br/>
				Что над Элладою когда-то поднялся.<br/>
			</p>
			<p>Следующим (в хронологическом порядке) значительным мероприятием по пересечению водной поверхности можно назвать, наверное, крестовые походы.</p>
			<p class="song">Drolls – Pase el aqua (composer unknown)</p>
			<p>Как я уже рассказывал в одной из предыдущих передач, в 1492 году Христофор Колумб открыл Америку. Поэтому сегодня я не открою вам Америки и пропущу обзор этого замечательного события. А вот тот факт, что в 1606 году европейцы впервые высадились в Австралии, наверное, заслуживает отдельной музыкальной композиции.</p>
			<p class="song">Marc Minkowski – Air des matelots (composed by Marin Marais)</p>
			<p>Высадку в Австралии, наверное, можно считать предпоследним великим географическим открытием. Последним же, наверное, можно назвать открытие Антарктиды в 1820 году. Сделали это русские капитаны Лазарев и Беллинсгаузен, люди и пароходы.</p>
			<p>После открытия Антарктиды люди начали брать другие рубежи. Сначала человек полетел на воздушном шаре, потом на самолете, а потом и на космическом аппарате.</p>
			<p class="song">Fisherman's Friends – Sailor ain't a sailor</p>
			<p>Так закончилась эпоха великих морских капитанов, а вместе с ними – и эпоха великих кораблей. Некоторые считают, что последним великим кораблем была Катти Сарк, которая сгорела в 2007 году и теперь находится на восстановительном ремонте. Хотя, черт побери, как можно назвать великим кораблем кусок дерева, которые пятьдесят лет простоял в порту?</p>
			<p class="song">The Dartz – Катти Сарк</p>
			<p>Вот и подошел к концу очередной выпуск передачи про народную музыку западной Европы. Еще раз поздравляю всех моряков, гипотетических моряков, их жен и гипотетических жен с прошедшим праздником.</p>
			<p>В следующий раз я, наверное, расскажу вам, что же вкусного и свежего мне удалось обнаружить в музыкальных запасниках.</p>
			<p>Спасибо.</p>
			<p class="song">Mervent – Tri martolod</p>
