			<p>Всем привет.</p>
			<p>Георгий Свиридов однажды сказал:</p>
			<p class="poetry">
				Там-та-да-да,<br/>
				Та-да-дам,<br/>
				Та-да-да, та-да-дам,<br/>
				Там-дам-дам.<br/>
			</p>
			<p>Вот об этом сегодня и поговорим.</p>
			<p class="song">Die Streuner – Trink ich Wein oder Bier</p>
			<p>Сегодня я, как и обещал в прошлой передаче, буду рассказывать про новые альбомы, которые увидели свет в 2011 году. Я бы рассказал вам про альбомы 2012 года, если бы знал хотя бы один, подходящий по формату к этой передаче. Вот первая весточка – у полуподвальных немцев Die Streuner вышел новый альбом.</p>
			<p class="song">Die Streuner –  Dans les prisons de Nantes</p>
			<p>Новый альбом бродяг называется "Hurra na Endlich”. Насколько мне удалось понять, название означает что-то вроде «веселье до последнего вздоха» – вполне соответствует духу Die Streuner.</p>
			<p>Двигаемся дальше. Бельгийский дуэт Naragonia присоединил к себе еще двух музыкантов, став квартетом. Новая группа называется Naragonia Quartet и уже выпустила новый альбом волшебной инструментальной музыки. Вот вам несколько джиг с нового альбома.</p>
			<p class="song">Naragonia Quartet – The Cherrytree / Le train / Copain planché</p>
			<p>Тут, наверное, нужно сказать, что Бельгия, поскольку находится где-то между Германией, Францией и Англией, наследует традиции всех трех регионов. Английское наследие мы с вами прослушали буквально только-что. От французов квартет позаимствовал музыку вальсов и мазурок, которые составляют едва ли не половину альбома. Большинство этих мелодий довольно задумчивы и не соответствуют бесшабашному духу этой передачи. Впрочем, одну вещичку я вам все же поставлю.</p>
			<p class="song">Naragonia Quartet – Batiska</p>
			<p>Новый альбом назвается Batiska. Ни один онлайн-переводчик не смог мне подсказать, что же означает это слово. Поэтому я предлагаю вам считать, что речь идет о батискафе.</p>
			<p>И к другим новостям. 16 января 2012 года умер Густав Леонхардт. Признаюсь, когда я прочел эту новость, я не придал ей особого значения – если честно, то это имя вообще было мне тогда незнакомо. Однако послушав несколько композиций в его исполнении, я понял, что не упомянуть о нем нельзя.</p>
			<p class="song">Gustav Leonhardt – Sonata No. 4 in C: Giga (composer unknown)</p>
			<p>Но, не будем больше о грустном, ведь грустное нынче вышло из моды. Густав Леонхардт многое сделал для музыки давно прошедших времен, и даже после его смерти эта музыка продолжает жить и развиваться. Вот например, другие немцы – The Playfords – выпустили новый альбом с итальянскими песнями и танцами эпохи возрождения. Вот одна из них:</p>
			<p class="song">The Playfords – Fa una canzone (composer unknown)</p>
			<p>Новый альбом называется так же как и эта композиция «Fa una canzone». И хотя исполнение некоторых композиций с альбома с точки зрения аутентичности и кажется сомнительным, звучит альбом все равно очень круто.</p>
			<p class="song">The Playfords – Voltate in ça, do bella donzelina / Voltate in ça Rosina (composer unknown)</p>
			<p>Из теплой Италии шестнадцатого века – в ледяную Россию. Группа Отава Ё совершила невероятное. Коллектив оставил свои эксперименты за бортом и записал альбом русских рождественских песен. Альбом поразителен уже сам по себе – не так много альбомов с подлинно русскими песнями мне известно. Больше всего меня поразил список используемых на альбоме инструментов: гусли, жалейка, low whistle, бубен, ложки, акустическая гитара, маленькая гитара, фиддл, мандолина, балалайка, колокольчик, дарбука, большой барабан, а также никельхарпа, колесная лира, кантеле, виолончель, альт и контрабас. Поскольку Алексей Белкин уже представлял новый альбом на Фолкрадио, я не буду долго рассусоливать, а просто включу последнюю песню с этого альбом, которую во время презентации нам так и не дали дослушать.</p>
			<p class="song">Отава Ё – Торжествуйте, веселитесь</p>
			<p>Ну, и последний на сегодня альбом. В прошлой новостной передаче (с этого выпуска мы начали наше с вами знакомство), я говорил, что в скором времени у The Dartz выходит новый диск и ставил вам песню с недавно выпущенного группой сингла. Время неумолимо летело вперед, и издание нового альбома все же оказалось у меня в руках.</p>
			<p class="song">The Dartz – Я принес тебе вино</p>
			<p>Группа практически оставила баловство с народной музыкой. В сопроводительном буклете написано: мы выросли на роке шестидесятых, поэтому для нас совершенно естественно, что мы решили сделать альбом в этом стиле: простой ритм, прямая бочка, честная электрогитара, записанная через добротный усилитель, на индикаторах прыгают стрелки. Кстати, сам буклет тоже заслуживает отдельного обзора. Альбом – это такая толстоватая книжка с картонной обложкой. У меня даже создалось ощущение, что диск с музыкой здесь совсем не важен. Ах да, альбом называется «Старье и медляки». Медляки мы с вами уже послушали. Послушаем теперь что-нибудь старое.</p>
			<p class="song">The Dartz – Johnny Muffin</p>
			<p>Вот такая вышла передача. Перегруженная подробностями и бессмысленными деталями. Если вы еще слушаете ее, то вы совершаете большую ошибку. Вам уже следует переодеваться в сухое и срочно ехать в ближайший музыкальный магазин.</p>
			<p>Кстати, в следующий раз я собираюсь провести аукцион невиданной щедрости. «Кельтская новь» впервые за полгода существования выйдет в прямом эфире из петербургской студии Фолкрадио. Наверное, во время эфира будет работать косая-черта-чат, где я с радостью отвечу на все ваши вопросы.</p>
			<p>Спасибо.</p>
			<p class="song">Old Horned Sheep – Scotish G</p>
