			<p>Всем привет.</p>
			<p>С вами «Кельтская новь».</p>
			<p>За прошедший год кого мы только с вами не слышали: и россиян, которые играю бретонщину, и ирландцев, подражающих болгарам. Сегодня я собираюсь рассказать вам о группе, не похожей ни на что, слышанное нами ранее.</p>
			<p class="song">Spiro – Pop</p>
			<p>Сегодня мы с вами будем говорить о фолк-квартете Spiro. Этот английский квартет состоит из скрипачки Джейн Харбор, аккордеониста Джейсона Спаркса, гитариста Йона Ханта и мандолиниста Алекса Ванна. Вместе они играют музыку, от прослушивания которой возникают довольно смешанные чувства. Вот что написано на одном из их альбомов, который называется Lightbox:</p>
			<p>«Это очень душевная, очень эмоциональная, очень страстная музыка. Вот за это она мне и нравится». Под этим текстом стоит подпись: Питер Гебриэл. Наверное, к мнению такого мэтра английской музыки, как Питер Гебриэл стоит прислушаться. Кроме этого, стоит, наверное, прислушаться еще к одной композиции с этого альбома.</p>
			<p class="song">Spiro – Shaft</p>
			<p>Впрочем, далеко не все песни на первом альбоме похожи друг на друга. Не все они отличаются бешеной скоростью и двудольным ритмом. Присутствуют здесь и медленные степенные вальсы. Впрочем, даже вальсы эта команда не могла не сыграть в своем особом стиле.</p>
			<p class="song">Spiro – The radio sky</p>
			<p>Альбом был издан на лейбле Real World Records. Лейбл занимается изданием музыки в стиле World. Наверное стоит остановиться на этом термине подробнее. Я не уверен, что со мной согласятся многие слушатели, но мне кажется, что музыкой мира можно называть любую композицию, появившуюся в результате синтеза нескольких народных культур – такое смешение присутствует и на этом альбоме: милая сердцу вечнозеленая Ирландия переплетается с туманной музыкой Лондона, скалистая Шотландия привечает южный Уэльс.</p>
			<p>Примечательно, что этот альбом даже и записан был отличным от большинства издаваемых сегодня альбомов способом – живьем, без микширования. Чудеса да и только.</p>
			<p>Давайте послушаем еще одну, последнюю на сегодня композицию с этого альбома и перейдем на следующий уровень.</p>
			<p class="song">Spiro – Mr. Keys</p>
			<p>Кстати, кое-где в интернете встречаются упоминания альбома Live in box. Сегодня я разрушу дурацкие мифы и расскажу, что хотя этот альбом и отличается набором треков от альбома Lightbox, треки на нем представлены те же самые. Как мне объяснил менеджер группы, эта версия альбома была выложена в интернете для свободного скачивания, поэтому и набор треков на ней сокращен.</p>
			<p>Мы немедленно переходим к следующему альбому группы. Он называется Kaleidophonica и имеет очень психоделичную обложку. Я выложу ее кусочек на страницу с текстом передачи, чтобы все могли полюбоваться ею. Вот обещанный кусочек:</p>
			<div class="center">
				<img src="/images/celtic/035.kaleidophonica.png" width="900px" height="104px" alt=""/>
			</div>
			<p>А пока послушаем какую-нибудь традиционную английскую мелодию с этого альбома.</p>
			<p class="song">Spiro – Rose engine</p>
			<p>Когда я готовил передачу, мне в голову приходили некоторые мысли по поводу того, как же эта передача будет называться. И вот тогда мне и подумалось, что музыка группы Spiro – она хотя и очень акустическая по своей природе (кстати, альбом Kaleidophonica тоже записан живьем), звучит она очень по-электронному. Поэтому-то я и решил назвать нашу сегодняшнюю передачу «Электричество». И пусть каждый слушатель сам решает, прав я или нет.</p>
			<p class="song">Spiro – Yellow noise</p>
			<p>Но, что это я все рассказываю про то, что думаю я. Давайте послушаем, что говорят про Spiro признанные аналитики. Вот, например, британская The Guardian пишет: «Spiro – это редкость, диковинка: подлинно английские оригиналы». А в The Independent говорят: «Скрипка, аккордеон, мандолина и гитара, иногда – виолончель. Очень детализированные аранжировки. Безумный драйв. Это английская народная музыка откуда-то с запада страны, но совершенно не такая, какой вы ожидали ее услышать».</p>
			<p>А теперь – полька, такая, какой вы никак не ожидали ее услышать.</p>
			<p class="song">Spiro – The city and the stars</p>
			<p>Второй отличительной чертой музыки группы Spiro является, на мой взгляд, отсутствие всяких канонов. Совершенно невозможно угадать, какой из инструментов поведет мелодию следующим. В общем, на последнем альбоме ребята тоже оторвались как следует.</p>
			<p class="song">Spiro – The mezzotint</p>
			<p>Ну, и на последок стоит, наверное, упомянуть, что Spiro – совсем не такая молодая группа, как кажется. Свой первый альбом – Pole Star они записали аж в 1997 году, после чего куда-то пропали на 12 лет. На первом альбом еще сильнее чувствуется присутствие английской народной традиции – даже танцы из сборников Плейфорда имеются.</p>
			<p class="song">Spiro – Florinda</p>
			<p>Вот такую замечательную английскую группу я отыскал для вас сегодня. Кстати, найти альбомы этой группы во всяких не очень законных местах довольно затруднительно. Поэтому смело заходите на spiromusic.com и заказывайте альбомы. С вами свяжется их менеджер Хейзел, и если вам повезет, вы получите психоделическую открытку с его подписью.</p>
			<p>Спасибо и удачи.</p>
			<p class="song">Spiro – Prussia cove</p>
