			<p>﻿Всем привет!</p>
			<p>С вами «Кельтская новь». Сегодня, как и обещал вам две недели назад мы будем слушать аутентичные тексты эпохи Средневековья.</p>
			<p>Пользуясь случаем, напомню, что у нас работает собственный средневековый чат, расположенный по адресу <a href="http://folkradio.ru/chat">folkradio.ru/chat</a>. В чате можно задать вопросы и получить на них более или менее вразумительные ответы на латыни.</p>
			<p>Ну а мы, как и полагается, начинаем прогрессивненько.</p>
			<p class="song">Gryphon – Kemp's jig</p>
			<p>Пользуясь случаем, я зашёл летом в магазин с нехитрым названием «Букинист», где и приобрёл издание героических песен Европы. Купленный талмуд я внимательно изучил и решил сделать передачу с выдержками тех текстом, что мне показались интересными. Впрочем, начнём мы с совсем не средневекового текста, ведь самой первой известной нам героической песней является древнегреческая Илиада Гомера.</p>
			<p class="poetry">
				Гнев, богиня, воспой Ахиллеса, пелеева сына,<br/>
				Грозный, который ахеянам тысячи бедствий соделал:<br/>
				Многие души могучие славных героев низринул<br/>
				В мрачный Аид и самих распростер их в корысть плотоядным<br/>
				Птицам окрестным и псам (совершалася зевсова воля),<br/>
				С оного дня, как, воздвигшие спор, воспылали враждою<br/>
				Пастырь народов Атрид и герой Ахиллес благородный.<br/>
				Кто ж от богов бессмертных подвиг их к враждебному спору?<br/>
				Сын громовержца и Леты — Феб, царем прогневленный,<br/>
				Язву на воинство злую навел; погибали народы<br/>
				В казнь, что Атрид обесчестил жреца непорочного Хриса.<br/>
				Старец, он приходил к кораблям быстролетным ахейским<br/>
				Пленную дочь искупить и, принесши бесчисленный выкуп<br/>
				И держа в руках, на жезле золотом, аполлонов<br/>
				Красный венец, умолял убедительно всех он ахеян,<br/>
				Паче ж Атридов могучих, строителей рати ахейской:<br/>
				«Чада Атрея и пышнопоножные мужи ахейцы!<br/>
				О! да помогут вам боги, имущие домы в Олимпе,<br/>
				Град приамов разрушить и счастливо в дом возвратиться;<br/>
				Вы ж свободите мне милую дочь и выкуп примите,<br/>
				Чествуя Зевсова сына, далеко разящего Феба».<br/>
			</p>			
			<p class="song">London Oboe Band – Marche pur la ceremonie des Turcs (composed by Jean-Baptiste Lully)</p>
			<p class="poetry">
				«Бессонница, Гомер, тугие паруса,<br/>
				Я список кораблей дочёл до середины»<br/>
			</p>
			<p>Так писал об этом произведении Осип Мандельштам.</p>
			<p>Давайте перепрынем на полторы тысячи лет вперёд.</p>
			<p>Наши музыкальные изыскания сегодня будет сопровождаться выдержками из французских песен: «Коронование Людовика», «Нимская телега», «Песнь о Роланде», испанской «Песни о Сиде» и кое-чем английским (давайте не будем раскрывать все козыри сразу). И «да воздаст господь идущим со мною, а на тех, кто останется, я не злоблюсь».</p>
			<p class="song">Jordi Savall, Hesperion XX – Miragres fremosos faz por nos (composed by Alfonso  X  El Sabio)</p>
			<p class="poetry">
				«Песнь о Роланде» написана ямбическим размером.<br/>
				Долиной мчит Роланд на скакуне.<br/>
				Конь Вельянтиф под ним горяч и резв.<br/>
				К лицу ему оружье и доспех.<br/>
				Копьё он держит меткое в руке,<br/>
				Вздымает грозно к небу острие.<br/>
				Значок играет белый на копье,<br/>
				Свисает бахрома до рук и плеч.<br/>
				Прекрасен телом граф и ликом смел.<br/>
				Ему вдогонку скачет Оливье.<br/>
				Несется клич французов им вослед.<br/>
				Роланд надменно мавров оглядел,<br/>
				Любовно глянул на своих людей<br/>
				И стал держать к ним ласковую речь:<br/>
				«Бароны, не гоните зря коней:<br/>
				Язычников не минет ныне смерть.<br/>
				Такую мы возьмем добычу здесь,<br/>
				Какой не брал никто из королей».<br/>
				Сходиться рати начали затем.<br/>
				Аой!<br/>
			</p>
			<p class="song">Les Musiciens du Louvre – Airs des Matelots I, II &amp; III / Deux Matelottes (composed by Marin Marais)</p>
			<p>Судьба Роланда сложилась романтически – героическая смерть ожидала его на поле битвы. В следующем отрывке главные герои обсуждают план дальнейших действий.</p>
			<p class="poetry">
				Граф Оливье сказал: «К чему слова!<br/>
				В рог затрубить казалось стыдно вам.<br/>
				Теперь король нам помощь не подаст.<br/>
				За это было б грех ему пенять:<br/>
				Не знает он, что ожидает нас.<br/>
				Пришпорьте лучше скакуна, собрат!<br/>
				Бароны, ни на шаг не отступать!<br/>
				Молю вас ради господа Христа,<br/>
				Держите строй, крушите басурман!<br/>
				Ударим с кличем Карла на врага».<br/>
				И крикнули французы: «Монжуа!»<br/>
				Кто этот крик в бою слыхал хоть раз,<br/>
				Тот видел тех, кому неведом страх.<br/>
				Погнали тут коней французы вскачь.<br/>
				Как шпорят их они, как лихо мчат!<br/>
				Осталось им одно — рубить сплеча,<br/>
				Но и арабов трудно испугать.<br/>
				И вот уж грудь на грудь сошлись войска.<br/>
			</p>
			<p class="song">London Oboe Band – Le marie et la mariée</p>
			<p>Два следующих произведения в нашей программе – «Коронование Людовика» и «Нимская телега» связаны общим героем: его зовут Гильом Короткий Нос. Об интересной судьбе происхождения такого прозвища я рассказывать не буду. Предлагаю прочесть вам это произведение самостоятельно.</p>
			<p class="poetry">
				Честные господа, храни вас бог!<br/>
				Коль вы речам пристойным внять не прочь,<br/>
				О доблестных делах мы вам споём.<br/>
				Плох тот жонглёр, который вечно ждёт,<br/>
				Пока попросят начинать его.<br/>
				Услыште ж, как Людовик сел на трон,<br/>
				И что свершил Гильом Короткий Нос,<br/>
				Нанёсший сарацинам вред большой.<br/>
				Вам лучшей песни не споёт никто.<br/>				
			</p>
			<p class="song">The Baltimore Consort – Oy camamos y bebamos</p>
			<p class="poetry">
				В престольном храме был Гильом у мессы,<br/>
				И рыцарю сказал Христов наместник:<br/>
				«Явите, бога ради, милосердье – <br/>
				Нам помогите отразить неверных»<br/>
				«Бог видит, – молвил граф Гильом, колеблясь, – <br/>
				Паломником я в край явился здешний<br/>
				Со свитой, малолюдною чрезмерно:<br/>
				Лишь шестьдесят бойцов со мною смелых.<br/>
				На стольких королей мне грянуть не с кем».<br/>
				Но возразил святитель: «Рыцарь честный,<br/>
				Апостол Пётр да будет мне свидетель!<br/>
				Коль за него вы вступите в сраженье,<br/>
				Вам можно будет мясо есть вседневно,<br/>
				И жён держать, коль хватит сил, хоть десять,<br/>
				И в грех любой впадать, пусть даже смертный,<br/>
				За исключеньем разве что измены, – <br/>
				Я вам даю даю заране отпущенье.<br/>
				Создатель вход откроет вам по смерти<br/>
				Туда, где лишьего друзьям есть место,<br/>
				Сам Гавриил введёт вам в рай небесный».<br/>
			</p>
			<p class="song">Corona Borealis – Tourdion</p>
			<p class="poetry">
				«Ступайте, граф, язычников разите,<br/>
				И да поможет вам господь всевышний<br/>
				Вернуться к нам живым и невредимым».<br/>
				Ушёл Гильом, маркграф неустрашимый.<br/>
				Идёт с ним много знати родовитой,<br/>
				Идут его племянники родные.<br/>
				Коней под тяжким вьюком с ними триста.<br/>
				Скажу вам, что везут передовые:<br/>
				Распятья, дароносицы и ризы,<br/>
				Кадила, псалтыри, епитрахили.<br/>
				Достигнет рать владений сарацинских – <br/>
				Ей, первым делом, нужно помолиться.<br/>
			</p>
			<p class="song">New London Consort – Basse Danse &lt;Mon desir&gt; / Reprise &lt;Le cueur est bon&gt;l</p>			
			<p class="poetry">
				Четыре лье они прошли едва,<br/>
				Как на глаза попался им виллан.<br/>
				В Сен-Жиль он ездил, сбыл там свой товар<br/>
				И к дому направлялся не спеша<br/>
				С тремя детьми на четырёх волах.<br/>
				Смекнуть хватило у него ума,<br/>
				Что соль в его краях не дешева.<br/>
				Он бочку с ней в телеге вёз назад,<br/>
				А бочка та была полным полна.<br/>
			</p>
			<p class="song">Drolls – Debka #2</p>
			<p>Передём к испанской песенной традиции. «Песнь о моём Сиде» повествует о борьбе европейцев с арабским нашествием. Песнь эта написана в общеевропейском ритме в 6/8, что я и постараюсь передать при её прочтении.</p>
			<p>Однажды созвал он родню и вассалов и объявил, что король повелел ему покинуть Кастилию, что на это дано всего девять дней и он хочет знать, кто пойдет с ним, а кто нет.</p>
			<p class="poetry">
				«Да воздаст господь идущим со мною,<br/>
				А на тех, кто останется, я не злоблюсь»<br/>
				Тут родич его Альвар Фаньес молвил:<br/>
				«За вами пойдем мы куда угодно,<br/>
				Покуда живы, в беде вас не бросим,<br/>
				Для вас коней до смерти загоним,<br/>
				Последним поделимся с вами охотно,<br/>
				Не изменим вовек своему сеньору».<br/>
				Дона Алъвара все одобрили хором,<br/>
				Всем отвечает мой Сид поклоном.<br/>
				Держит на Бургос он путь-до	рогу.<br/>
				Бивар, его замок, пуст остается.<br/>
				Заплакал мой Сид и громко и горько,<br/>
				Назад обернулся, на замок смотрит.<br/>
			</p>
			<p class="song">Drolls - La quinte estampie royal</p>
			<p class="poetry">
				Распахнуты двери, настежь ворота;<br/>
				На нашестах ни шуб, ни одежды добротной,<br/>
				Ни линялых соколов нету больше.<br/>
				Тяжко мой Сид вздыхает от скорби,<br/>
				Молвит мой Сид разумное слово:<br/>
				«Царь наш небесный с ангельским сонмом,<br/>
				Вот что терпеть от врагов я должен!»<br/>
				Всадники шпорят, поводья ослабив.<br/>
				Ворона в Биваре взлетела справа,<br/>
				А прибыли в Бургос - слева взлетает.<br/>
				Мой Сид распрямился, повел плечами:<br/>
				«Вот, Альвар Фаньес, мы и в изгнанье,<br/>
				Но с честью в Кастилью вернёмся обратно».<br/>
			</p>
			<p class="song">Avis Dei - Saltarello 2</p>
			<p>от и подошло время последней на сегодня героической песни. Она не имеет своего собственного названия и взята мною из романа Вальтера Скотта «Антикварий». Так что</p>
			<p class="poetry">
				Садитесь все на ту скамью,<br/>
				И слушай, стар и мал,<br/>
				Про графа Гленаллена я спою,<br/>
				Как он под Харло пал.<br/>
				В Бéннахи кронах громко звучал,<br/>
				Скользил по Дону с волной.<br/>
				И горец, и воин низин воевал,<br/>
				Был страшен под Харло бой.<br/>
				Седлали белых сто лошадей,<br/>
				Седлали сто вороных.<br/>
				Чафроны сверкали на лбу у коней,<br/>
				Был рыцарь на каждом из них.<br/>
				Едва десять миль во весь опор<br/>
				Успели они проскакать,<br/>
				Навстречу понёсся Дональд с гор,<br/>
				И с ним в двадцать тысяч рать.<br/>
				Тартаны реют, как рой знамён,<br/>
				Мечи на солнце блестят,<br/>
				Волынки ревут со всех сторон<br/>
				И, кажется, всех оглушат.<br/>
			</p>
			<p class="song">Ensemble Buon Tempo – Daphne</p>
			<p class="poetry">
				Поднялся граф на тугих стременах<br/>
				И вражьи войска оглядел:<br/>
				«Не всякий, кто закалён в боях,<br/>
				Сегодня останется цел.<br/>
				Мой паж весёлый, как бы за нас<br/>
				Решил ты, будь воля твоя?<br/>
				Будь графом Гленаллена ты сейчас,<br/>
				А Роландом Ченом – я?<br/>
				Бежать? Догонят – позор и плен.<br/>
				Сражаться ли, смерть избрав?<br/>
				Как решил бы ты нынче, Роланд Чен,<br/>
				Будь ты Гленаллена граф?»<br/>
				«Будь графом Гленаллена я хоть миг,<br/>
				А Роландом Ченом – вы,<br/>
				Я пришпорив коня, издал бы ваш крик,<br/>
				И дрались бы мы, как львы.<br/>
				У них против нас двадцать тысяч мечей,<br/>
				А нам – с двумястами в бой.<br/>
				Зато тартаны у их людей,<br/>
				А мы укрыты бронёй.<br/>
				Как сквозь кусты, пролетит во всю прыть<br/>
				Мой конь сквозь их ряды.<br/>
				Нет, славная норманнов кровь остыть<br/>
				Не должна из-за горской орды!»<br/>
			</p>
			<p class="song">The Early Music Consort of London – Triumph: Intradas VI &amp; VII</p>
			<p>Вот и подошла к концу наша передача о героических песнях Европы. Я постарался охватить все четыре тысячи лет героических песен и сопроводить их примерно пять сотнями лет популярной музыки. В следующий раз мы с вами поговорим о новых птичках в мире фолк-, trad- и этно-музыки. Впрочем наши птички будут иметь довольно слабое отношение к фолку, хотя на ФолкРадио этому удивлятья уже не приходится.</p>
			<p>Я же прощаюсь с вами и желаю удачи!</p>			
			<p class="song">William Christie, Les Arts Florissants – All'armi from Amor vince ogni cosa (composed by Marc Antoine Charpentier)</p>
