			<p>Всем привет.</p>
			<p>С вами «Кельтская новь».</p>
			<p>В прошлый раз я обещал поговорить с вами о новых птичках в мире фолк-музыки. Но скажите мне пожалуйста, о каких чёрт возьми птичках может идти речь, когда на носу...</p>
			<p>Когда на носу бородавка, на голове – чёрная остроконечная шляпа, а в котле варятся свежепойманные лягушки?</p>
			<p>Соуэн!</p>
			<p>Соуэн, как известно, отмечался древними кельтами как праздник, означающий начало зимы. Считается, что в этот день утончается граница между этим миром и миром потусторонним, отчего и происходят с нами всякие странные и непонятные вещи. Впрочем, ни о чём темном я вам сегодня рассказывать не буду. Я собираюсь прочитать вам народную ирландскую сказку «Про короля, про святого и про гусыню».</p>
			<p class="song">Andrew Lawrence-King – Jigg to the above</p>
			<p class="song">Ar Log – Yn iach i ti gymru</p>
			<p>Вы слышали когда-нибудь про доброго короля О'Тула, который жил в давние времена в Ирландии и которому на старости лет выпала нежданная радость?</p>
			<p>Да, так вот. Когда король О'Тул был ещё молодым, во всей Ирландии не нашлось бы юноши отважней его. Любимым занятием короля была охота, и с восхода солнца до тёмного вечера он только и знал, что скакал по болотам, подшпоривал своего коня да науськивал собак.</p>
			<p>Жизнь его текла славно и весело, пока король совсем не состарился и не сгорбился. Теперь он уж не мог охотиться целыми днями, будь то лето или зима, будь то дождик или солнце. И пришел день, когда единственное, что осталось бедному старому королю, – это ковылять с палочкой по саду. «Жизнь кончена, – думал он, – если нет больше ни радостей, ни утех».
			<p class="song">Battlefield Band – Major Malley's March &amp; Reel / Malcolm Currie</p>
			<p>И вот чтобы как-то утешить себя и развеселить, король завёл себе гусыню. Хотите верьте, хотите нет, но гусыня оказалась добрым другом бедному старому королю.</p>
			<p>Какое-то время они совсем неплохо развлекались вдвоём – король О'Тул и гусыня, – и не смейтесь, ничего смешного тут нет. Куда бы она ни залетала, как только он звал ее, она тут же возвращалась и могла хоть весь день ковылять за ним, если ему этого хотелось.</p>
			<p>А по пятницам – ну, вы же знаете, что пятница, по священным законам, постный день и мяса добрым христианам есть не положено, – так вот, по пятницам она заплывала подальше в озеро и приносила своему хозяину на обед нежную, жирненькую форель.</p>
			<p class="song">Áthas – Reels: Drowsy Maggie - Mountain road - Tam Lin</p>
			<p>Да, это доброе создание было единственной радостью и утехой бедного старого короля О'Тула. Но увы, ничто не вечно на этом свете! И королевская гусыня тоже состарилась, и настал день, когда крылья отказали ей, так же как старому королю ноги, и бедняжка при всем своем желании не могла уже больше развлекать своего хозяина. Что поделаешь!</p>
			<p>Король О'Тул был безутешен.</p>
			<p>В один прекрасный день старики – мы хотели сказать: старик король и старушка гусыня – сидели на берегу озера и грустили. Король держал гусыню на коленях и с нежностью глядел на нее, а в глазах у него стояли слезы. «Нет, уж лучше умереть или утонуть в этом озере, чем влачить такую жалкую, унылую жизнь», – думал он.</p>
			<p class="song">Cliar – 9/8 Tunes: The grinder / Amadan Gorach / A tune from the low country</p>
			<p>Он выпустил из рук гусыню, и она заковыляла к прибрежным камышам поискать добычи. А король все сидел и думал о своей безрадостной жизни.</p>
			<p>Вдруг он поднял голову и увидел перед собой незнакомого юношу, на вид такого скромного и симпатичного.</p>
			<p>— Приветствую тебя, король О'Тул! – сказал скромный юноша.</p>
			<p>— Вот те на, откуда ты знаешь, как меня зовут? – удивился король.</p>
			<p>— Это неважно. Я еще кое-что знаю, – отвечал юноша. – А смею я спросить тебя, добрый король О'Тул, как поживает твоя гусыня?</p>
			<p>— Откуда ты знаешь и про мою гусыню тоже? – спросил король.</p>
			<p>Ведь гусыни-то в это время видно не было: она охотилась в камышах.</p>
			<p class="song">Crasdant – The Chandler's march / Hunting the hare / The tune of blind Ifan</p>
			<p>— А я всё про неё знаю. А откуда – да это неважно, – улыбнувшись, ответил юноша.</p>
			<p>— Но кто же ты такой? – спросил король.</p>
			<p>— Честный человек, – ответил юноша.</p>
			<p>— А чем ты зарабатываешь на жизнь? – поинтересовался король.</p>
			<p>— Да я старое делаю новым.</p>
			<p>— А-а-а, наверное, ты лудильщик? – решил король.</p>
			<p>— Нет-нет-нет, поднимай выше! Что бы ты, например, сказал, если бы я, например, сделал твою старую гусыню, от которой остались лишь кожа да кости, опять молодой?</p>
			<p class="song">Danu – Reel in D / Meary Bergins</p>
			<p>— Опять молодой?! – переспросил король, и его старое лицо так и засияло от радости: о лучшем он и мечтать не мог.
			<p>— Ну да, опять молодой, – кивнул в ответ юноша.</p>
			<p>Король О'Тул свистнул. Тут же из камышей показалась старушка гусыня, от которой остались лишь кожа да кости, и заковыляла к своему сгорбленному старику хозяину. Что и говорить, старушка была верна ему как собака.</p>
			<p>Юноша поглядел на гусыню и сказал:</p>
			<p>— Даю слово, я сделаю её молодой, если ты этого хочешь.</p>
			<p class="song">Deanta – The rocky reels</p>
			<p>— Клянусь здоровьем! – воскликнул король, в свою очередь бросая взгляд на старушку гусыню, от которой остались лишь кожа да кости. – Коли ты сделаешь это, я буду считать тебя самым умным юношей во всех семи приходах моего королевства!</p>
			<p>— Подумаешь, одолжил, – смеясь, сказал юноша. – А что ты все-таки дашь мне за это?</p>
			<p>— Всё , что попросишь! – сказал король. – И это будет вполне справедливо.</p>
			<p>— Отдашь ли ты мне все земли, какие облетит твоя гусыня, от которой остались лишь кожа да кости, в тот день, когда я снова сделаю её молодой?</p>
			<p>— Отдам! – сказал король.</p>
			<p>— И на попятный не пойдешь? – спросил юноша.</p>
			<p>— Не пойду! – сказал король.</p>
			<p class="song">Die Streuner – Coleraine Jig</p>
			<p>Тут юноша подозвал к себе старушку гусыню, от которой остались лишь кожа да кости, подхватил её на руки, расправил ей крылья и подбросил вверх. Да не только подбросил, но и подул под крылья, чтобы ей легче было взлететь. И – клянусь вам! – старушка взвилась в воздух ну точно орёл. И кружилась, и ныряла, и резвилась, словно ласточка.</p>
			<p>На старого короля одно удовольствие было смотреть: от удивления он даже рот открыл и радовался, глядя на свою старушку гусыню, которая порхала в небе, ну, точно жаворонок.</p>
			<p>Да, так вот, гусыня сделала большой круг – сначала скрылась из глаз, потом вернулась – и наконец опустилась у ног своего хозяина. Он погладил ей голову и крылья и убедился, что она и в самом деле стала опять молодой и здоровой, и даже ещёч лучше, чем была.</p>
			<p class="song">Dervish – Eddie Kelly's Jigs</p>
			<p>— Нет, лучшей гусыни свет не видел! – похвалил он её.</p>
			<p>— А что ты хочешь сказать мне? – спросил его юноша.</p>
			<p>— Что ты самый умный юноша, какой только ступал по земле ирландской, – ответил король, продолжая любоваться своей гусыней.
			<p>— А ещё что?</p>
			<p>— Что я тебе буду век благодарен.</p>
			<p>— А ты сдержишь слово и отдашь мне все земли, какие облетела сейчас гусыня?</p>
			<p>— Сдержу и отдам, – сказал король, – и буду всегда рад приветствовать тебя на своей земле, даже если у меня останется всего один акр.</p>
			<p>— Я вижу, ты честный и добрый старик, – сказал тогда юноша. – Счастье твое, что ты сдержал слово, не то гусыне твоей больше б никогда не летать!</p>
			<p>— Ах, да кто же ты такой? – спрашивает король юношу уже во второй раз за это утро.</p>
			<p class="song">Altan –  Slip jigs: A fig for a kiss / The turf cutter</p>
			<p>— Ах, да кто же ты такой? – спрашивает король юношу.</p>
			<p>И слышит ответ:</p>
			<p>— Я святой Кевин.</p>
			<p>— О, Господи! – восклицает король и падает на колени, конечно, с великим трудом, так как от короля, будем честны, тоже осталисьлишь кожа да кости. – Стало быть, выходит, я всё утро разговаривал тут и вёл беседу с самим святым?</p>
			<p>— Ну да, – говорит святой Кевин.</p>
			<p>— А я-то думал, что говорю с простым, скромным парнем!</p>
			<p>— Да, я переоделся, – говорит святой, – вот ты меня и не узнал. А пришел я, король О'Тул, чтобы испытать тебя. И я убедился в это утро, что ты честный и добрый король, потому что ты сдержал слово, данное простому лудильщику, за которого ты меня принял. И за это я тебя награжу: пусть твоя гусыня останется молодой!</p>
			<p>Вот какая история приключилась со старым королем О'Тулом, хотите верьте, хотите нет.</p>
			<p class="song">Joe Burke, Sean McGuire – Old grey goose</p>
			<p>Вот и подошла к концу наша передача, посвящённая великому кельтскому празднику. Соуэн отгремел, эльфы попрятались в свои волшебные холмы, черти провалились под землю, ведьмы повскакивали на мётлы и разлетелись по своим лачугам.</p>
			<p>В следующий раз, я вам даю слово – я конечно, не король, но слово держать умею – в следующий раз я обязательно расскажу вам о новых птичках в мире фолк-музыки – тем более, что к этому моменту с нами, даст бог, случится несколько новых музыкальных событий.</p>
			<p>Удачи!</p>