			<div class="center">
				<img src="/images/celtic/052.telemann.png" width="414px" height="300px" alt=""/>
			</div>
			<p>Всем привет!</p>
			<p>С вами «Кельтская новь».</p>
			<p class="poetry">
				Робин-Бобин кое-как<br/>
				Подкрепился натощак:<br/>
				Съел теленка утром рано,<br/>
				Двух овечек и барана,<br/>
				Съел корову целиком<br/>
				И прилавок с мясником,<br/>
				Сотню жаворонков в тесте<br/>
				И коня с телегой вместе,<br/>
				Пять церквей и колоколен, –<br/>
				Да ещё и недоволен!<br/>
			</p>
			<p>Вот об этом мы сегодня и поговорим.</p>
			<p class="song">Orchestra of the Golden Age — Overture (Suite) in E minor: Passepied (composed by Georg Philipp Telemann)</p>
			<p>Сегодня предлагаю вам поговорить о Георге Филиппе Телеманне. Георг Филипп Телеманн родился 14 марта 1681 года в городе Магдебруге и это, слава богу, известно точно. Самоучка, он стал композитором и талантливым исполнителем против воли своей семьи. Как и в случае Йоганна Штрауса II, про которого я рассказывал в одной из прошлых серий, его семья желала, чтобы он предпочёл денежную работу творческой деятельности. Он поступил в университет города Лейпцига, чтобы обучаться юриспруденции, но совершенно неожиданно, в том числе, возможно, и для самого себя, он увлёкся музыкой.</p>
			<p class="song">Orchestra of the Golden Age — Solo sonata in B minor for flute and continuo: Allegro (composed by Georg Philipp Telemann)</p>
			<p>Телеманн, по всеобщему признанию, был одним из наиболее плодовитых композиторов за всю историю музыки вообще. Всего за свою жизнь он написал 32 оперы, более 40 страстей (музыкальных произведений, отражающих физические, духовные и душевные страдания Христа во время от суда до распятия), 8 кантат, 7 ораторий, 6 оркестровых сюит, 8 сюит для камерных оркестров, 19 концертов для семи различных инструментов, включая 8 концертов для гобоя.</p>
			<p>Это, конечно, несколько меньше, чем 496 произведений Штрауса, но тоже выглядит довольно внушительно. Не забывайте о том, что в эпоху барокко сочинение многочастных произведений было более распространённой практикой, нежели в XIX веке.</p>
			<p>Собственно, сегодня я предлагаю вам послушать лишь небольшую часть небольшой части музыкального наследия Телеманна. Сегодня мы будем слушать «Музыку для обеденого стола».</p>
			<p class="song">Orchestra of the Golden Age — Trio in E flat major: Allegro (composed by Georg Philipp Telemann)</p>
			<p>Словосочетание «Музыка для обеденного стола» является моим почти дословным переводом немецкого музыкального термина »Tafelmusik«. Термин этот с середины XVI века означал оркестровую музыку, играемую на празднованиях, торжествах и банкетах. В конце XVIII века эта функция полностью была заменена музыкальным жанром дивертисмента и потеряла свой былое значение. Однако, в 1809 году Карл Фридрих Зельтер возродил этот жанр как вокальный жанр. В этом смысле термин просуществовал до середины XX века.</p>
			<p>Помните, я уже говорил, что музыка барокко неразрывно связано с джазом?</p>
			<p class="song">Orchestra of the Golden Age — Quartet in D minor: Allegro (composed by Georg Philipp Telemann)</p>
			<p>Самой известной композицией в жанре «музыка для кухонного стола» как раз и является »Tafelmusik« Георга Филиппа Телеманна, написанная в 1733 году. Иногда это сочинение сравнивают с «Бранденбургскими концертами» Иоганна Себастьяна Баха, которые также ясно демонстрируют превосходные навыки композитора в сочетании множества музыкальных жанров с множеством различных инструментов.</p>
			<p>Кстати, в тех треках, что мы слушаем сегодня, можно услышать: три скрипки, две флейты, два гобоя, два рожка, трубу, виолончель, фагот и, конечно же, клавесин.</p>
			<p class="song">Orchestra of the Golden Age — Overture (Suite) in E minor: Gigue (composed by Georg Philipp Telemann)</p>
			<p>А теперь, когда мы обсудили исторические аспекты термина «музыка для обеденного стола», я предлагаю вам поговорить о жизни самого Телеманна.</p>
			<p>Как я уже говорил, Георг Филипп Телеманн, вообще-то, не должен был становиться композитором. Тем не менее, в возрасте десяти лет он брал уроки пения и игры на клавишах у местного органиста. Всего двух недель обучения оказалось достаточным, чтобы вдохновить юного мальчика на самостоятельное изучение инструментов. Первыми написанными им пьесами были арии и мотеты, а в возрасте двенадцати лет он написал свою первую оперу «Сигизмунд». Его отец к этому времени уже умер, мать и учителя совсем не одобряли пристрастие Георга к музыке. Они даже отобрали у него все инструменты, но мальчик всё равно продолжал музицировать с тайне от своих учителей.</p>
			<p class="song">Orchestra of the Golden Age — Solo sonata in G minor for oboe and continuo: Presto (composed by Georg Philipp Telemann)</p>
			<p>В 1697 году Георг уехал из родного Магдебурга и поступил в Гимназиум Андреум в Хильдесхайме. Его композиторские таланты стали известны и сам ректор изредка заказывал у него музыку. Он часто путешествовал ко дворам Ганновера и Брауншвейга, где знакомился с самыми последними новшествами в музыке.</p>
			<p>Он продолжал своё музыкальное самообразование. К моменту окончания Гимназиума он умел играть на следующих инструментах: флейта, гобой, шалюмо, виола да гамба, контрабас и басовый тромбон. Кстати, Гимназиум он закончил с отличием.</p>
			<p class="song">Orchestra of the Golden Age — Overture (Suite) in D major: Air (composed by Georg Philipp Telemann)</p>
			<p>К 1721 году Телеманн уже был достаточно известен и как иполнитель, и как композитор. Он был приглашён в Гамбург, чтобы быть дирижёром хора и музыкальным директором пяти крупнейших церквей Гамбурга.</p>
			<p>Прибывание в Гамбурге стало вершиной музыкального гения Телеманна.</p>
			<p>Он начинает публиковать свои работы: поэмы, тексты для вокальных произведений, сонеты. Начиная с 1725 года он активно публикует и свою музыку. Более сорока муызкальных изданий были изданы им в период с 1725 по 1740 годы и широко распространились по всей Европе.</p>
			<p class="song">Orchestra of the Golden Age — Overture (Suite) in D major: Air (composed by Georg Philipp Telemann)</p>
			<p>Именно в Гамбурге Телеманн написал свою «Музыку для обеденного стола», ставшую предметом нашего разговора сегодня. Кстати, хотите верьте, хотите нет, но внуком Георга Филиппа Телеманна был Георг Майкл Телеманн, также ставший композитором. Вот такие совпадения случаются.</p>
			<p class="song">Orchestra of the Golden Age — Ouverture (Suite) in B flat major: Menuet (composed by Georg Philipp Telemann)</p>
			<p>Вот и подошёл к концу мой рассказ о Георге Филиппе Телеманне. Георг Филипп Телеманн умер от лёгочной недостаточности в 1767 году в Гамбурге и похоронен там же.</p>
			<p>Последним треком, который я предлагаю вам послушать, будет часть другого произведения Телеманна, не входящего в «Музыку для обеденного стола». Более того, исполнена эта музыка совершенно другим музыкальным коллективом. Специально для вас солировать на виоле да гамба будет Хилле Перл, о которой я обязательно расскажу. Только случится это как-нибудь в другой раз.</p>
			<p>Ну и, как полагается, удачи!</p>
			<p class="song">Hille Perl, Freiburge Barockorchester — Concerto in A: IV. Allegro (composed by Georg Philipp Telemann)</p>