			<p>Всем привет!</p>
			<p>С вами «Кельтская новь».</p>
			<p>Есть такой замечательный писатель — Саша Соколов. Вот о нём я сегодня и предлагаю вам поговорить.</p>
			<p class="song">Alan Munde — Earl's Breakdown</p>
			<p>Великий русский писатель Саша Соколов (настоящее имя — Александр Соколов) родился в 1943 году в Оттаве. Отец его был уроженцем Пензы и служил в аппарате торгового советника посольства СССР в Канаде. По другой информации, отец его был заместителем военного атташе всё в том же посольстве. Мать Саши Соколова была родом из Сибири.</p>
			<p class="poetry">«Месяц ясен, за числами не уследишь, год нынешний. Гражданину Сидор Фомичу Пожилых с уважением Зынзыреллы Ильи Петрикеича — Заитильщина. Разрешите уж, приступаю».</p>
			<p class="song">Andrea Capezzuoli e Compagnia — Marche pour Marie-Anne</p>
			<p>Историю жизни Саши Соколова можно было бы положить на музыку. Год спустя после рождения сына, семья переехала в Москву. Саша Соколов учился в школе №596, по окончании которой недолгое время работал санитаром в морге. В 1962 году поступил в Военную школу иностранных языков, откуда ушёл в 1965. Чтобы избежать призыва в армию, симулировал психическое расстройство и провёл три месяца в военном госпитале для душевнобольных. В 1967 году поступил на факультет журналистики МГУ.</p>
			<p class="poetry">«Жить; знать цену глубоким галошам в пору разлива глубоких и мелких рек. Быть; мусолить жирно-зелёный лист. Жить, были и видеть, как по канавам жухнет лопух. Жить-быть; по мере змеянья зимы меняться оттенкам её слюдяных чешуйчатых крыльев. Жить-быть — пускай переливаются перламутрово: любая сосулька, любое перепело».</p>
			<p class="song">Sharon Shannon, The Woodchoppers — A costa da Galicia</p>
			<p>С 1969 по 1971 годы Саша Соколов работал корреспондентом в газете «Литературная Россия». Некоторое время спустя был задержан при попытке пересечь чиранскую границу, но, благодаря родительским связям, избежал длительного тюремного срока. С мая 1972 года работал егерем в Безбородовском охотничьем хозяйстве в Калининской (ныне Тверской) области. В 1973 году закончил свой первый роман «Школа для дураков». Роман повествует об ученике Таком-то, страдающем от раздвоения личности и нелинейного восприятия времени.</p>
			<p class="poetry">
				Детство грусть сама есть. Вон, на пустоши<br/>
				Внуки дедушкин ищут табак,<br/>
				Шоколадницу ловят, капустницу<br/>
				И старинный поют краковяк:<br/>
				<br/>
				Вот умрёт наша бедная бабушка,<br/>
				Мы её похороним в земле,<br/>
				Чтобы стала она белой бабочкой<br/>
				Через сто или тысячу лет.<br/>
				<br/>
				Во саду обстоятельства прежние,<br/>
				Только астры цветут, а не мак,<br/>
				И стрекочет кузнечик небрежнее,<br/>
				И никем не беремен гамак.<br/>
			</p>
			<p class="song">Reelroadъ — Краковяк</p>
			<p>Роман «Школа для дураков» был опубликован в 1976 году американским издательством «Ардис». Случилось это уже после того, как Саша Соколов эмигрировал из Советского Союза. Роман получил лестный отзыв Владимира Набокова: «обаятельная, трагическая и трогательнейшая книга» — сказал о нём писатель. Сейчас Саша Соколов живёт в Тель-Авиве.
			<p class="poetry">
				«Неужели октябрь? Такая теплынь.<br/>
				Ведь когда бы не мышь листопада,<br/>
				Можно было бы просто забыть обо всем<br/>
				И часами глядеть в никудали.<br/>
				<br/>
				И нюхать полынь.<br/>
				<br/>
				Но приходится действовать, надобно жить,<br/>
				О наличьи лучины заботиться,<br/>
				И приходится ичиги беличьи шить,<br/>
				Запасаться грибом и охотиться.<br/>
				<br/>
				Потому что зима неизбежна».<br/>
			</p>
			<p class="song">Old Horned Sheep — Dancing bear</p>
			<p>Всего Саша Соколов опубликовал три романа: «Школа для дураков», «Между собакой и волком» и «Палисандрия». После публикации третьего романа перестал печататься и начал писать в стол, за что заслужил репутацию русского Сэлинджера. По слухам, рукопись четвёртого романа погибла в сгоревшем дотла доме в Греции. Все три романа изданы на русском языке издательством «Азбука» в серии «Азбука-Классика».</p>
			<p class="poetry">
				Бывает так: с утра скучаешь<br/>
				И словно бы чего-то ждёшь.<br/>
				То Пушкина перелистаешь,<br/>
				То Пущина перелистнёшь.<br/>
				<br/>
				Охота боле не прельщает.<br/>
				Рога и сбруи со стены<br/>
				Твой доезжачий не снимает,<br/>
				Поля отъезжие грустны.<br/>
				<br/>
				И тошно так, сказать по чести,<br/>
				Что не поможет верный эль.<br/>
				Чубук ли несколько почистить,<br/>
				Соседа ль вызвать на дуэль?<br/>
				<br/>
				Шлафрок ли старый, тесноватый,<br/>
				Велеть изрезать в лоскуты,<br/>
				Чтоб были новому заплаты,<br/>
				Задать ли в город лататы?<br/>
				<br/>
				Но вместо этого, совея,<br/>
				Нагуливаешь аппетит<br/>
				И вместе с дворнею своею<br/>
				В серсо играешь à реtit.<br/>
				<br/>
				А то, прослыть рискуя снобом,<br/>
				Влезаешь важно в шарабан<br/>
				С гербами аглицкого клоба<br/>
				И катишь важно, как чурбан.<br/>
				<br/>
				День, разумеется, осенён,<br/>
				И лист последний отлетит,<br/>
				Когда твой взор, вполне рассеян,<br/>
				Его в полет благословит.<br/>
				<br/>
				Из лесу вечер волчьей пастью<br/>
				Зевнет на первые огни,<br/>
				Но позабудешь все напасти<br/>
				И крикнешь кучеру: гони! —<br/>
				<br/>
				Когда вдруг — Боже сохрани! —<br/>
				Сорвутся мухи белой масти.<br/>
				Вбегаешь в дом — и окна настежь:<br/>
				Ах няня, что это, взгляни!<br/>
				<br/>
				Как будто солью кто посыпал<br/>
				Амбары, бани, терема...<br/>
				Очаровательно, снег выпал!<br/>
				И началась себе зима...<br/>
			</p>
			<p class="song">Áthas — Jigs: Boys of Tandragee / Tuesday morning / Checkered blanket</p>
			<p>Последняя изданная на сегодня книга Саши Соколова называется «Триптих». Издана она в 2012 году в издательстве «ОГИ» и включает в себя, как можно понять из названия, три произведения: «Рассуждение», «Газибо» и «Филорнит». Название последнего, кстати, означает «Любитель птиц», ну это я так, для любителей греческого прибавил.
			<p class="poetry">
				«впрочем, причём тут эллинский<br/>
				он ведь давно уж отчалил за окоём,<br/>
				в безвозвратное, бедный, если угодно, йоргос,<br/>
				и приблизительно в те же, в его же дни,<br/>
				только где-то поодаль,<br/>
				галдели халдейский и арамейский,<br/>
				шумели шумерский и финикийский,<br/>
				и возникало отчётливое ощущение,<br/>
				будто эти родные для стольких гортаней и ртов<br/>
				языки ни за что не умолкнут:<br/>
				куда там, умолкли как миленькие»<br/>
			</p>
			<p class="song">Bougnat Sound — Bonjour, belle bergère (valse)</p>
			<p>Как и во многих других произведениях сюрреалистов, в романах и «вещах», как они названы в аннотациях, принадлежащих авторству Саши Соколова царствует хронотоп и преобладает отсутствие категории пространства. Тысяча лет или тысяча километров, секунда или длина вытянутой руки — всё это не имело, да и не будет иметь никакого значения. Одни и те же герои будут переживать одни и те же события роман за романов, вещь за вещью, каждый раз по-разному. Отсуствтие сюжетной составляющей, стандартной структуры завязка-кульминация-развязка — тоже не менее важная характеристика этих литературных произведений.</p>
			<p class="poetry">
				«это подмечено у него в записках на запасном фор-бом-брамселе,<br/>
				что стоят на столе арифметика обок с гроссбухом<br/>
				и руководством как стать настоящим учётчиком,<br/>
				где говорится, что стать настоящим учётчиком может лишь тот,<br/>
				кто, учитывая существа и вещи<br/>
				их тщательно перечисляет<br/>
				<br/>
				пауза»<br/>
			</p>
			<p class="song">Twm Twp — Caerodor (jig)</p>
			<p>Саша Соколов по моим ощущениям, чем-то напоминает БГ. Я, признаться, хотел сопроводить рассказ о нём музыкой «Аквариума», но потом подумал, что двоим гуру в одной передаче будет тестовато. Борис Борисович, наверное, заслуживает отдельного рассказа.</p>
			<p class="poetry">
				знаток четырёх благородных истин,<br/>
				и вин,<br/>
				и табачных изделий,<br/>
				слегка угловат, эктоморф,<br/>
				ты прилежный хозяин был пары гнедых,<br/>
				обретённых зарёю твоей европейскости пылкой,<br/>
				штиблет из рaнгунa,<br/>
				да тройки из мaдaполaмa пиджачной серой,<br/>
				да пегого, исполняющего обязанности пальто<br/>
				архалука из дзaуджикaу,<br/>
				a в роли приличного головного убора<br/>
				муругий был занят берет<br/>
				a ля че с борнео<br/>
			</p>
			<p class="song">Brass Monkey — Doctor Fauster's tumblers / The night of Trafalgar / Prince William</p>
			<p>Вот и подошла к концу передача про Сашу Соколова. Если вы уже прочли его произведения, то вам должна быть понятна моя любовь к ним. Если же вы ещё не успели их прочесть — впереди длинная зима, когда из дел по хозяйству остаются лишь натирка лыж да растопка печей.</p>
			<p>В следующий раз, если всё будет в порядке, мы, живьём из студии «ФолкРадио» поговорим про Ива Леблана, а после послушаем его живое выступление. Наверное, следует пожелать нам удачи в этом нелёгком деле.
			<p class="poetry">
				Увы нам, наш климат для нас нездоров,<br/>
				Тут тянутся тучи цепочкой.<br/>
				Нашедший Записки, на розе ветров<br/>
				Пожги и развей мои строчки.<br/>
				<br/>
				Как сгинула некогда Амзтаракань,<br/>
				Татарской оравы столица;<br/>
				Как вымрет когда-нибудь таракан,<br/>
				Что пасся у хана в косицах;<br/>
				<br/>
				Как в сильную оттепель тают следы<br/>
				Полозьев и лосей наброды;<br/>
				Как — столь же бесследно — пропали труды<br/>
				Народов и сами народы;<br/>
				<br/>
				Как после бутылки минует тоска,<br/>
				Нам душу шершаво потискав,<br/>
				Так — столь же бесславно — исчезнут пускай<br/>
				С чекушкою вместе Записки.<br/>
				<br/>
				Кому это нужно все — вот в чём вопрос,<br/>
				Зачем я, охотник-лохмотник,<br/>
				На лоне бытья заскорузлый нарост,<br/>
				Срамник, выпивоха и сводник,<br/>
				<br/>
				Записки в верховьях реки сочинил<br/>
				И сплавил в низовья куда-то...<br/>
				Напрасная трата свечей и чернил<br/>
				И силы теченья растрата.<br/>
				<br/>
				Какая досада: лета напролёт<br/>
				Гуляешь, колядуешь лишку;<br/>
				Посмотришься в кружку — а ты уж удод.<br/>
				Хреново, худые делишки.<br/>
				<br/>
				Предзимье застало за штопкой мешка,<br/>
				Починкой мерёжи и бочки,<br/>
				Но знаю — набухнут исподтишка<br/>
				И лопнут настырные почки!<br/>
				<br/>
				Попробуй пожги только, дурья башка,<br/>
				Мои гениальные строчки.<br/>
			</p>
			<p class="song">Kan — Mangatakk</p>