			<p>Всем привет.</p>
			<p>С вами последняя «Кельтская новь».</p>
			<p class="song">Musica Antiqua Köln — Xerxes: Air pour les matelots jouant des trompettes marines (composed by Jean-Baptiste Lully)</p>
			<p>Три дня назад существенная часть этого мира отмечала Рождество, а через 10 дней другая часть мира будет отмечать другой, альтернативный вариант этого светлого праздника. Два предыдущих года я старался подобрать для рождественских эфиров музыку, тематически связанную с происходящими событиями. А в этот раз подумал — так ли важно, что будет звучать в ушах слушателей?</p>
			<p>Я пришёл к выводу что настроение, с которым мы приходим к началу эфира значительно важнее того, что случится в течение последующего часа.</p>
			<p class="song">Kathleen MacInnes — Oran na cloiche (Song of the stone)</p>
			<p>Как я уже говорил в прошлом эфире, я принял, прямо скажем, не самое простое решение. Я прекращаю выпускать «Кельтскую новь». Я не могу сказать, вернётся ли передача в эфир в будущем или будет забыта навсегда. Так или иначе, сегодняшний день я объявляю днём ретроспективы. Я предлагаю послушать мелодии, охватывающие те пять сотен лет популярной музыки, о которой я пытался рассказывать в «Нови». Итак, музыка, которую я люблю.</p>
			<p class="song">Кэп &amp; Ко — Енька</p>
			<p>Вы уже, наверное, обратили внимание, что я уделяю особое внимание музыке к танцам. Сейчас я, быть может, скажу несколько кощунственную вещь, но всё чаще я прихожу к мысли, что непрофессиональным (то есть не балетным) танцорам совершенно не интересна музыка, под которую они исполняют свои танцы. Важно лишь, чтобы музыка была ритмичной. Такое отношение привело к полнейшей деградации современной танцевальной музыки. Поэтому я не люблю современную танцевальную музыку.</p>
			<p class="song">The Early Music Consort of London — Suite de ballets: Ballet des bacchanales / Ballet des matelots / Ballet des coqs</p>
			<p>А вот танцевальная музыка, написанная до начала двадцатого века наоборот отличается разнообразием. Тут, как мне кажется, всё вполне объяснимо: до появления звукозаписи у композиторов было не так много возможностей услышать музыку, скажем, столетней давности. Как следствие, не было и большого разнообразия музыкальных жанров — все композиторы одной эпохи сочиняли музыку в схожих стилях.</p>
			<p>Ну, а чтобы как-то показать уникальность написанной ими мелодии, композиторы вырабатывали свой, несколько отличный от других композиторов стиль. И именно этот стиль мы и ценим.</p>
			<p class="song">Slovak Radio Symphony Orchestra, Vienna Männergesang-Verein — By the beautiful blue Danube, Waltz, Op. 314 (composed by Johann Strauss II)</p>
			<p>Из новых танцевальных жанров, как вы, наверное, уже догадались, мне нравится музыка (но не танцы!) стиля кейли — сравнительного нового ирландского танцевального стиля, появившегося на рубеже девятнадцатого и двадцатого веков. Вообще кейли — это такой праздник, вроде сельской вечеринки. До обретения одноимённым танцевальным стилем существенной популярности, основными занятиями на празднике были пение песен, чтение стихов и рассказывание различных историй.</p>
			<p>И, хотя мне не очень приятно, что другие важные аспекты культуры были позабыты, стоит верить, что всякое изменение — к лучшему.</p>
			<p class="song">Keith Smith, Green Ginger — Twelfth set of quadrilles: La poule (composed by Jas. Paine)</p>
			<p>Впоследствии музыка стиля кейли разделилась на несколько новых жанров. В их числе — нелюбимый мною медитативный new age и любимый мною стиль, называемый «новая кельтская музыка». Этот стиль сочетает игру на традиционных инструментах, доведённую до виртуозного уровня, общемировую музыкальную культуру и современные технологии обработки музыки: семплеры, секвенсоры, ревербераторы и прочие непонятные слова. И получается здорово.</p>
			<p class="song">Kan — Modul 1</p>
			<p>В стиле «новой кельтской музыки» играют такие гиганты как "Flook", "Lúnasa", "Comas", "Kan" и некоторые другие коллективы.</p>
			<p>Кроме «кельтской» традиции существуют и другие музыкальные культуры, ничуть не менее занимательные. Вот, например, совершенно в России не известная английская песенная традиция — я ни разу не слышал, чтобы в наших клубах исполняли британский фолк. А ведь именно из британского фолк-возрождения начались все другие европейские фолк-возрождения.</p>
			<p>Следующая композиция уже звучала в «Кельтской нови». Но я, вообще-то не очень слежу за тем, сколько раз каждый трек появляется в эфире.</p>
			<p class="song">The Playfords — Lilliburlero - 'Ho brother Teague'</p>
			<p>Стоит отметить, что самая характерная для «кельтской» музыкальной традиции форма — джига или жига популярна не только на британских островах. Я уже освещал тему общеевропейского ритма в 6/8 в одной из предыдущих передач. А сейчас я предлагаю вам послушать жигу немецкого композитора Георга Филиппа Телеманна (кстати, тоже героя нашей программы) в исполнении гениальной Хилле Перл.</p>
			<p class="song">Hille Perl — Suite in D: Gigue (composed by Georg Philipp Telemann)</p>
			<p>Продолжая тему английской музыки, стоит упомянуть и об английских контрдансах. И про них (вы не поверите, Патрик), я тоже делал отдельную передачу. Традиция английских контрдансов, родившись в середине XVII века, благополучно умерла к концу века XIX. Честь возрождения контрдансов принадлежит Сесилу Шарпу. Вообще сложно придумать что-нибудь, связанное с английскими народными традициями, чего бы не успел повозрождать Сесил Шарп.</p>
			<p class="song">Mark Gilston — Prince William</p>
			<p>Интересной порой оказывается и современная американская музыкальная традиция. Мне, например, очень нравятся эксперименты видных специалистов музыки стиля блюграсс с джазовыми музыкантами. Про Белу Флека я уже неоднократно рассказывал всякие хорошие вещи. А вот Сару Джарош по какой-то никому не известной причине вниманием я обошёл. Исправляюсь. Вот вам блюграссовый кавер на песню Тома-нашего-всего-Уэйтса.</p>
			<p class="song">Sarah Jarosz — Common up to the house</p>
			<p>Есть такой замечательный проект "Transatlantic sessions". Идея его отлично выражена прямо в названии: что будет, если собрать известных музыкантов по обе стороны Атлантики, запереть их в доме с кучей музыкальных инструментов и толковым звукорежиссёром, а потом выпустить всё, что получилось на компакт-дисках? Получится вещь! Вот, например, где вы ещё смогли бы услышать блюграсса на аккордеоне от Фила Каннингема? Или Сару Джарош, исполняющую шотландскую народную песню?</p>
			<p class="song">Sarah Jarosz — Annabel Lee</p>
			<p>В проекте "Transatlantic sessions" участвуют более двух десятков музыкантов, но вот возглавляют эту группу два человека. Американскую сторону проекта представляет гитарист и продюсер Джерри Дуглас, а Британские острова представлены Али Бейном, скрипачом с Шетландских островов. Одну из сольных композиций Али Бейна я и предлагаю вам послушать.</p>
			<p>Тем временем, первый час нашей программы подошёл к концу. Но, прощаться я не собираюсь, а собираюсь вернуться в эфир после небольшой рекламной паузы на ФолкРадио.</p>
			<p class="song">Aly Bain — Midnight on the water / Bonaparte's retreat</p>
			<p>Отзвучала рекламно-поздравительная пауза на ФолкРадио и последняя «Кельтская новь» снова в эфире. Во второй части нашего прощального эфира я хотел бы поговорить о другой области культуры, которая мне интересна — я хочу поговорить с вами о поэзии. Ну, а раз мы отмечаем Рождество, то почему бы не прочесть каких-нибудь рождественских стихов?</p>
			<p class="poetry">
				Волхвы пришли. Младенец крепко спал.<br/>
				Звезда светила ярко с небосвода.<br/>
				Холодный ветер снег в сугроб сгребал.<br/>
				Шуршал песок. Костёр трещал у входа.<br/>
				<br/>
				Дым шёл свечой. Огонь вился крючком.<br/>
				И тени становились то короче,<br/>
				То вдруг длинней. Никто не знал кругом,<br/>
				Что жизни счёт начнётся с этой ночи.<br/>
				<br/>
				Волхвы пришли. Младенец крепко спал.<br/>
				Крутые своды ясли окружали.<br/>
				Кружился снег. Клубился белый пар.<br/>
				Лежал младенец, и дары лежали.<br/>
			</p>
			<p class="song">Jordi Savall, Le concert de nations — Musiques pour le mariage du Roy Louis XIII faites en 1615: Bourrée d'avignonez</p>
			<p>Есть у меня такие объекты — тетрадки со стихами. В них я записываю всякие понравившиеся мне образцы стихотворного творчества. Есть там, конечно, и сочинённые мною вещи, но ими я вас сегодня мучить не буду. А помучаю я вас другими поэтами.</p>
			<p class="poetry">
				На утро подморозит: так сказали.<br/>
				Ущербный месяц в радужном венце.<br/>
				А Моисей расколотил скрижали<br/>
				И в тайне мыслит о златом тельце.<br/>
				<br/>
				Ни звука в зыбких временах, ни знака.<br/>
				И Рим, и Вильнюс под луной одной.<br/>
				И Авраам, прирезав Исаака<br/>
				В честь Яхве, возвращается домой.<br/>
			</p>
			<p class="song">Аквариум — Древнерусская тоска</p>
			<p>Наверное, именно из-за поэзии мне нравится стиль, именуемый нынче «русский рок». И, хотя поэзия в последнее время всё чаще проигрывает музыкальной составляющей альбома, есть в современном нам мире несколько коллективов, до сих пор уделяющих должное внимание слову.</p>
			<p class="poetry">
				Известно это много-много лет,<br/>
				И гордость наши души наполняет:<br/>
				Поэт в России больше, чем поэт<br/>
				В другой стране спиртного потребляет.<br/>
			</p>
			<p class="song">Ирина Богушевская — Прощай, оружие</p>
			<p>Всего у меня накопилось три тетрадки со стихами. Кстати, вы можете считать этой блажью — ведь к моменту нашей следующей встречи вы успеете обо всём позабыть.</p>
			<p class="poetry">
				Родился я, как все, случайно<br/>
				И без предвзятости притом...<br/>
				Был на Гороховой наш дом.<br/>
				Отец был рад необычайно,<br/>
				Когда товарищ по полку<br/>
				Затеял вдруг в командировку<br/>
				Из телеграмм бомбардировку,<br/>
				И, лёжа на живом шелку<br/>
				Травы весенней, в телеграмме<br/>
				Прочёл счастливый мой papa,<br/>
				Что я родился, дея pas,<br/>
				Pas, предусмотренные в драме,<br/>
				Какую жизнью свет зовёт.<br/>
				Ему привет товарищ шлёт<br/>
				И поздравляет папу с сыном<br/>
				Егорушкой. Таким скотинам,<br/>
				Как этот Дэмбский, папин друг,<br/>
				Перековеркавший мне имя,<br/>
				Я дал бы, раньше всех наук,<br/>
				Урок: ошибками своими<br/>
				Таланта не обездарять:<br/>
				Ведь Игоря объегорять —<br/>
				Не то, что дурня объегорить,<br/>
				Каким был этот офицер...<br/>
				Ему бы всем другим в пример,<br/>
				Лицо полезно разузорить…<br/>
				Отец мой, вмиг поняв ошибку<br/>
				Приятеля, с киргофских гор<br/>
				Прислал привет отцовский в зыбку.<br/>
				Шалишь, брат: Игорь — не Егор!<br/>
				«Егор! Егорий!» — так на торге<br/>
				Базарном звал народ простой<br/>
				Того, кто в жизни был Георгий<br/>
				Победоносный и святой.<br/>
			</p>
			<p class="song">Radio-Sinfonie-Orchester Frankfurt, Dmitri Kitaenko — Suite no. 2 for jazz orchestra: 7. Waltz II (composed by Dmitry Shostakovich)</p>
			<p>Тем временем мы переходим ко второй тетрадке. Она, кстати, начинается с песни ‹Tri martolod› на народном бретонском языке. Видимо, когда я заводил эту тетрадку, я был очарован этой ветвью кельтской культуры.</p>
			<p>Кстати, Оскар за лучший инструментальный альбом с бал-фолком уходит группе ‹Zlabya› из Бельгии. Других номинантов на этот приз просто не нашлось.</p>
			<p class="poetry">
				Если вам, сударь, печально и грустно,<br/>
				То здесь распрягите коней.<br/>
				Вас приютит и согреет искусство<br/>
				В этой таверне своей.<br/>
				<br/>
				Девочка, двигайся ближе к камину,<br/>
				Смело бери ананас.<br/>
				Пейте, милорды, шипучие вина:<br/>
				Платит искусство за нас.<br/>
				<br/>
				Вместе за круглым столом соберёмся,<br/>
				Ярко пылает камин.<br/>
				Песня — и та для искусства поётся,<br/>
				Старая песня, как мир.<br/>
			</p>
			<p class="song">Zlabya — Manhattan igloo</p>
			<p>С поэзией неразрывно связано такое явление, как театр. И тут я должен отдать безусловное предпочтение старине. Мне интереснее всего смотреть на современные интерпретации произведений Шекспира: в «Сатириконе» очень крутые вещи делает Юрий Бутусов, а в интернете можно найти сериал «Пращи и стрелы» и несколько толковых постановок избитых сюжетов «Макбета» и «Гамлета».</p>
			<p class="song">
				Поднимается занавес: на сцене, увы, дуэль.<br/>
				На секунданте — коричневая шинель.<br/>
				И кто-то падает в снег, говоря «Ужель».<br/>
				Но никто не попадает в цель.<br/>
				<br/>
				Она сидит у окна, завернувшись в шаль.<br/>
				Пока существует взгляд, существует даль.<br/>
				Всю комнату заполонил рояль.<br/>
				Входит доктор и говорит: «Как жаль...»<br/>
				<br/>
				Метель за окном похожа на вермишель.<br/>
				Холодно, и задувает в щель.<br/>
				Неподвижное тело. Неприбранная постель.<br/>
				Она трясёт его за плечи с криком: «Мишель! Мишель,<br/>
				<br/>
				проснитесь! Прошло двести лет! Не столь<br/>
				важно даже, что двести! Важно, что ваша роль<br/>
				сыграна! Костюмы изгрызла моль!»<br/>
				Мишель улыбается и, превозмогая боль,<br/>
				<br/>
				рукою делает к публике, как бы прося взаймы:<br/>
				«Если бы не театр, никто бы не знал, что мы<br/>
				существовали! И наоборот!» Из тьмы<br/>
				зала в ответ раздаётся сдержанное «хмы-хмы».<br/>
			</p>
			<p class="song">Крематорий — Призрак Пиноккио</p>
			<p>Мне кажется, с приходом в нашу жизнь различных электронных устройств, мы стали меньше читать. Вот подумайте сами — когда вы в последний раз читали книгу (хорошо, пусть электронную)? А о бумажной книге, да чтобы ещё и изданной на хорошей бумаге, наверное, не придётся даже мечтать.</p>
			<p class="poetry">
				Возможно, в ту эру было морознее,<br/>
				Эффект парниковый был людям неведом.<br/>
				Отсюда торжественнее и серьёзнее<br/>
				Христа ниспослание выглядит небом.<br/>
			</p>
			<p class="song">Slua Sí — Belharbour / Bonaparte's march / Peacock's feather</p>
			<p class="poetry">
				И вот, проведя подобную ретроспективу<br/>
				Песен, стихов, театров, книг и рассказов,<br/>
				Я собираюсь прервать изложенье мотивов.<br/>
				Так что удачи. Спасибо за всё и... Занавес!<br/>
			</p>
			<p class="song">Lúnasa — Lafferty's / Crock of gold / Lady Birr / Abbey reel</p>