		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="/images/icon.png" type="image/png"/>
		<script type="text/javascript" src="/js/script.js"></script>
		<link rel="stylesheet" href="/css/style.css" type="text/css"/>
		<meta name="description" content="Личный сайт Юрия Чернышова с нехитрыми заметками о дизайне, текстами передачи «Кельтская новь», а также кое-чем ещё"/>
		<meta name="keywords" content="рулевые, кельтская новь, дизайн, заметки, портфолио, личный сайт"/>
